.instruction {
	background-color: #ddddff;
	border: 4px solid #ddddff;
	margin: 1em 0em;
}

.title {
	border: 2px solid #003388;
	padding: 0.2em;
	padding-left: 52px;
	font-size: 140%;
	font-weight: bold;
	color: #003388;
}

.guide {
	background: transparent url(images/cc/48x48/apps/khelpcenter.png) no-repeat scroll top left;
}

.steps {
	background-color: #fafafa;
	margin-top: 4px;
	border: 2px solid #003388;
}

.stepTitle {
	font-weight: bold;
	padding: 0.3em 0.4em;
	border-bottom: 2px solid #dddddd;
}

.open {
	background: transparent url(images/cc/16x16/actions/1downarrow.png) no-repeat scroll middle center;
	height: 16px;
	width: 16px;
	float: right;
	display: block;
}