/* Testo
 *  Chiaro: #eeeeee
 *  Scuro: #444444
 * Sfondo
 *  Azzurro chiaro: #ccddff
 *  Azzurro scuro: #003388
 *  Grigio: #fafafa
 */

/*==========MAIN==========*/
html, body {
	margin: 0;
	padding: 0;
}
body {
	background: #fafafa;
	color: #000;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 70%;
}
img {
	border: 0px;
	margin: 4px;
}
.cleaner {
	clear: both;
}
.underline {
	text-decoration: underline;
}
em {
	font-style: italic;
	color: #003388;
}
acronym {
	border-bottom: thin dashed #777777;
}
tt {
	font-size: 120%;
	margin: 1em;
}
/*==========HEADER==========*/
#header {
	border-bottom: 2px solid #dddddd;
	background: #ffffff;
}
#search {
	float: right;
	padding: 5px 5px 0 0;
}
#search p {
	padding: 0;
	margin: 0;
	text-align: right;
	font-size: 90%;
}
#search a {
	color: #003388;
}
#search a:hover {
	color: #ccddff;
}
#search input {
	font-size: 80%;
}
/*==========MAIN==========*/
#main {
	color: #444;
	padding: 0.3em 0;
}
/*==========MENU==========*/
#menu {
	float: left;
	width: 180px;
	font-size: 90%;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu a {
	display: block;
	margin: 2px 0;
}
.menu a {
	background-color: #003388;
	color: #eeeeee;
	width: 160px;
	padding: 2px 3px;
	text-decoration: none;
}
.submenu a {
	background-color: #ccddff;
	color: #444444;
	width: 155px;
}
#valid {
	margin-top: 1em;
	text-align: center;
}
/*==========CONTENT==========*/
#content {
	margin-left: 180px;
	padding-right: 1em;
}
#content a {
	color: #003388;
}
#content a:hover {
	color: #ccddff;
}
#content ul {
	list-style: url('images/list.png');
}
#content li {
	line-height: 180%;
}
#content h1 {
	font-size: 180%;
	color: #000000;
	border-bottom: 2px solid #003388;
}
#content h2 {
	font-size: 150%;
	color: #003388;
	border-bottom: 2px solid #dddddd;
}
#content h3 {
	font-size: 120%;
}
#content p {
	margin-left: 1em;
	line-height: 130%;
}
#path {
	text-align: right;
	font-size: 90%;
}
#path a{
	text-decoration: none;
}
#path .current {
	font-weight: bold;
}
/*==========FOOTER==========*/
#footer {
	background: #ffffff url('images/hshadow.png') repeat-x;
	border-top: 2px solid #ddd;
	color: #777;
	text-align: center;
	padding: 0.5em 0 1em 0;
	font-size: 90%;
}
#footer a {
	color: #003388;
}
#footer a:hover {
	color: #ccddff;
}
.footerpart{
	margin: 1.5em 2em;
}
#sponsorsun {
	float: left;
}
#sponsorcollabnet {
	float: right;
}
#smallprint {
}
.horizontalmenu li {
	display: inline;
	padding: 0 1.5em;
	font-size: 120%;
}
/*==========TABELLA==========*/
table {
	border: 2px solid #003388;
	background-color: #eeeeee;
	width: 100%;
	margin-bottom: 1em;
}
table tr {
	background-color: #fafafa;
}
table td {
	padding: 3px 3px;
}
table caption {
	background-color: #003388;
	font-size: 110%;
	font-weight: bolder;
	color: #eeeeee;
	padding: 5px 0px;
}
table thead {
	background-color: #ccddff;
	font-size: 100%;
	font-weight: bolder;
	color: #444444;
}
table th {
	padding: 5px;
}
tr .center {
	text-align: center;
}
/*==========IMMAGINI==========*/
.left {
	float: left;
}
.right {
	float: right;
}
.frame {
	border: 2px solid #ccddff;
	background-color: #fafaff;
	padding: 4px;
}