/* $Id: elements.css,v 1.6 2007/01/24 21:52:13 murb Exp $

This file contains rules that extend the more basic formatting defined in tigris.css and
inst.css. This file only contains things that hopefully will promote a more consistent overall
look to the OOo website. Inclusion of this file is not automatic (not yet).

Usage is (/will) be described at http://website.openoffice.org/users/murb/elements/

*/

/*

 B U T T O N S

*/


/*-------------------- Standard Button Design ---------------------------*/
.button {
  display: block;
  width: 193px;
  margin: 0px;
  margin-bottom: .5em;
  padding: 0px;
  color: #505256;
  background: #C4DAE9 no-repeat;   
  font-size: 1.3em; 
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-transform: lowercase;
}
.button:hover {
  color: #395073;
  background-color: #E1ECF4;
  cursor: pointer; 
}
.button span {
  display: block;
  width: 163px;
  margin: 0px;  
  padding-left: 30px;
  padding-top: 1em; 
  height: auto!important; /* IE 'hack' for min-height */
  height: 70px;
  min-height: 70px;
 
}
.button span small {
  font-weight: normal;
}
/*-------------------- Download button ---------------------------*/
#buttondownload {
  width: 250px;
  margin-top: 0.5em;
  margin-left: 4%;
  font-size: 1.4em;
  color: #464D31;
  background: #B9E06C url("http://www.openoffice.org/style/buttondownload_top.gif") no-repeat;
}
#buttondownload:hover {
  background-color: #c7e094;
}
#buttondownload span {
  display: block;
  width: 215px;
  min-height: 85px;
  height: auto!important; /*ie hack for minheight*/
  height: 85px;
  padding-top: 15px;
  padding-left: 35px;
  vertical-align: bottom;
  background: url("http://www.openoffice.org/style/buttondownload_bottom.gif") no-repeat bottom right;
}

#buttondownload sub {
  font-size: .6em;
  font-weight: normal;
  margin-top: .2em;
}

/*

N O T I C E S ,    A L E R T S ,   E T C . . .


*/

.notice {
margin: 0px;
padding: 1em;
width: 90%;
margin: 3%;
border: #ACA899 solid 1px;
background: #FFFFE1;
}

.alert {
margin: 0px;
padding: 1em;
width: 90%;
margin: 3%;
border: #99A8AC solid 1px;
background: #E1FFFF;
}
