 #if( $acl.hasPermission("Project Page - View ", $currentDomain) ) 
 <div><a href="/project/www/docs/Learning.html">Learn 
 more about this project?</a> </div>#end
 #if( $acl.hasPermission("Project - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMembershipRequest.html">Join 
 this project?</a></div>
#end
