 #if( $acl.hasPermission("UserGroup - Edit", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminUserGroups.html#editusergroup">Add 
 users to a user group?</a> 
 </div>
#end 
 #if( $acl.hasPermission("UserGroup - Edit", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminUserGroups.html#assign">Grant 
 or change user group roles?</a>
</div>
#end 
 #if( $acl.hasPermission("ProjectGroup - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#manageroles">Assign 
 user groups to projects or project groups?</a>
</div>
#end
 
