/*
 * Lokales Stylesheet für das de-Projekt
 *
 * $Id: de.css,v 1.11 2005/04/29 17:55:21 andreschnabel Exp $
 *
 */

/* -------------------------------------------------------------
 * allgemeine Styles
 * -------------------------------------------------------------
 */

/* SimonAW, Mar 28 2008: Linken Rand etwas groesser, damit die
 * Quick-Download-Tabelle nicht so am Rand 'klebt'
 */
#bodycol {
	margin-left: 2em;
}

/*--- Tabellen (grauer Hintergrund, weisser Rand innen und aussen		
Caption über der Tabelle, dunkelblauer Hintergrund) ---*/
#body_de table{	background-color:#fff; color:0;	border-collapse:collapse; border-spacing:0;
border-style: solid; border-width: 2px; border-color: #fff;	
margin-bottom:5px;}
#body_de table caption	
{	
	background-image: url(/branding/images/nw_maj_rond.gif); 
	background-repeat: no-repeat;	
	background-color:#06348C; color:#fff;	
	font-weight:bold; font-size: 80%; font-variant:small-caps;	
	text-align:left; padding:4px;	
	border-style: solid; border-width: 2px; border-color: #fff;	
	margin-top:5px;
}
#body_de th	
{	
	background-color:#bbb;	color:0; padding:3px; padding-top:5px;	
	border-style: solid; border-width: 2px; border-color: #fff;
}
#body_de td 
{	
	background-color:#efefef; color:0; padding:2px;	
	border-style: solid; border-width: 1px; border-color: #fff;
}
/*--- Style für ungerade Tabellenzeilen (diese Klasse wird automatisch 
durch ein Javascript für <tr> gesetzt ) das script beachtet nur Tabellen 
der Klasse "decorate"---*/
#body_de .oddRow td{	background-color:#ddd}

/*--- Tabellen (grauer Hintergrund, weisser Rand innen und aussen Caption über der Tabelle, dunkelgruener Hintergrund) ---*/
#body_de_1 table
{	background-color:#fff; color:0;	
	border-collapse:collapse; border-spacing:0; border-style: solid; border-width: 2px; 
	border-color: #fff;	
	margin-bottom:5px;
}
#body_de_1 table caption	
{	
	background-image: url(/branding/images/nw_maj_rond.gif); 
	background-repeat: no-repeat; background-color: rgb(99,178,76); color:#fff;	
	font-weight:bold; font-size: 80%; font-variant:small-caps;	
	text-align:left; padding:4px;	
	border-style: solid; border-width: 2px; border-color: #fff;	
	margin-top:5px;
}
#body_de_1 th	
{	
	background-color:#bbb;	color:0; padding:3px; padding-top:5px;	
	border-style: solid; border-width: 2px; border-color: #fff;
}
#body_de_1 td 
{	
	background-color:#efefef; color:0; padding:2px;	
	border-style: solid; border-width: 1px; border-color: #fff;
}
/*--- Style für ungerade Tabellenzeilen (diese Klasse wird automatisch durch ein Javascript für <tr> gesetzt ) das script beachtet nur Tabellen der Klasse "decorate"---*/
#body_de_1 .oddRow td{	background-color:#ddd}


/*--- Tabellen (grauer Hintergrund, weisser Rand innen und aussen Caption über der Tabelle, gruener Hintergrund) ---*/
#body_de_2 table
{	background-color:#fff; color:0;	
	border-collapse:collapse; border-spacing:0; border-style: solid; border-width: 2px; 
	border-color: #fff;	
	margin-bottom:5px;
}
#body_de_2 table caption	
{	
	background-image: url(/branding/images/nw_maj_rond.gif); 
	background-repeat: no-repeat; background-color: rgb(99,178,76); color:#fff;	
	font-weight:bold; font-size: 80%; font-variant:small-caps;	
	text-align:left; padding:4px;	
	border-style: solid; border-width: 2px; border-color: #fff;	
	margin-top:5px;
}
#body_de_2 th	
{	
	background-color:#bbb;	color:0; padding:3px; padding-top:5px;	
	border-style: solid; border-width: 2px; border-color: #fff;
}
#body_de_2 td 
{	
	background-color:#efefef; color:0; padding:2px;	
	border-style: solid; border-width: 1px; border-color: #fff;
}
/*--- Style für ungerade Tabellenzeilen (diese Klasse wird automatisch durch ein Javascript für <tr> gesetzt ) das script beachtet nur Tabellen der Klasse "decorate"---*/
#body_de_2 .oddRow td{	background-color:#ddd}


/*-------------------------------------------------------------*//*--- Styles für "Sonderelemente"---*//*-------------------------------------------------------------*//*--- Klassen für FAQ's (Absätze für Fragen bzw. Antworten) ---*/#body_de p.question {	font-weight:bold;	margin-top:20px; padding-left:30px;	background-image:url(../doc/pics/q.gif); background-repeat:no-repeat;}#body_de p.answer {	margin-top:10px; padding-left:30px;	background-image:url(../doc/pics/arrow.gif); background-repeat:no-repeat;}/*--- Klassen für "Tipp"-Tabellen (häufig in den Dokus / HowTo's	genutzt, die mit dem Writer-Styleguide erzeugt wurden	- Abtände oben und Unten	- Tipp-Grafik wird als <th> ausgeführt, hat weissen Hintergrund 	- Tipp-Text wird als <td> ausgeführt, bekommt grauen Hintergrund 		und oben / unten doppelten Rand---*/#body_de table.tipp {	margin-top:20px; margin-bottom:20px;	border-style: none; }#body_de table.tipp th {	background-color:#ffffff;	border-style: none;}#body_de table.tipp td {	border-width: 3px; border-color: #000;	border-top-style: double; border-bottom-style: double; 	border-left-style: none; border-right-style: none; }/*--- Klasse, um Hintergrund auf weiss zu setzen (z.B. für 	einzelne Tabellenzellen) Nur als Ausnahme benutzen! ---*/#body_de .white-background {	background-color:#ffffff;}
