/*-------------------------------------------------------------
	Lokales Stylesheet für de - Projekt
	Navbar
	- Spezielle Styles für Navbar
	- Navbar eingeblendet

	$Id: de_navbar4.css,v 1.6 2005/12/16 09:05:10 markomlm Exp $
-------------------------------------------------------------*/

#navbar_de {
	visibility:visible;
	position:static; float:right; 
	margin-left:5px; margin-bottom:20px;
	border-style:outset; border-width:1px; border-color:black;
	border-spacing:0px; padding:0px;
	font-size:small;
	background-color: #efefef;
}

/* Folgendes von Andreas */
ul#navbar_de, ul#navbar_de ul{
list-style: none;
}

ul#navbar_de{
width: 12em;
margin: 0;
padding: 0;
border: 1px solid gray;
color: inherit;
background: #efefef; 
}

ul#navbar_de li{
font-weight: bold; 
padding-top:3px;
padding-bottom:3px;
border: 0;
border-style:none;
text-align:center;
color: white;
background: #06348C; 
}
ul#navbar_de li a:link {
text-decoration: none;
font-weight: normal; 
color: white;
background: #06348C; 
}
ul#navbar_de li a:visited {
text-decoration: none;
font-weight: normal; 
color: #ffafaf;
background: #06348C; 
}
ul#navbar_de li a:hover {
text-decoration: underline ; 
font-weight: normal;
}

ul#navbar_de li ul {
display: block;
width: 99%;
margin: 0;
padding: 1px;
border: 0;
}

ul#navbar_de li ul li{
font-weight: bold; 
display: block;
width: 98%;
margin: 0;
padding: 1px;
border: 0;
text-align:left;
color: black;
background: #efefef;
}

ul#navbar_de li ul li a:link {
text-decoration: none;
font-weight: normal; 
color: black;
background: #efefef;
}
ul#navbar_de li ul li a:visited {
text-decoration: none;
font-weight: normal; 
color: #8f1f1f;
background: #efefef;
}
ul#navbar_de li ul li a:hover {
text-decoration: underline ; 
}



/*-------------------------------------------------------------*/
