/*-------------------------------------------------------------
	Lokales Stylesheet f�r de - Projekt
	Navbar
	- Spezielle Styles f�r Navbar
	- Navbar eingeblendet

	$Id: de_navbar6.css,v 1.16 2009/01/20 07:03:51 markomlm Exp $
-------------------------------------------------------------*/

#navbar_de {
	visibility:visible;
	position:static; float:right; 
	margin-left:5px; margin-bottom:20px;
	border-spacing:0px; padding:0px;
	font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
	background-color: #efefef;
}

#navbar_de th{
	background-color: #06348C;	color: #fff;
	border-style:none;
	padding:3px;
	padding-top:5px;
}

#navbar_de th.dev{
	background-color:#fc9; color:#000000;
}

#navbar_de th a:link, #navbar_de th a:visited {
	text-decoration: none !important;	color: #fff;
}

#navbar_de td {
	background-color: #efefef; color: 0;
	border-style:none;
	padding:1px;
	padding-left:6px;
	text-indent:-3px;
	}

#navbar_de td a:link, #navbar_de td a:visited {
	text-decoration: none !important;	color: 0;
}


/* Folgendes von Andreas */
ul#navbar_de, ul#navbar_de ul{
list-style: none;
background: #fff;
}

ul#navbar_de{
width: 12em;
margin: 0px;
padding: 0px;
color: #555;
background: #fff;
}

ul#navbar_de li {
	/* SimonAW, Mar 28 2008: Die Schrift war zu gross. */
	font-size: .9em;

	background-color: #DEE4EE;
	background-image: url("/branding/images/lesslightbluefadeout.gif");
	background-repeat: repeat-y;
	background-position: top right;

	color: #06348C;
	border-bottom: 0px none;
	border-right: 0px none;

	/* SimonAW, Mar 28 2008 */
	padding: 6px; /* war: 2px */

	padding-left: 5px;

	/* SimonAW, Nov 25 2008 */
	margin: 0 0 0 0;


	font-weight: bold; 
	text-align:left;
}

ul#navbar_de li a:link {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}
ul#navbar_de li a:hover {
text-decoration: none !important;
color: #698ed1;
}
ul#navbar_de li a:visited {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}

ul#navbar_de li ul {
display: block;
width: 100%;
margin: 0;
padding: 2px;
padding-left: 0.5em;
margin-left: -5px;
margin-top: 2px;
margin-bottom: -2px;
border: 0;
}

ul#navbar_de li ul li{
	background-image: url("/branding/images/strich.gif");
	background-repeat: no-repeat;
	background-position: 0em .65em;
font-weight: bold; 
display: block;
width: 100%;
margin: 0;
border: 0;
text-align:left;
background-color: #fff;
color: #06348C;

}

ul#navbar_de li ul li a:link {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}
ul#navbar_de li ul li a:visited {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}
ul#navbar_de li ul li a:hover {
text-decoration: none !important;
font-weight: normal; 
color: #698ed1;
}

/* Added by MarkoMLM Jan 20 2009 */
#positioner h1 { text-transform: capitalize }

/*-------------------------------------------------------------*/
