
#dlBoxes {
	max-width: 1200px;
	margin: 20px auto 20px auto;
}

#dlCurrent {
	background: #b9df68 url("/pics/download-current.png") no-repeat 100% 0;
}

#dlProoobox {
	background: #ffbe77 url("/pics/download-dev.png") no-repeat 100% 0;
}


.dlHeading {
	font-size: 1.5em;
	font-weight: bold;
}

.dlSubinfo {
	margin-top: 1em;
	margin-left: 10px;
	margin-bottom: 2em;
}

.dlExplanation {
	font-size: .8em;
}

.dlBox {
	padding: 10px 150px 10px 10px;
	margin: 20px auto 10px auto;
}

#dlExtensions {
	background: #c1d6f2 url("/pics/download-ext.png") no-repeat 100% 0;
}

#dlNext {
	background: #fbd54d url("/pics/download-rc.png") no-repeat 100% 0;
}

#additionalInformation {
	border: 1px solid blue;
}

.section {
	font-size: 1.2em;
	margin-top: .5em;
}

ul[class=dlItemList] li {
	margin-left: 50px !important;
}
