
/* Main CSS */
/* Besuchte Links immer noch unterstrichen darstellen */
a:link {
 text-decoration: underline !important;
 color: rgb( 6, 42, 140 ) !important;
}

a:visited {
 text-decoration: underline !important;
 color: rgb( 100, 100, 100 ) !important;
}

#navigation  a:link {
/* color: white !important; */
 text-decoration: none !important;
}

#navigation  a:visited {
/* color: white !important; */
 text-decoration: none !important;
}

#navigation  li.th a:link {
 color: rgb( 6, 42, 140 ) !important;
 text-decoration: none !important;
}
/* minitab-Links (die Box oben rechts)  */
#minitabs a:link { color: white !important; text-decoration: none !important; }
#minitabs a:visited { color: white !important; text-decoration: none !important; }
/* -- */

#navcol {
	display: none;
}

#breadcrumbs {
	display: none;
}

#portal-sections {
	float: left;
	width: 30%;
	/*border: 1px solid #80b0f0;*/
}

#info-section {
	border:none;
	background: #ecf5fb url("../pics/counterwave.png") repeat-y -4px 0;
	margin-left: 30%;
	padding-bottom: 14px;
}

#greeter {
	/*background: url("../pics/lines.gif") no-repeat 100% 0;*/
	padding-left: 60px;
}

#containerLines {
	/*background: url("../pics/lines.png") no-repeat 100% 0%;*/
}

#opener {
	border: 1px solid #ecf5fb;
}

#download {
	/* background: url("../pics/dnarrow.png") no-repeat 14px 14px; */
	font-weight: bold;
	/*font-size: 2em;*/
	margin-top: 20px;
	padding: 12px;
}

/* Update Box */
#updateinfo {
	font-weight: bold;
	font-size: 2em;
	margin-top: 20px;
	padding: 12px;
}

#update-sub-links {
	font-size: .5em;
	margin-top: 0em;
	line-height: 1.8em;
}

#download-sub-links {
	font-size: .5em;
	margin-top: 0em;
	line-height: 1.8em;
}

#ooo-modules {
	border:none;
	text-align: center;
	margin-top: 12px;
}

img.icon {
	border: 0;
}

.sectMainLink {
	padding-top: 10px; /* was 3px */
	font-size: 1.4em; /*was 1.7*/
	background: url("../pics/sectwave.png") no-repeat 0% 0%;
	/*height: 100%;*/
	height: 90px;
	padding-left: 30px;
	
}

.sectMainLinkDoubleHeight {
	padding-top: 10px;
	font-size: 1.4em; /*was 1.7*/
	background: url("../pics/sectwave-news.png") repeat-y 0% 0%;
	height: 190px;
	padding-left: 30px;
}

.sectSubLink {
	font-size: .57em;
	margin-top: 4px;
	margin-left: 4px;
	width: 80%;
}

.sectItem {
	height: 100px;
	margin-bottom: 20px;
	background-color: #ecf5fb;
	background-position: 100% 0%;
	background-repeat: no-repeat;
}


#sect1 {
	background-image: url("../pics/item1.png");
}

#sect2 {
	background-image: url("../pics/item2.png");
}

#sect3 {
	background-image: url("../pics/item3.png");
}

#sect4 {
	background-image: url("../pics/item4.png");
}

/*
#sect5 {
	background-image: url("../pics/item5.png");
}

#sect6 {
	background-image: url("../pics/item1.png");
}
*/

.newstable {
	margin-top: 10px;
	font-size: .9em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.sectNews {
	font-size: .7em;
	margin-top: 0px;
	margin-left: 4px;
	width: 80%;
	line-height: 1.1em;
}

.sectEvents {
	font-size: .7em;
	margin-top: 20px;
	margin-left: 4px;
	width: 80%;
}

.newsHead {
	margin-top: 0px;
	margin-bottom: 8px;
	font-size: 1.4em;
	line-height: 1.1em;
}


.newsDate {
	font-weight: bold;
}


.table-title {
	font-size: 1.4em;
	font-weight: bold;
}

.date-row {
	padding-top: 20px;
	padding-bottom: 0;
	font-weight: bold;
}

.news-row {
	padding-top: 0;
}

#validXHTMLIcon {
	padding-top: 8px;
	text-align: right;
}

table.ooomodules {
	margin: auto;
}

table.ooomodules td {
	text-align: center;
	padding: 0 8px 0 8px;
}

/* Added by SimonAW on March 26 2008 */
td {
  padding: 4px;
  vertical-align: top;
}

h1.main {
	background: #ecf5fb !important;
	padding-left: 0;
	border: 0;
}

/* Added by SimonAW on Oct 16 2008 */
#download-links {
	font-size: 2em;
}

#fraud-info {
	font-size: .75em;
	text-align: left;
	padding-left: 2em;
	padding-right: 1em;
}

#fraud-frame {
	/*border: 2px solid red;*/
	padding: 8px;
	background: #ffdddd;
}

#fraud-headline {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
/* Added by MarkoMLM Jan 20 2009 */
#positioner h1 { text-transform: capitalize }

/* Added by SimonAW Jun 16 2009 */
#sect-news {
	background: #e0f1a0 url('../pics/radiostation.png') no-repeat 90% 4px;
	width: 50%;
	
	border: 2px solid #a0d080;

}

#sect-events {
	background: #e0f1a0 url('../pics/calendar.png') no-repeat 90% 4px;
	border: 2px solid #a0d080;
}

/* -- */
