/* eomenu.css */

.eomenuo {
font-family:Helvetica,Arial,Verdana,sans-serif;
font-weight:normal;
font-size:0.8em;
text-align:left;
border: thin solid black;
padding:0;
}

.eomenuo td {
padding:5px;
}

td.head4, td.head5 {
background-color:#000080;
color:#fffff0;
font-weight:bold;
margin:0;
}

td.head4 {
font-size:1.25em;
}

td.head5 {
font-size:1.05em;
}
