/* global core styles - listed first */
h1 { color: #000000; background: transparent; font: normal 24px "Arial", "Helvetica", sans-serif; border-top: 0 !important; border-bottom: 0 !important; margin: 0 0 .9em 0; padding-top: 0; padding-left: 0; }

h2 { color: #000000; background: transparent; font: normal 18px "Arial", "Helvetica", sans-serif; border-bottom: 0 !important; padding-left: 0; }
h2.writer { color: #000000; background: url(/images/writer-48x48.png) no-repeat; height: 48px; padding-left: 58px; padding-top: 10px; }
h2.calc { color: #000000; background: url(/images/calc-48x48.png) no-repeat; height: 48px; padding-left: 58px; padding-top: 10px; }
h2.impress { color: #000000; background: url(/images/impress-48x48.png) no-repeat; height: 48px; padding-left: 58px; padding-top: 10px; }
h2.base { color: #000000; background: url(/images/base-48x48.png) no-repeat; height: 48px; padding-left: 58px; padding-top: 10px; }
h2.draw { color: #000000; background: url(/images/draw-48x48.png) no-repeat; height: 48px; padding-left: 58px; padding-top: 10px; }
h2.math { color: #000000; background: url(/images/math-48x48.png) no-repeat; height: 48px; padding-left: 58px; padding-top: 10px; }

h3 { color: #000000; background: transparent; font: normal 16px "Arial", "Helvetica", sans-serif; border-bottom: 0 !important; padding: 0.1em 0 0.2em 0; margin: 0.1em 0 0 0; }

p { font: normal 13px "Helvetica", "Arial", "Verdana", sans-serif; }

li { font: normal 13px "Helvetica", "Arial", "Verdana", sans-serif; }

p.intro { color: #303030; }

a:link, a:visited, a:active { color: #038beb ; text-decoration: none !important; }
a:hover { color: #038beb; text-decoration: underline !important; }
a img { border: 0 !important; text-decoration: none; }

.top { font: normal 12px "Arial", "Helvetica", sans-serif; display: block; text-align: right; margin: 0 0 1em 0; clear: both; }

/* collabnet styles */
#banner { margin: 0 0 1.5em 0; }
#toptabs { display: none; }
.contentpart#contextualinformation { display: none; }
#breadcrumbs { display: none; }
#navcol { display: none; }
#bodycol { background: #ffffff; padding: 0 0 1em 1em; }
#footer { }
#header #positioner h1 { display: none; }
#content { margin-top: -17px; padding-top: 0; }
#subheader { display: none; }
#bodycol li { margin-top: 0; }
#minitabs  { display: none; }
#minilinks { color: #ffffff; display: block; margin: 0 10px 0 0; }
#minilinks a { color: #ffffff; }
#header { height: 142px; }
#main { margin-top: -2px; }
#broadcastmsg { display: none; }
#language-projects { display: none; }

/* menu styles */
#menu { color: #666666; background: url(/branding/images/wave-bottom.png) no-repeat -2px 0 #CBDEFA; width: 100%; height: 25px; padding: 0 0 0 70%; margin: 0 0 3.5em -1em; }
#menu li { list-style-type: none !important; float: left; padding: 0; margin: 0; }
#menu a:link, #menu a:visited, #menu a:active { color: #000000; background: url(/branding/images/tab-left.png) no-repeat left top #F0F5FE; font-size: 11px; display: block; float: left; height: 14px; white-space: no-wrap; margin: 0 5px 0 0; padding: 4px 7px 7px 7px; text-decoration: none !important; }
#menu a:hover { color: #000000; background: url(/branding/images/tab-left.png) no-repeat left -100px #fafcff; font-size: 11px; display: block; float: left; white-space: no-wrap; height: 14px; margin: 0 5px 0 0; padding: 4px 7px 7px 7px; text-decoration: none !important; }

/* page styles */
#page { width: 980px; margin: 0 auto; }
#page-cntr { width: 1000px; margin: 0 auto; }
#page-intro { height: 200px; padding: 0 1.5em 1.5em 1.5em; margin: -0.9em 0 1em -1em; }
#page-intro h1 { color: #000000; background: transparent; font: normal 25px "Verdana", sans-serif; }
#page-intro p { color: #3c475b; background: transparent; font: normal 23px "Georgia", serif; margin: 0 0 1em 0; }

/* first page styles */
#fp-promo-pic { margin: 0 0 20px 0; }
#fp-tour-table { margin: 0 0 1em 0; }
#fp-tour-table td { width: 120px; text-align: center; font-size: 13px; }
#fp-col-left { width: 31%; float: left; clear: left; margin: 0 1em 0 0; }
#fp-col-middle { width: 31%; float: left; margin: 0 1em 0 0; }
#fp-col-right { width: 250px; float: right; margin: 0 1em 0 1em; }

#fp-get-dl:link, #fp-get-dl:visited, #fp-get-dl:active { color: #000000; background: url(../images/fp-get-dl-btn.png) no-repeat #c7e094; display: block; text-decoration: none !important; height: 65px; margin: 0 0 1em 0; }
#fp-get-dl:hover  { background: url(../images/fp-get-dl-btn.png) no-repeat #b9e06c; text-decoration: none !important; }
#fp-get-dl p { font-size: 16px; padding: .6em 0 0 .2em; margin: 0 0 0 1.8em; }
#fp-get-dl p small { font-size: 11px; }
.fp-campaign:link, .fp-campaign:visited, .fp-campaign:active { color: #000000; background: url(../images/fp-btn.png) top left no-repeat #eeeeff; text-decoration: none !important; display: block; padding-bottom: .6em;  margin: 0 0 1em 0; }
.fp-campaign:hover { color: #000000 !important; background: url(../images/fp-btn.png) top left no-repeat #eaeafb; text-decoration: none !important; display: block; padding-bottom: .6em; margin: 0 0 1em 0; }
.fp-campaign p { font: normal 16px "Helvetica", "Arial", sans-serif; padding: .6em 0 0 .2em; margin: 0 0 0 1.8em; }
.fp-campaign p small { font: normal 11px "Helvetica", "Arial", sans-serif; }
#fp-dsso:link, #fp-dsso:visited, #fp-dsso:active { color: #000000; background: url(../images/fp-btn.png) top left no-repeat #eeeeff; text-decoration: none !important; display: block; padding-bottom: .6em;  margin: 0 0 1em 0; }
#fp-dsso:hover { color: #000000 !important; background: url(../images/fp-btn.png) top left no-repeat #eaeafb; text-decoration: none !important; display: block; padding-bottom: .6em; margin: 0 0 1em 0; }
#fp-dsso p { font: normal 16px "Helvetica", "Arial", sans-serif; padding: .6em 0 0 .2em; margin: 0 0 0 1.8em; }
#fp-dsso p small { font: normal 11px "Helvetica", "Arial", sans-serif; }
#fp-get-addons:link, #fp-get-addons:visited, #fp-get-addons:active { color: #000000; background: url(../images/p2p.gif) top right no-repeat #eeeeff; text-decoration: none !important; display: block; padding-bottom: .6em; margin: 0 0 1em 0; }
#fp-get-addons:hover { color: #000000 !important; background: url(../images/p2p.gif) top right no-repeat #eaeafb; text-decoration: none !important; display: block; padding-bottom: .6em; margin: 0 0 1em 0; }
#fp-get-addons p { font: normal 16px "Helvetica", "Arial", sans-serif; padding: .6em 0 0 .2em; margin: 0 0 0 1.8em; }
#fp-get-addons p small { font: normal 11px "Helvetica"," Arial", sans-serif; }
#fp-get-dist:link, #fp-get-dist:visited, #fp-get-dist:hover, #fp-get-dist:active { color: #000000; background: #f6f8f7; display: block; padding: .4em .5em .4em .5em; margin: 0 0 1em 0; }
#fp-get-dist h2 { color: #000000; font-size: 16px; padding: 0 0 0 0; }
#fp-get-ext:link, #fp-get-ext:visited, #fp-get-ext:hover, #fp-get-ext:active { color: #000000; background: #f6f8f7; display: block; padding: .4em .5em .4em .5em; margin: 0 0 1em 0; }
#fp-get-ext h2 { color: #000000; font-size: 16px; padding: 0 0 0 0; }
#fp-get-assets:link, #fp-get-assets:visited, #fp-get-assets:hover, #fp-get-assets:active { color: #000000; background: #f6f8f7; display: block; padding: .4em .5em .5em .5em; margin: 0 0 1em 0; }
#fp-get-assets h2 { color: #000000; font-size: 16px; padding: 0 0 0 0; }
#fp-help { background: #f6f8f7; display: block; padding: .4em .5em .5em .5em; margin: 0 0 1em 0; }
#fp-help h2 { color: #000000; font-size: 16px; padding: 0 0 0 0; }
#fp-help h3 { color: #000000; font-size: 13px; padding: 0; margin: .4em 0 .3em 0; }
#fp-help p { }
#fp-help ul { padding: 0; margin: 0 0 1em 0; }
#fp-help ul li { list-style-type: none; }
#fp-news { margin: 0 0 1.5em 0; }
#fp-news h2 { padding: 0 0 0 0; }
#fp-news ul { padding: 0; margin: 0; }
#fp-news ul li { display: block; padding: 0.4em 0.4em; }
#fp-news ul li a:link, #fp-news ul li a:visited, #fp-news ul li a:hover, #fp-news ul li a:active { color: #000000; text-decoration: none !important; }
#fp-news p { margin: 0 0 1em 0; }
#fp-contribute { padding: .4em .5em .5em .5em; margin: 0 0 1em 0; }
#fp-contribute h2 { color: #000000; background: transparent; }
#fp-contribute p { color: #000000; background: transparent; }

/* product styles */
#prod-toc { float: right; width: 180px; }
#prod-toc h2 { color: #038beb; background: transparent; font: normal 13px "Georgia", serif; }
#prod-toc ul { padding: 0; margin: 0; }
#prod-toc ul li { font: normal 10px "Verdana", sans-serif; list-style: none; border-top: 1px solid #c0c0c0; padding: 4px 2px 4px 4px; margin: 0; }
.prod-cols { display: relative; clear: both; margin: 0 0 15px; }
.prod-col1 { float: left; width: 300px; display: relative; margin: 0 20px 0 0; }
.prod-col2 { float: left; width: 300px; display: relative; margin: 0 20px 0 0; }
.prod-col3 { float: left; width: 300px; display: relative; margin: 0 20px 0 0; }

#product-table { margin: 1em 0 1em 0; }
#product-table td { width: 80px; text-align: center; font-size: 13px; vertical-align: bottom; }

/* support styles */
.sup-doc-tbl { }
.sup-doc-tbl td { font: normal 12px "Helvetica","Arial", sans-serif; color: #000000; background: #eeeeff; width: 320px; padding: 5px 10px 10px 5px; }
.sup-doc-tbl p { font: normal 12px "Helvetica","Arial", sans-serif; padding: 0; margin: 0; }
#sup-faq-toc { background: #eeeeff; width: 350px; padding: 8px; margin: 8px 0 0 0; }
#sup-faq-toc ul { padding: 0; margin: 0; }
#sup-faq-toc ul li { list-style-type: none; padding: 0 0 2px 0; margin: 0; }
#sup-faq-toc a:link, #sup-faq-toc a:visited, #sup-faq-toc link:hover { text-decoration: none; }

/* addons styles */
.add-block { background: url(../images/p2p.gif) 100% 0 no-repeat #eeeeff; padding: 1em; margin: 0 0 1em 0; }

/* contributing styles */

/* about styles */

/* get styles */
#get-download { color: #000000; background: url(../images/download.gif) 100% 0 no-repeat #b9e06c; float: left; clear: both; width: 650px; padding: 1em 1em 1em 1em; margin: 0 0 1em 0; }
#get-download h3 { clear: both; }
#get-download p { clear: both; }
#get-download ul { float: left; clear: both; margin: 1em 0 1em 0; padding: 0; }
#get-download ul li { font-size: 1.65em; width: 200px; float: left; list-style-type: none; border: 1px solid #d9ff8c; margin: 0 .7em 0 0; }
#get-download ul li a:link, #get-download ul li a:visited, #get-download ul li a:active { color: #000000; display: block; padding: 4px 4px 4px 4px; text-decoration: none !important; }
#get-download ul li a:hover { color: #000000; background: #c5e572; display: block; padding: 4px 4px 4px 4px; text-decoration: none !important; }
#get-download ul li small { font-size: 0.5em; }
#get-extensions { color: #000000; background: url(../images/p2p.gif) 100% 0 no-repeat #eeeeff;  clear: both; width: 100%; padding: 1em 1em 1em 1em; margin: 0 0 1em 0; }
#get-distributors { color: #000000; background: url(../images/cdrom.gif) 100% 0 no-repeat #eeeeff; float: left; clear: both; width: 650px; padding: 1em 1em 1em 1em; margin: 0 0 1em 0; }

/* press styles */
#press-contact { float: right; }
#press-pr-wrapper { margin: 0 25em 0 0; }

/* dsso styles */
#dsso-add-form { background: #eeeeff; width: 500px; padding: 8px; }

label, td { font-size: 13px !important; }