.codesnippet {
    border-style: solid;
    border-color: #888888;
    border-width: 2px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #DDDDDD
}
        
.code-reserved-word {
    color: green;
    }

.code-comment {
    color: blue;
}

.code-constant {
    color: red;
}

.code-statement {
    color: brown;
}

.code-preproc {
    color: purple;
}

.code-todo {
    color: blue;
    font-weight: bold;
}

.code-identifier {
    color: brown;
}

.code-type {
    color: blue;
}

.code-special {
    color: purple;
}

.shortlink {
    text-decoration: none;
    color: inherit;
}

.shortlink:HOVER {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:HOVER {
    text-decoration: underline;
}

.foldingCollapsed, .foldingExpanded {
    background-color: #fff9bc;
    padding-left: 20px;
    background-image: url(../media/image/collapsed_arrow.gif);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.foldingExpanded {
    background-image: url(../media/image/expanded_arrow.gif);
}

.foldedContent {
    background-color: #fff9bc;
}
