/*
  CSS for sr.openoffice.org page with no navigation
*/

/*-------------------- Exceptions on standard css -----------------------*/
#navcol { width: 1px; display: none; }
#navcolumn { width: 1px; }
#bodycol { background: white; margin: auto; width: 900px; }        
#navcolumn #searchbox, #navcolumn .label, #navcolumn .body, #navcolumn #helptext { display: none; }

