#main_content_fa {
        direction: rtl;
        text-align: right;
        font-family: Roya, Tahoma, Arial, Sans;
	font-size: 10pt;
	line-height: 14pt;
}


#main_content_fa h1,h2,h3,h4,h5,h6 {
	font-family: Titr, Roya, Arial, Tahoma, Sans;
	color: #222299;
	padding-bottom: 8px;
	border: none;
	border-bottom: solid 1px #222299;
}

#main_content_fa h5 {
	border: none;
	padding-bottom: 0px;
	color: #000;
	margin-bottom: 5pt;
	margin-top: 3em;
	font-size: 10pt;
}

#main_content_fa h4 {
	font-size: 12pt;
}

#main_content_fa h3 {
	font-size: 14pt;
}

#main_content_fa h2 {
	font-size: 16t;
}

#main_content_fa h1 {
	font-size: 20pt;
}


#main_content_fa ul {
	list-style: square;
	display: table;
}

#main_content_fa a {
	color: #222299;
}

#main_content_fa a:hover {
	color: #5555dd;
}
