/* $Id: print.css,v 1.3 2006/11/28 00:17:48 pescetti Exp $ */

#banner, #collabnet, #toptabs, #footer, #navcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #topmodule {	
	display: none;
}

body.docs div.docs {
	margin: 0 !important;
	border: none !important
}
