.bouton {
  float:left;
  display: block;
  width: 220px;
  height: 80px;
    margin: 2px;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 0px;
    color: #505256;
  background: #B9E06C url("telecharge.gif") no-repeat; 
  font-size: 1.3em; 
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.bouton:hover {
  color: black;
  text-decoration: none;
  background-color: #c7e094;
  cursor: pointer; 
}

.bouton span {
  display: block;
  width: 175px;
  margin: 0px;  
  padding-top: 15px;
  padding-left: 30px;
  vertical-align: bottom;
  height: auto!important; /* IE 'hack' for min-height */
  height: 70px;
  min-height: 35px;
}

.bouton span small {   font-weight: normal; }

.clear {  clear: both; }

.flotte {  float:left; }

.optionitem {
  float: left;
  width:280px;
  padding-top:2px;
  padding-left: 1.5em;
}
.optionitem h2 {
margin-top: .7em;
width: 100%;
line-height: 120%;
}
