#content {
    margin-right: 160px;
    padding: 0.5em;
}

#menu {
	position: absolute;
	top: 150px;
	right: 1%;
	width:150px;
}

#menu h3 {
    font-size: .8em;
    font-weight:bold;
    background-color: #FFFFFF;
    background-image: url("http://marketing.openoffice.org/branding/images/fading-blue.gif");
    background-repeat: repeat-y;
    background-position: top left;
    color: #032360;
    padding-top: 0.5em;
}

#menu p {
    margin: 0em 0em 0em 1em;
}

#content h3 {
    background-color: #DEE4EE;
    color: #06348C;
    padding-left: 0.5em;
}

#content h4 {
    color: #06348C;
    margin-left: 2em;
}

#content .level4 {
    margin-left: 3em;
}

#content p {
    text-align: justify;
    padding-left: 1em;
}

#title h3 {
    background-color: #FFF;
    text-align: center;
}
  
#title p {
    text-align: center;
    padding-left: 0;
        
    font-style: italic;
    color: #06348C;
}
  
#logo {
    text-align: center;
}

#langLine {
	margin-left: 0em;
	font-size: smaller;
}

.thisLang {
	font-weight: bold;
}

.lang {
	font-weight: bold;
}
