/*This file is copied from zh.openoffice.org*/
td.boMenu a {
  text-decoration: none;
}

table.bo_menu {
  width: 100%;
  border: 1px solid #00315a;
  border-spacing: 0px;
  font-size: 1em;
}
  
table.bo_menu th {
  padding: 0.3em;
  background-color: #00315a; 
  color: #ffffff; 
  font-size: 1em; 
  text-align:left; 
}

table.bo_menu td { 
  padding: 0.3em; 
  font-size:1em; 
  line-height: 1.3em; 
}
