.texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}
.texto-simples {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}
.form-texto {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333399;
  text-decoration: none;
  font-size: 11px;

}
.form-input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #333399;
  background-color: #FFFFFF;

}
.texto-destaque {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #339933;
  text-decoration: none;
  font-weight: bold;

}
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #333399;
  text-decoration: none;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #333399;
  text-decoration: none;
}
a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #333399;
  text-decoration: underline;
}
.fundo-gaivotas {
  background-image: url(../img/gaivotas.gif);
  background-position: right bottom;
  background-repeat: no-repeat;

}
.form-ok {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #333399;
  text-decoration: none;
  border: 1px solid #333399;
  background-color: #FFFFFF;
  height: 17px;

}

.zebrado {
  background-color: #cccccc;

}

.tabela {
  width: 100%; border: 1px solid #CCCCCC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}

.tabela-titulo {
  background-color: #006600; text-align: Center; font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  }
  
.tabela-subtitulo {
  background-color: #007F00; text-align: Center; font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  }
  
A.botao:LINK { background-color: #FFFFFF; font-family:  sans-serif, Verdana, Arial, Helvetica; font-size: 8pt; font-style: normal; color: #000000; text-decoration: none; font-weight: bold}
A.botao:ACTIVE { background-color: #FFFFFF; font-family: sans-serif, Verdana, Arial, Helvetica; font-size: 8pt; font-style: normal; color: #000000; text-decoration: none; font-weight: bold}
A.botao:VISITED { background-color: FFFFFF; font-family: sans-serif, Verdana, Arial, Helvetica;  font-size: 8pt; font-style: normal; color: #000000; text-decoration: none; font-weight: bold}
A.botao:HOVER { background-color: #347E59; font-family: sans-serif, Verdana, Arial, Helvetica; font-size: 8pt; font-style: normal; color: #FFFFFF; text-decoration: none; font-weight: bold}
