/*-------------------------------------------------------------
	local stylesheet for the conference pages

	$Id: conference.css,v 1.2 2004/08/22 15:48:00 andreschnabel Exp $
-------------------------------------------------------------*/

.dev {
	color: #FFFFFF;
	background-color: #c63b16;
}
 .dev p {
	font-weight: bolder;
}
 .xml {
	color: #FFFFFF;
	background-color: #55DD85;
}
 .xml p {
	font-weight: bolder;
}
 .general {
	color: #FFFFFF;
	background-color: #184090;
}
 .general p {
	font-weight: bolder;
}
 .community {
	color: #FFFFFF;
	background-color: #FFc05A;
}
 .community p {
	font-weight: bolder;
}
 #general {
	background-image: url(http://nl.openoffice.org/afbeeldingen/cd-rom.jpg);
	background-repeat: no-repeat;
	background-position: 3em top;
}
#development {
	background-image: url(http://images.google.com/images?q=tbn:iMaNlWG6TFwJ:www.krtams.org/Developers.jpg);
	background-repeat:no-repeat;
	}
