body         {font-size: small; margin: 4px; font-family: Arial, Sans, "Arabic Transparent";}
table.main tr, table.main td	{text-align: right; direction: rtl;}
#menuColumn     {width: 17%;}
#separatorColumn {width: 10px;}
.mainTitle, .subTitle {color: #06348c; font-weight: bold; text-align: center; background: #dee4ee url("back.gif") repeat-y right; border: 1px solid #9999ee;}
.mainTitle      {font-size: medium; text-align: center;}
.subTitle       {font-size: small; text-align: center;}
.menu           {border: 1px solid #cccccc; background-color: #eeeeff;}
table.main      {border: 1px solid #eeeeee; background-color: #f5f5f5; width: 100%; direction: rtl;}
a, a:visited    {text-decoration: none; color: #0000ff;}
a:hover         {color: #7777ff;}
h2              {text-align: center; color: #000088; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid #000088;}
h3              {text-align: right; color: #000088; border-bottom: 1px solid #000088; width: 60%;}
.item a         {color: #fff; background-color: #eee; display:block; width: 100%; text-indent:5px;}
.item a:hover   {background-color: #fff; color: #06348c;}
#maillist       {width: 100%; background-color: #ffffff;}
#maillist td    {text-align: center; border: 1px solid #eeeeee;}
#maillist td.head {font-weight: bold; color: #00315a}
img             {border: 0px solid #ffffff;}
.footer         {text-align: center; border: 1px solid #eeeeee; font-weight: bold; width: 100%; background-color: #f5f5f5; margin-top: 2px; color: #aaaaaa;}
