/* $Id: print.css,v 1.1 2006/08/22 00:28:21 grsingleton Exp $ */

#banner, #collabnet, #toptabs, #footer, #navcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #topmodule {	
	display: none;
}

body.docs div.docs {
	margin: 0 !important;
	border: none !important
}
