<!--#include virtual="/doctype.html" -->
<html>
  <head>
    
    <title>Apache OpenOffice Extensions and Templates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    
    <link href="/css/ooo.css" rel="stylesheet" type="text/css">
    <!--#include virtual="/scripts/google-analytics.js" --> 
    <!--#include virtual="/scripts/entourage.js" -->
  </head>
  <body>
    <!--#include virtual="/brand.html" -->
    <div id="topbara">
      <!--#include virtual="/topnav.html" -->
      <div id="breadcrumbsa"><a href="/">home</a>&nbsp;&raquo;&nbsp;<a href="/projects/">projects</a>&nbsp;&raquo;&nbsp;<a href="/projects/template/">template</a></div>
    </div>
    <div id="clear"></div>
      
      
    <div id="content"><h1 class="title">Apache OpenOffice Extensions and Templates</h1>
      
      <ul>
<li><a href="https://extensions.openoffice.org">Apache OpenOffice Extensions</a></li>
<li><a href="https://templates.openoffice.org">Apache OpenOffice Templates</a></li>
</ul>

      
    </div>
    <!--#include virtual="/footer.html" -->
  </body>
</html>
