/* $Id: fi.css,v 1.68 2010/09/10 13:47:53 hatapitk Exp $ */

#breadcrumbs, #header, #subheader, #searchbox, #navcol, #headertools {
  display: none;
}

/* #fiheader { width: 100%; min-width: 750px; height: 125px; background: url(http://fi.openoffice.org/branding/images/header.png) no-repeat #86C2E6;
  margin:-2px -2px 3px -2px; */
#fiheader { width: 100%; min-width: 750px; height: 25px;
  margin:-2px -2px 3px -2px;
}
#fipositioner { float: left; }
/* #fipositioner a { margin: 0; padding: 0; float: left; width: 175px; height: 125px; background: url(http://fi.openoffice.org/branding/images/bannerlogo.png) no-repeat; display: block; } */
#fipositioner a { margin: 0; padding: 0; float: left; width: 175px; height: 25px; }
#fipositioner h1 { margin: 29px 0 0 175px; padding: 10px 0 10px 15px; border: none; border-left: 1px solid #EDF4FD; color: white; font: italic 1.4em sans-serif; text-shadow: #6EB6E1 2px 2px; background: none; text-transform: lowercase; }

#content {
  padding-top: 0 !important;
}

.fiLeftMenu {
  background-color: #ecf5fb;
  padding: 2px;
}

.fiLeftMenu .toolgroup {
  margin-bottom: 1em;
}

.fiLeftMenu .toolgroup ul {
  padding-left: 1em;
  margin-top: 0;
}

.fiLeftMenu .toolgroup li {
 list-style-type: none;
 margin: 0 !important;
 line-height: 1.6em !important;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  margin: 0 !important;
}

table#fibody {
  width: 100%;
}

table, td {
  padding: 0;
}

#login { 
  font-size: x-small;
}

#bodycol {
  padding-right: 0 !important;
}

#bodycol h2 {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#bodycol h3 {
  margin-top: 1.5em;
}

#bodycol, #bodycol table td, #bodycol table th, #bodycol p {
  font-size: 12pt !important;
}

#bodycol p {
  line-height: 125%;
}

#bodycol #footer p {
  font-size: 10pt !important;
}

#bodycol hr {
  display: block;
  margin-top: 3em;
}

#helptext {
  margin: 0px 0px 2px 0px !important;
}

#oikeapaneeli, #oikeapaneeli table td, #oikeapaneeli p, #oikeapaneeli li {
  font-size: 10pt !important;
  line-height: 120%;
}

#oikeapaneeli ul {
  padding-left: 0;
  list-style-type: none;
}

#bodycol .pagecontent ul {
  margin: 5px;
}

#bodycol .pagecontent li {
  margin: 5px 0pt 5px 10px;
}

#bodycol .pagecontent dd {
  margin-top: 10px;
  margin-bottom: 10px;
}

div#myfooter, div#myfooter table, #myleftcol {
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
}

#pagetitle {
  margin-top: 20;
  margin-bottom: 10;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#slogan {
  text-align: center;
  margin-bottom: 30;
}

#download a {
  font-size: xx-large;
  text-decoration: underline;
}

dt {
  margin-top: 10pt;
}

.pagecontent {
  padding-left: 1em;
}


div#footer {
  display: block !important;
}
.downloadlinks, .downloadtable {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  vertical-align: middle;
}
.downloadlinks {
  min-width: 30%;
}
.downloadlinks td {
  background: #b9e06c;
  background-image: url('../kuvat/latausnuoli.gif');
  background-repeat: no-repeat;
  background-position: right;
  border: 2px solid white;
  text-align: center;
}
.downloadlinks a {
  display: block;
  padding: 1em;
  font-weight: bold;
}
.downloadlinks a:hover {
  background-color: #c7e094;
  background-image: url('../kuvat/latausnuoli.gif');
  background-repeat: no-repeat;
  background-position: right;
}
.downloadtable th, .downloadtable td.graycell {
  background: #cccccc;
  border: 1px solid black;
  text-align: center;
}
.downloadtable td {
  background: #b9e06c;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.instructions dt {
  font-weight: bold;
}

table.consultants {
  border: 1px solid black;
  border-collapse: collapse;
}

table.consultants caption {
  font-weight: bold;
  padding-bottom: 0.5em;
}

table.consultants th, table.consultants td {
  border: 1px solid black;
  min-width: 30px;
}

table.consultants th {
  text-align: center;
  vertical-align: middle;
}

table.consultants td.consultantfooter ul {
  list-style-type: none;
}

table.consultants td.consultantfooter li {
  padding-left: 11px;
  text-indent: -21px;
  font-size: 0.85em;
  padding-bottom: 0.2em;
}

table.consultants td.supported {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #000000;
  background-color: #33FF33;
}

.nobullets {
  list-style-type: none;
}
