	<html>
	<head>
<title>
		Dokumentationsportal fuer die Leute aus den 80ern ohne JavaScript
</title>
		<!-- Start de-header -->
		
		<link rel="stylesheet" type="text/css" href="doc.css" />
		<link rel="alternate" type="application/atom+xml" title="OpenOffice.org Dokumentation" href="http://de.openoffice.org/doc/feed.xml" />

		<!-- End de-header -->
	</head>
	<body>
		<!-- Start Body -->

		<h1>Dokumentation</h1>

		<table id="feedinfo" summary="Dokumentationsnewsfeed">
			<tr>
				<td><a href="feed.xml"><img src="pics/icon-feed.png" alt="Feedicon" /></a></td>
				<td>
				Seien Sie immer auf dem neuesten Stand und abonnieren Sie
				unseren <a href="feed.xml">Dokumentationsfeed</a>.
				</td>
			</tr>
		</table>


		<table summary="Dokumentation nach Modulen" class="modules">
			<tr>
				<td id="all" class="icon-col"><img src="pics/icon-all.png" alt="Alle" /></td>
				<td class="doccontent">
					<div class="doclink">OpenOffice.org Allgemein</div>
					<div class="docdesc">
						Installationsanleitungen &middot; allgemeine Dokumentationen, die auf alle
						OpenOffice.org-Module zutreffen
					</div>

					<div id="grid-all" class="grid-container-visible">
						<!-- docgrid: all -->
						[% INCLUDE 'grid-contents.tt' elements=all %]
						<!-- end of docgrid: all -->
					</div>
				</td>
			</tr>
		</table>
		<table summary="Hauptmodule" class="modules">
			<tr>
				<td id="writer" class="icon-col"><img src="pics/icon-writer.png" alt="Writer" /></td>
				<td class="doccontent">
					<div class="doclink">OpenOffice.org Writer (Textverarbeitung)</div>
					<div class="docdesc">Das komplette Writer-Handbuch &middot;
						Tutorien zu Serienbriefen &middot;
						Aufz&auml;hlungen/Nummerierungen</div>
					<div id="grid-writer" class="grid-container-visible">
						<!-- docgrid: writer -->
						[% INCLUDE 'grid-contents.tt' elements=writer %]
						<!-- end of docgrid: writer -->
					</div>
				</td>
				
			</tr>
			<tr>
				<td id="calc" class="icon-col"><img src="pics/icon-calc.png" alt="Calc" /></td>
				<td class="doccontent">
					<div class="doclink">OpenOffice.org Calc (Tabellenkalkulation)</div>
					<div class="docdesc">
						Tutorium zur Erstellung von Gantt-Diagrammen mit Calc
					</div>
					<div id="grid-calc" class="grid-container-visible">
						<!-- docgrid: calc -->
						[% INCLUDE 'grid-contents.tt' elements=calc %]
						<!-- end of docgrid: calc -->
					</div>
				</td>
			</tr>
			<tr>
				<td id="impress" class="icon-col"><img src="pics/icon-impress.png" alt="Impress" /></td>
				<td class="doccontent">
					<div class="doclink">OpenOffice.org Impress (Pr&auml;sentationsmodul)</div>
					<div class="docdesc">
						Erste Schritte f&uuml;r Einsteiger &middot; Schnellstart &middot; Unterschiede zu PowerPoint
					</div>
					<div id="grid-impress" class="grid-container-visible">
						<!-- docgrid: impress -->
						[% INCLUDE 'grid-contents.tt' elements=impress %]
						<!-- end of docgrid: impress -->
					</div>
				</td>
			</tr>
			<tr>
				<td id="draw" class="icon-col"><img src="pics/icon-draw.png" alt="Draw" /></td>
				<td class="doccontent">
					<div class="doclink">OpenOffice.org Draw (Zeichenprogramm)</div>
					<div class="docdesc">
						Das komplette Draw-Handbuch als PDF &middot; Tutorium zu Imagemaps
					</div>
					<div id="grid-draw" class="grid-container-visible">
						<!-- docgrid: draw -->
						[% INCLUDE 'grid-contents.tt' elements=draw %]
						<!-- end of docgrid: draw -->
					</div>
				</td>
			</tr>
			<tr>
				<td id="base" class="icon-col"><img src="pics/icon-base.png" alt="Base" /></td>
				<td class="doccontent">
					<div class="doclink">OpenOffice.org Base (Datenbankmodul)</div>
					<div class="docdesc">
						Einf&uuml;hrung in Datenbankanwendungen &middot; Entwurf einer Beispieldatenbank &middot; ODBC-Datenanbindungen
					</div>
					<div id="grid-base" class="grid-container-visible">
						<!-- docgrid: base -->
						[% INCLUDE 'grid-contents.tt' elements=base %]
						<!-- end of docgrid: base -->
					</div>
				</td>
			</tr>
			<tr>
				<td id="math" class="icon-col"><img src="pics/icon-math.png" alt="Math" /></td>
				<td class="doccontent">
					<div class="doclink">OpenOffice.org Math (Formelprogramm)</div>
					<div class="docdesc">
						Erste Schritte
					</div>
					<div id="grid-math" class="grid-container-visible">
						<!-- docgrid: math -->
						[% INCLUDE 'grid-contents.tt' elements=math %]
						<!-- end of docgrid: math -->
					</div>
				</td>
			</tr>
		</table>
		<table summary="Sonstiges" class="modules">
			<tr>
				<td id="development" class="icon-col"><img src="pics/icon-development.png" alt="Entwicklung" /></td>
				<td class="doccontent">
					<div class="doclink">Dokumentation f&uuml;r Entwickler</div>
					<div class="docdesc">
						OpenOffice.org kompilieren mit ooobuild &middot; Python-Bridge
					</div>
					<div id="grid-dev" class="grid-container-visible">
						<!-- docgrid: dev -->
						[% INCLUDE 'grid-contents.tt' elements=dev %]
						<!-- end of docgrid: dev -->
					</div>
				</td>
			</tr>
			<tr>
				<td id="docdevel" class="icon-col"><img src="pics/icon-docdevel.png" alt="Dokumentation - Entwicklung" /></td>
				<td class="doccontent">
					<div class="doclink">Informationen f&uuml;r Autoren</div>
					<div class="docdesc">
						Informationen f&uuml;r Mitarbeiter im Projekt
						und Autoren, die neue Dokumentationen beitragen
						oder bestehende erweitern m&ouml;chten
					</div>
					<div id="grid-author" class="grid-container-visible">
						<!-- docgrid: author -->
						[% INCLUDE 'grid-contents.tt' elements=author %]
						<!-- end of docgrid: author -->
					</div>
				</td>
			</tr>

			<!-- OOo 1.x / 1.1.x -->
			<tr>
				<td />
				<td class="doccontent">
					<div class="doclink"><a href="howto/index_1_x.html">Dokumentation f&uuml;r Version 1.x und 1.1.x</a></div>
					<div class="docdesc">
						Dokumentation der Verson 1.x und 1.1.x von OpenOffice.org
					</div>
				</td>
			</tr>


		</table>

		[% INCLUDE 'footer.tt' %]


		<!-- End Body -->
	</body>
	</html>
