/*--------------------------- NavBar ---------------------------*/
/* modify the toptabs - want one single line without additional spacing*/
#midtabs {
    float: left;
    padding: 0px;
    margin: 0px;
    margin-top: 0.5em;
    background: #06348C;
    width: 100%;
    border-bottom:none;
    font-size: 1em;
}    
#midtabs ul {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
    color: #fff;
    font-weight: bold;
    border-bottom: none; /* maybe we want this border for the whole bar?*/
}   
#midtabs li {
   float: left;
   margin: 0px;
   padding: 0px;
   color: #fff;
}
   
#midtabs a, #midtabs a:link, #midtabs a:visited, #midtabs a:hover {
    float: left;
/*  padding: 0.3em 1em; */
    padding: 4px 8px;
    text-decoration: none !important;
    color: #fff !important;    
}

#midtabs a:hover { 
    background: #fff;
    color: #698ed1 !important;
}

#midtabs li.th a  {
    background: #fff;
    color: #06348C !important;
}
