@charset "UTF-8";
/* @import url("http://ja.openoffice.org/branding/css/style.css"); */


/***** HTML basic elements *****/

h3 {
  background: #cbdefa none;
  padding:    2px 5px;
  font-size:  small;
}

ol {
  margin:       0px;
  padding:      0px;
  padding-left: 2em;
}

/***** Classified elements *****/

ul.largeList li, ol.largeList li {
  margin-bottom: 1em;
}

div.documentPiece {
  margin-bottom:3em;
}

th.borderedCell, td.borderedCell {
  border-bottom: #999999 1px solid;
}

th.borderedCell div, td.borderedCell div {
  margin: 5px 12px;
}
