/*-------------------------------------------------------------
  ლოკალური CSS ფაილი ქართული პროქტისათვის
  სანავიფაციო ზოლი
  - საგანგებო სტილები ნავიგაციისსათვის
  - ნავიგაციის ჩასმა

  $Id: ka_navbar6.css,v 1.1 2007/06/10 21:59:04 aietkolkhi Exp $
-------------------------------------------------------------*/

#navbar_ka {
  visibility:visible;
  position:static; float:right; 
  margin-left:5px; margin-bottom:20px;
  border-spacing:0px; padding:0px;
  font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
  background-color: #efefef;
}

#navbar_ka th{
  background-color: #06348C;  color: #fff;
  border-style:none;
  padding:3px;
  padding-top:5px;
}

#navbar_ka th.dev{
  background-color:#fc9; color:#000000;
}

#navbar_ka th a:link, #navbar_ka th a:visited {
  text-decoration: none;  color: #fff;
}

#navbar_ka td {
  background-color: #efefef; color: 0;
  border-style:none;
  padding:1px;
  padding-left:6px;
  text-indent:-3px;
  }

#navbar_ka td a:link, #navbar_ka td a:visited {
  text-decoration: none;  color: 0;
}


ul#navbar_ka, ul#navbar_ka ul{
list-style: none;
background: #fff;
}

ul#navbar_ka{
width: 12em;
margin: 0px;
padding: 0px;
color: #555;
background: #fff;
}

ul#navbar_ka li{
    background-color: #DEE4EE;
    background-image: url("http://www.openoffice.org/branding/images/lesslightbluefadeout.gif");
    background-repeat: repeat-y;
    background-position: top right;
    color: #06348C;
    border-bottom: 0px none;
    border-right: 0px none;
padding: 2px;
padding-left: 5px;
margin-bottom: 2px;
font-weight: bold; 
text-align:left;
}
ul#navbar_ka li a:link {
text-decoration: none;
font-weight: normal; 
color: #06348C;
}
ul#navbar_ka li a:hover {
text-decoration: none;
color: #698ed1;
}
ul#navbar_ka li a:visited {
text-decoration: none;
font-weight: normal; 
color: #06348C;
}

ul#navbar_ka li ul {
display: block;
width: 100%;
margin: 0;
padding: 2px;
padding-left: 0.5em;
margin-left: -5px;
margin-top: 2px;
margin-bottom: -2px;
border: 0;
}

ul#navbar_ka li ul li{
  background-image: url("http://www.openoffice.org/branding/images/strich.gif");
  background-repeat: no-repeat;
  background-position: 0em .65em;
font-weight: bold; 
display: block;
width: 100%;
margin: 0;
border: 0;
text-align:left;
background-color: #fff;
color: #06348C;

}

ul#navbar_ka li ul li a:link {
text-decoration: none;
font-weight: normal; 
color: #06348C;
}
ul#navbar_ka li ul li a:visited {
text-decoration: none;
font-weight: normal; 
color: #06348C;
}
ul#navbar_ka li ul li a:hover {
text-decoration: none;
font-weight: normal; 
color: #698ed1;
}


/*-------------------------------------------------------------*/
