/*-------------------------------------------------------------
  ადგილობრივი სტილი ქართული პროექტისათვის
  სანავიგაციო ზოლი გამქრალია ;)

  $Id: ka_nonavbar.css,v 1.1 2007/06/10 21:59:04 aietkolkhi Exp $
-------------------------------------------------------------*/


#navbar_de {
  visibility:hidden;
  position:absolute; 
  width:1;
  height:1;
}
