			#docooo * { font-family: sans-serif; font-size: 9pt;}
			#bodycol	* { font-family: sans-serif; font-size: 9pt;}
			
			h1.docheader	{ color: #333333; font-weight: normal; clear: left; margin: 0px; margin-bottom: 1em; font-size: 1.8em!important;}
			h1.contributor{ color: #8c2d06; font-size: 1.5em!important;}
			h1.user       { color: #20018b; font-size: 1.5em!important;}
			.contribbg	  { background: url(images/redfade.png); padding: 6px; font-weight: normal; margin-top: 1em;}
			.userbg	      { background: url(images/bluefade.png); padding: 6px; font-weight: normal; margin-top: 1em;}
			div.supertitle	{ color: #20018b; font-weight: bold;}
			#toprow 			{ border: 1px solid #A3AFB6; padding: 5px; }
			
			#leftcolumn 	{ width: 80%; padding-right: 15px; }
			#midcolumn 		{ width: 40%; padding-left: 15px; }
			#rightcolumn	{ width: 20%;}
			
			#docfooter	{ font-size: 0.8em; color: #999; text-align: right; padding-top: 20px;}
			#docfooter 	*	{ font-size: 1em;}
			
			.section			{ margin: 5px; margin-top: 0px; }
			.section2			{  margin-top: 0px; }
			#gethelp td {border: 1px solid #DEDEDE;}
			
			.section .sec_header		{ font-weight: bold; background-color: #EEE; padding: 3px;}
			.section2 .sec_header		{ font-weight: bold; padding: 6px; background: url(images/bluefade.png);}
			
			.col_header		{ font-size: 1.5em!important;	margin: 5px; margin-bottom: 10px; padding: 5px;}
			.sec_content	{ padding: 3px; }
			.section2 .sec_content	{ padding: 6px; }
			#docooo a 		{ color: #06348c; text-decoration: none; }
			#bodycol a		{ color: #06348c; text-decoration: none; }
			.section a		{ color: #000!important; text-decoration: none;}
			.nopad				{ margin-top: 0px; padding: 0px; padding-left: 20px;}
			.nobullet			{ margin-top: 0px; padding: 0px; margin-left: 0pt!important;}
			.nobullet li	{ list-style-type: none; margin-top: 2px!important; margin-bottom: 2px!important; margin-left: 0pt!important;}

			.xright				{ text-align: right; }
			div.showlinks a { color: #06348c!important; }
			div.showlinks a:hover { color: #8c2d06!important; text-decoration: underline!important;}
			img.icon			{ float: right; margin-right: 2px; margin-top: 2px;}
			
			#news					{ border: 1px solid #666;} 
			#news .sec_content { font-size: x-small; }
			#quicklinks		{ border: 1px solid #666;}
			#quicklinks .sec_header { background-color: #666!important; color: #FFF;}

            #sdk-box    { border: 1px solid #666;}
			#sdk-box .sec_header { background-color: #666!important; color: #FFF;}
			
			#users				{ color: #06348c; background-color: #FFF; border: 0px solid #06348c; background: url(images/bluefade.png);}
			#gethelp div.section { border: 1px solid #999; }
			#gethelp .sec_header { color: #06348c;}
			
            #contributors	{ color: #8c2d06; background-color: #FFF; border: 0px solid #8c2d06; background: url(images/redfade.png);}
			#contrib 			{ border: 1px solid #8c2d06; }
			#contrib .sec_header { background-color: #8c2d06!important; color: #FFF;}
			#contrib a:hover {text-decoration:underline; }
			#work 			{ border: 1px solid #999; }
			#work .sec_header { background-color: #8c2d06!important; color: #FFF;}
			#work .sec_content { border-top: 1px solid #999; }
			#work div.sec_content:hover {background-color: #f6d4cd; }
			#topten 			{ border: 1px solid #999; }
			#topten .sec_header { background-color: #8c2d06!important; color: #FFF;}
			#topten .sec_content { border-top: 1px solid #999; }
			#document 			{ border: 1px solid #999; }
			#document .sec_header { background: url(images/redfade.png);}
			
			#ob { border: 1px double #000; padding:20px; text-align: center;}
			#ob div { font-size: 0.8em;}
			
			#docfooter a 	{ color: #999!important;} 

			select.selectl10n 	{ border: 1px solid #999; background-color: #EEE; padding: 1px; margin-bottom: 10px; width:100%;}
			button#ok { border: 1px solid #999; background-color: #EEE; padding: 1px;}
			input { border: 1px solid #999; background-color: #EEE; padding: 1px;}
			.label				{ padding-right: 10px; vertical-align: middle;}
			
			.hide {display: none; }
			.show {display: block; }
			#bubble { position: absolute; top: 0px; z-Index: 10;  padding: 1px; background-color: #FFF;}
			#bubble_inner { font-size: 0.9em!important; padding: 6px; }
			#bubble_inner * { font-size: 1em;}
			.bubblered { background-color: #f6d4cd!important;  color: #000; border: 1px solid #000; }
			.bubbleblue { background-color: #cddbf6!important; color: #000; border: 1px solid #000; }
			 #bubble_inner ul { margin: 0px; margin-left: -25px;}
			 .key { font-family: monospace; border: 1px solid #666; background: #efefef; -moz-border-radius: 3px; padding: 1px;}
			 .menu{ font-family: monospace; }
			 a.pdf:after {content: " (PDF)"}
			 a.wiki:after {content: " (Wiki)"}
			 .floatimg {float:left; margin-right: 2px; margin-bottom: 3px;}
			 li.doc_tip {padding:2px; }
			 li.doc_tip:hover {border: 1px solid #AAA; padding:1px; background-color: #EDEDED;}