div.full_widget { border: 0px; }
div.connect_top { border: 1px solid #94A3C4; }
div.name_block { float: left; margin-left: -15px; padding: 10px; }
div.connect_widget { float: right; padding: 0px; }
img.profileimage { display: none; }
.fan_box .full_widget .connect_top { background: none; border: none; padding: 0px; }

