/* $Id: inst_sl.css,v 1.1 2006/09/18 23:31:47 bobe Exp $

This file contains rules that extend or override the more basic formatting defined
in tigris.css. Edit it to customize the look of applications using tigris.css (instances). 
You are responsible for maintaining your own set of (optional) deltas from tigris.css 
defaults; this file is intended as an example.

This file is a modified copy of http://de.openoffice.org/branding/css/inst.css.



/*--------------------------- NavBar 2---------------------------*/
/* modify the toptabs2 - want one single line without additional spacing*/
#toptabs2 {
    float: left;
    padding: 0px;
    margin: 0px;
    margin-top: 0.5em;
    background: rgb(99,178,76);
    width: 100%;
}
#toptabs2 ul {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
    color: #fff;
    font-weight: bold;
        border-bottom: none; /* maybe we want this border for the whole bar? */
}
#toptabs2 li {
    float: left;
    color: #fff;
}
#toptabs2 a, #toptabs2 a:hover {
    float: left;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #fff;    
}
#toptabs2 a:hover { 
    background: #fff;
    color: #698ed1;
}
#toptabs2 li.th a  {
    background: #fff;
    color: #06348C;
}
.tabs {
margin-top:0px;
}