
/*
 * DE Documentation Portal
 * SimonAW
 * Apr 1 2008
 */

/* Feedinfo */

#feedinfo {
	margin-top: 1em;
	margin-bottom: 2em;
}

#feedinfo td {
	padding-left: 10px;
	font-weight: bold;
}

/* OOo Modules Table */
.modules {
	margin-top: .5em;
	margin-left: 2em;
	border-spacing: 0;
	width: 90%;
}

.modules td {
	border-top: #cbdefa solid 1px;
	vertical-align: top;
	padding: 4px 4px 24px 4px;
}

.modules td.icon-col {
	width: 65px;
}

.doclink {
	font-size: 1.2em;
}

.docdesc {
	margin-top: 3px;
	margin-left: 8px;
}

/*
.doccontent:hover {
	background: #ecf2fd;
}
*/

/* Doc Grid - SimonAW Jun 6 2008 */
.docgrid {
	width: 90%;
	margin-top: 1em;
	margin-left: 0;
	border-spacing: 0;
}

.docgrid td {
	border-top: #cbdefa solid 1px;
	vertical-align: top;
	padding: 4px 4px 24px 4px;
}

.docgrid td.alt {
	background: #ecf2fd;
}

.docgrid td.heading {
	font-weight: bold;
}

.docgrid td.heading-alt {
	font-weight: bold;
	background: #ecf2fd;
}

.grid-container {
	display: none;
}

.grid-container-visible {
	display: block;
}

.warning {
	color: red;
	font-weight: bold;
}

.group {
	margin-top: 1.3em;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 1.3em;
}

/* De Doc Footer */
#de-doc-footer {
	font-size: .8em;
}
/* Added by MarkoMLM Jan 20 2009 */
#positioner h1 { text-transform: capitalize }