div#navigation {
	position:absolute;
	width: 100%;
	right:16px;
	top:0px;
	height:80px;
	z-index:20;
	background-color:#ffffff;
	background-image:url(../images/edge_header.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	min-width:660px;
}

div#navigation_writer {
	position:absolute;
	width: 100%;
	right:16px;
	top:0px;
	height:80px;
	z-index:20;
	background-color:#ffffff;
	background-image:url(../images/edge_header.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	min-width:775px;
}

div#navigation_calc {
	position:absolute;
	width: 100%;
	right:16px;
	top:0px;
	height:80px;
	z-index:20;
	background-color:#ffffff;
	background-image:url(../images/edge_header.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	min-width:777px;
}

div#navigation_impress {
	position:absolute;
	width: 100%;
	right:16px;
	top:0px;
	height:80px;
	z-index:20;
	background-color:#ffffff;
	background-image:url(../images/edge_header.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	min-width:777px;
}

div#navigation_draw {
	position:absolute;
	width: 100%;
	right:16px;
	top:0px;
	height:80px;
	z-index:20;
	background-color:#ffffff;
	background-image:url(../images/edge_header.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	min-width:777px;
}

div#navigation_base {
	position:absolute;
	width: 100%;
	right:16px;
	top:0px;
	height:80px;
	z-index:20;
	background-color:#ffffff;
	background-image:url(../images/edge_header.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	min-width:777px;
}

div#navigation_math {
	position:absolute;
	width: 100%;
	right:16px;
	top:0px;
	height:80px;
	z-index:20;
	background-color: #ffffff;
	background-image: url(../images/edge_header.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	min-width:777px;
}

div#pagelogo {
	position: absolute;
	left: 16px;
	bottom: 0px;
	width: 236px;
	height: 70px;
	z-index: 5;
}

div#pagelogo a {
	display: block;
	border: 0px;
	margin-left: 10px;
	background-image: url('../images/pagelogo.jpg');
	width: 236px;
	height: 70px;
}

img#pagelogo {
	display: none;
	margin-top:10px;
	margin-left:10px;
	margin-top:10px;
	border-width:0px;
}

div#langbox a {
	font-weight:normal;
}

ul#linkbox {
	position:absolute;
	right:13px;
	top:13px;
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
	color: #06348c;
}

ul#linkbox li {
	display: inline;
	font-weight: normal;
	margin: 0em 1ex;
	color: #bbbbbb;
}

ul#linkbox li a {
	font-weight: normal !important;
	color: #bbbbbb !important;
}

ul#linkbox li a:link {
	font-weight: normal !important;
	color: #bbbbbb !important;
}

#bodycol ul#linkbox li a:link {
	color: #bbbbbb !important;
}

ul#linkbox li a:hover {
	color: #06348c !important;
}

ul#linkbox li a:focus {
	color: #06348c !important;
}

ul#linkbox li.mainpage {
	margin-right: 0px;
}

ul#linkbox li.lang a {
}

ul#linkbox li.dl a {
}

ul#linkbox li.mainpage a {
}

ul#menu {
	display: block;
	position: absolute;
	right: 0px;
	top: 37px;
	height: 43px;
	margin: 0px;
	padding: 0px;
	padding-left: 43px;
	background-image: url(../images/edge_menubar.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	white-space: nowrap;
	z-index: 1;
}

ul#menu li.menu {
	display: block;
	position: relative;
	height: 43px;
	float: left;
	font-size: 16px;
	/*width:6em;*/
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
	background-image: url(../images/sep_menubar.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	text-align: left;
	vertical-align: top;
}

ul#menu li.menu a, ul#menu li.menu a:link, ul#menu li.menu a:visited, ul#menu li.menu a:active {
	float: left !important;
	display: block !important;
	height: 31px !important;
	/*width:3em;*/
	margin: 0px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 12px !important;
	padding-bottom: 0px !important;
	background-image: url(../images/bg_menubar.jpg) !important;
	background-repeat: repeat-x !important;
	text-align: center !important;
	font-size: 14px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	color: #ddddff !important;
}

* html ul#menu li.menu a, * html ul#menu li.menu a:link, * html ul#menu li.menu a:visited, * html ul#menu li.menu a:active {
	height: 43px !important;
}

ul#menu li.menu a:hover, ul#menu li.menu a:focus {
	text-decoration: underline !important;
}

ul#menu li#menu_1 {
	padding-left: 0px;
}

ul#menu li#menu_1 a {
	padding-left: 10px !important;
}

ul#menu li#menu_tour {
	padding-right: 43px;
	padding-left: 0px;
	background-image:url(../images/edge_menubar_tour2_right.jpg);
	background-position: top right;
}

ul#menu li#menu_tour a {
	padding-left: 10px !important;
	padding-right: 10px !important;
	background-image:url(../images/bg_menubar_tour2.jpg) !important;
	color: #06348c !important;
}

ul#menu li#menu_tour a:link {
	color: #06348c !important;
}

ul#menu.extended {
	background-image:url(../images/edge_menubar_tour2.jpg);
}

/*
li#menu_download {
	padding-left: 5px;
	background-image:url(../images/sep_menubar.jpg);
	background-position: top left;
}

li#menu_download a {
	padding-left: 10px;
	padding-right: 10px;
	background-image:url(../images/bg_menubar_dl.jpg);
	color: #ddffcc;
}
*/

ul#menu li#menu_tour a span.nexttouritem {
	display: none;
	position: absolute;
	top: 42px;
	left: -33px;
	float: none;
	padding: 1em;
	margin:0px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #06348c;*/
	background-image: url(../images/almostmenu.png);
	/*border: 1px solid #aaaaff;*/
	/*border-top-width:0px;*/
	font-size: 10pt;
	white-space: normal;
	text-align: center;
	color: #ffffff;
}

ul#menu li#menu_tour:hover span.nexttouritem {
	display:block;
}

/*div#navigation_writer ul#menu {
	background-image:url(../images/edge_menubar_writer.jpg);
}*/

div#navigation_writer ul#menu li.menu {
	background-image:url(../images/sep_menubar_writer.jpg);
}

div#navigation_writer ul#menu li#menu_tour {
	background-image:url(../images/edge_menubar_tour2_writer.jpg);
}

div#navigation_writer ul#menu li.menu a {
	background-image:url(../images/bg_menubar_writer.jpg) !important;
}

div#navigation_writer ul#menu li#menu_tour a {
	background-image:url(../images/bg_menubar_tour2.jpg) !important;
}

div#navigation_writer ul#menu li.submenu a {
	background-image:none !important;
}

div#navigation_writer ul#menu li.menu ul.submenu {
	background-image:url(../images/almostwriter.png);
	border-color: #5f7b8d;
}

* html div#navigation_writer ul#menu li.menu ul.submenu {
	background-image: none;
	background-color: #678293; /* IE submenu background */
}

/*div#navigation_calc ul#menu {
	background-image:url(../images/edge_menubar_calc.jpg);
}*/

div#navigation_calc ul#menu li.menu {
	background-image:url(../images/sep_menubar_calc.jpg);
}

div#navigation_calc ul#menu li#menu_tour {
	background-image:url(../images/edge_menubar_tour2_calc.jpg);
}

div#navigation_calc ul#menu li.menu a {
	background-image:url(../images/bg_menubar_calc.jpg) !important;
	color: #f5ffee !important;
}

div#navigation_calc ul#menu li.menu a:link {
	color: #f5ffee !important;
}

div#navigation_calc ul#menu li#menu_tour a {
	background-image:url(../images/bg_menubar_tour2.jpg) !important;
	color: #06348c !important;
}

div#navigation_calc ul#menu li#menu_tour a:link {
	color: #06348c !important;
}

div#navigation_calc ul#menu li.submenu a {
	background-image:none !important;
	color: #f5ffee !important;
}

div#navigation_calc ul#menu li.submenu a:link {
	color: #f5ffee !important;
}

div#navigation_calc ul#menu li.menu ul.submenu {
	background-image:url(../images/almostcalc.png);
	border-color: #9dc915;
}

* html div#navigation_calc ul#menu li.menu ul.submenu {
	background-image: none;
	background-color: #a1cb1f; /* IE submenu background */
}

/*div#navigation_impress ul#menu {
	background-image:url(../images/edge_menubar_impress.jpg);
}*/

div#navigation_impress ul#menu li.menu {
	background-image: url(../images/sep_menubar_impress.jpg);
}

div#navigation_impress ul#menu li#menu_tour {
	background-image: url(../images/edge_menubar_tour2_impress.jpg);
}

div#navigation_impress ul#menu li.menu a {
	background-image: url(../images/bg_menubar_impress.jpg) !important;
	color: #f5ffee !important;
}

div#navigation_impress ul#menu li.menu a:link {
	color: #f5ffee !important;
}

div#navigation_impress ul#menu li#menu_tour a {
	background-image: url(../images/bg_menubar_tour2.jpg) !important;
	color: #06348c !important;
}

div#navigation_impress ul#menu li#menu_tour a:link {
	color: #06348c !important;
}

div#navigation_impress ul#menu li.submenu a {
	background-image: none !important;
	color: #f5ffee !important;
}

div#navigation_impress ul#menu li.submenu a:link {
	color: #f5ffee;
}

div#navigation_impress ul#menu li.menu ul.submenu {
	background-image: url(../images/almostimpress.png);
	border-color: #f96501;
}

* html div#navigation_impress ul#menu li.menu ul.submenu {
	background-image: none;
	background-color: #f26d10; /* IE submenu background */
}

/*div#navigation_draw ul#menu {
	background-image:url(../images/edge_menubar_draw.jpg);
}*/

div#navigation_draw ul#menu li.menu {
	background-image:url(../images/sep_menubar_draw.jpg);
}

div#navigation_draw ul#menu li#menu_tour {
	background-image:url(../images/edge_menubar_tour2_draw.jpg);
}

div#navigation_draw ul#menu li.menu a {
	background-image: url(../images/bg_menubar_draw.jpg) !important;
	color: #f5ffee !important;
}

div#navigation_draw ul#menu li.menu a:link {
	color: #f5ffee !important;
}

div#navigation_draw ul#menu li#menu_tour a {
	background-image: url(../images/bg_menubar_tour2.jpg) !important;
	color: #06348c !important;
}

div#navigation_draw ul#menu li#menu_tour a:link {
	color: #06348c !important;
}

div#navigation_draw ul#menu li.submenu a {
	background-image: none !important;
	color: #f5ffee !important;
}

div#navigation_draw ul#menu li.submenu a:link {
	color: #f5ffee;
}

div#navigation_draw ul#menu li.menu ul.submenu {
	background-image:url(../images/almostdraw.png);
	border-color: #fcb330;
}

* html div#navigation_draw ul#menu li.menu ul.submenu {
	background-image: none;
	background-color: #fcb63a; /* IE submenu background */
}

/*div#navigation_base ul#menu {
	background-image:url(../images/edge_menubar_base.jpg);
}*/

div#navigation_base ul#menu li.menu {
	background-image:url(../images/sep_menubar_base.jpg);
}

div#navigation_base ul#menu li#menu_tour {
	background-image:url(../images/edge_menubar_tour2_base.jpg);
}

div#navigation_base ul#menu li.menu a {
	background-image: url(../images/bg_menubar_base.jpg) !important;
	color: #f5ffee !important;
}

div#navigation_base ul#menu li.menu a:link {
	color: #f5ffee !important;
}

div#navigation_base ul#menu li#menu_tour a {
	background-image: url(../images/bg_menubar_tour2.jpg) !important;
	color: #06348c !important;
}

div#navigation_base ul#menu li#menu_tour a:link {
	color: #06348c !important;
}

div#navigation_base ul#menu li.submenu a {
	background-image: none !important;
	color: #f5ffee !important;
}

div#navigation_base ul#menu li.submenu a:link {
	color: #f5ffee !important;
}

div#navigation_base ul#menu li.menu ul.submenu {
	background-image:url(../images/almostbase.png);
	border-color: #bc4801;
}

* html div#navigation_base ul#menu li.menu ul.submenu {
	background-image: none;
	background-color: #be510e; /* IE submenu background */
}

/*div#navigation_math ul#menu {
	background-image:url(../images/edge_menubar_math.jpg);
}*/

div#navigation_math ul#menu li.menu {
	background-image:url(../images/sep_menubar_math.jpg);
}

div#navigation_math ul#menu li#menu_tour {
	background-image:url(../images/edge_menubar_tour2_math.jpg);
}

div#navigation_math ul#menu li.menu a {
	background-image: url(../images/bg_menubar_math.jpg) !important;
	color: #f5ffee !important;
}

div#navigation_math ul#menu li.menu a:link {
	color: #f5ffee !important;
}

div#navigation_math ul#menu li#menu_tour a {
	background-image: url(../images/bg_menubar_tour2.jpg) !important;
	color: #06348c !important;
}

div#navigation_math ul#menu li#menu_tour a:link {
	color: #06348c !important;
}

div#navigation_math ul#menu li.submenu a {
	background-image: none !important;
	color: #f5ffee !important;
}

div#navigation_math ul#menu li.submenu a:link {
	color: #f5ffee;
}

div#navigation_math ul#menu li.menu ul.submenu {
	background-image:url(../images/almostmath.png);
	border-color: #8da8a3;
}

* html div#navigation_math ul#menu li.menu ul.submenu {
	background-image: none;
	background-color: #93aca8; /* IE submenu background */
}

li.menu a:visited {
	color: #ddddff;
}

li.menu a:hover {
	color: #ffffff;
	text-decoration:underline;
}

li.menu a:focus {
	color: #ffffff;
	text-decoration:underline;
}

ul#menu li.menu ul.submenu {
	display: none;
	position: absolute;
	top: 43px;
	left: 2px;
	float: none;
	padding: 0px;
	padding-bottom: 5px;
	margin:0px;
	margin-right: 16px;
	/*background-color: #06348c;*/
	background-image: url(../images/almostmenu.png);
	/*border: 1px solid #aaaaff;*/
	/*border-top-width:0px;*/
	border: 1px solid #06348c;
	border-top-width: 0px;
	text-align: left;
	color: #ffffff;
}

* html ul#menu li.menu ul.submenu {
	width: 1px; /* ie needs this */
	background-image: none;
	background-color: #134095; /* IE submenu background */
}

ul#menu li#menu_1 ul.submenu {
	left: -36px;
}

ul#menu li#menu_last ul.submenu {
	left: auto;
	right: 0px;
	margin-right: 0px;
}

/*
li.menu a:focus + ul.submenu {
	display:block;
}
*/
ul#menu li.menu:hover ul.submenu {
	display:block;
}

ul#menu li.submenu {
	display: block;
	width: 100%;
	float: none;
	margin: 0px;
	text-align: left;
	list-style: none;
}

ul#menu li.submenu a, ul#menu li.submenu a:link, ul#menu li.submenu a:visited, ul#menu li.submenu a:active {
	display: block !important;
	float: none !important;
	height: auto !important;
	margin: 0px !important;
	padding: 3px 10px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	text-align: left !important;
	line-height: 100% !important;
	background-image: none !important;
	border-width: 0px !important;
	border-top: 0px solid #ccccff !important;
	font-size: 9pt !important;
	color: #ccccff !important;
}

* html ul#menu li.submenu a, * html ul#menu li.submenu a:link, * html ul#menu li.submenu a:visited, * html ul#menu li.submenu a:active {
	height: auto !important;
}

ul#menu li.submenu a:hover, ul#menu li.submenu a:focus {
	display: block !important;
	line-height: 100% !important;
	text-decoration: underline !important;
	color: ffffff !important;
	/*background-color: #06348c;*/
}

ul#menu li.submenu hr {
	position: relative;
	width: 100%;
	border: 0px;
	height: 0px;
	margin-left: 0px;
	border-bottom: 1px solid #06348c;
}
