
.contentarea {
	 background-image: url("img/help_index.png");
	 background-repeat: no-repeat;
	 background-position: top right;
	 margin: 0px;
	 padding: 0px;
	 font-family: Arial,Helvetica,sans-serif;
}

.contentarea * {
 font-family: Arial,Helvetica,sans-serif!important;
 }

#olh_footer { 
 	bottom: 0px;
 	right: 0px;
	position: fixed;
	font-size: x-small;
	color: #666;
	background-color: #fff;
	padding: 1px;
}

#olh_header {
	font-size: 200%;
	font-weight: bold;
	color: #042460;
	height: 60px;
}

#subheader {
	font-size: x-small;
	font-weight: normal;
	color: #999;
	border-bottom: 1px solid #042460;
}

div.changedate { 
	
}

#header #icon {
	right: 0px;
	top: 0px;
	position: fixed;
	clear: right;
}

#content {
	clear: left;
	padding-top: 10px;
	padding-left: 10px;
	max-width: 750px;
	border-right: 1px dotted #999;
	border-left: 1px solid #042460;
}

#localmenu {
  border: 1px solid #042460;
  border-top: 0px;
  padding: 2px;
  background-color: #DCEBF4;
  width: 150px;
  position: fixed;
  right: 8px;
}

#submenu {
	display: inline;
	margin-left: 5px;
}

#localmenu .menuitem {
	font-size: small;
	padding: 3px;
	margin: 1px;
	}

#submenu .menuitem {
	display: inline;
	font-size: small;
	padding: 8px;
	padding-top: 3px;
	padding-bottom: 0px;
	margin: 1px;
	}
	
	
#localmenu .menuitem:hover {
  padding: 2px;
  font-weight: bold;
  border: 1px solid #042460;
  cursor: pointer;
}

#submenu .menuitem:hover {
  padding: 7px;
	padding-top: 2px;
  padding-bottom: 0px;
  border: 1px solid #042460;
  cursor: pointer;
  color: #042460;

}

#submenu .current {
  border: 1px solid #042460;
  padding: 2px;
  padding-bottom: 0px;
  /*background-color: #042460;*/
  font-weight: bold;
  color: #042460;
  cursor: pointer;
 border-bottom: 1px solid #fff;
}

#submenu .current:hover {
  border: 1px solid #042460;
  padding: 2px;
  padding-bottom: 0px;
  /*background-color: #042460;*/
  font-weight: bold;
  color: #042460;
  cursor: pointer;
 border-bottom: 1px solid #fff;
}

div.contentarea h1, h2, h3, h4, h5, h6 {
	color: #042460;
	font-family: Arial,Helvetica,sans-serif;
}

div.contentarea h1 { font-size: 150%; font-family: Arial,Helvetica,sans-serif;}
div.contentarea h2 { font-size: 125%; margin-left: 80px; margin-bottom: 0px;font-family: Arial,Helvetica,sans-serif;}
div.contentarea h3 { font-size: 110%; font-family: Arial,Helvetica,sans-serif;}
div.contentarea h4 { font-size: 100%; font-family: Arial,Helvetica,sans-serif;}

div.contentarea p {
	margin: 10px;
	margin-left: 80px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 0px;
	line-height: 1.5em;
	text-align: justify;
	max-width: 580px;
}


img.flowright {
	float: right;
	vertical-align: top;
	padding: 10px;
}

img.headericon {
	vertical-align: top;
}

ul.olh {
	
	margin-left: 95px;
	margin-right: 0px;
	padding-right: 10px;
	padding-left: 0px;
}

ul.olh li {
	
	max-width: 570px;
	padding-left: 5px;
	list-style-type: square;
}

div.contentarea a {
	text-decoration: none;
	border-bottom: 1px dotted #042460;
	color: #042460;
}

div.contentarea a:hover {
	text-decoration: none;
	border-bottom: 1px solid #8B2D2D;
	color: #8B2D2D;
}

div.contentarea a:before {
    content: url(img/redo.png);
    vertical-align: middle; 
    padding-right: 2px;
}

div.contentarea a.nolink {
	border-bottom: 0px;
	color: #999;
}

#submenu .current  a.nolink {
  color: #042460;

}

div.contentarea a.nolink:hover {
  background-color: inherit;
  color: #042460;
}

div.contentarea a.nolink:before {
	content: "";
	padding-right: 0px;
}

div.contentarea a[href$='.pdf']:before {
    content: url(img/acroread.png);
    vertical-align: middle; 
    padding-right: 2px;
}

div.contentarea a[href^='mailto:']:before { 
	content: url(img/mail_send.png); 
	vertical-align: middle; 
	padding-right: 2px; 
	border: 0px;
}

span.oooname:before {
	/*content: url(img/ooo_gulls_small.png);
  vertical-align: middle; 
  padding-right: 2px;*/
}