.bouton {
    display: block;
  width: 193px;
    margin: 0px;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 0px;
    color: #505256;
  background: #C4DAE9 no-repeat;   
    font-size: 1.3em; 
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  /*text-transform: lowercase; */
}

.bouton:hover {
    color: #395073;
  background-color: #E1ECF4;
  cursor: pointer; 
}

.bouton span {
    display: block;
  width: 163px;
  margin: 0px;  
  padding: 0px;
  height: auto!important; /* IE 'hack' for min-height */
  height: 70px;
  min-height: 35px;
    background: url("/branding/images/buttonsmall_bottom.gif") no-repeat bottom right;
}

.bouton span small {
  font-weight: normal;
}

#fondboutons {
    float: left;
    width: 100%;
    margin: 0px;
  padding: 0px;
  background: url("background_OOogulls.gif") no-repeat top right;
}

#ligneboutons {
    float: left;
        /* 25% restant = place pour la mouette */
    width: 75%; 
    margin: 0px;
  padding: 0px;
}

#boutondownload {
  float:left;
  width: 220px;
    margin-bottom: 0.5em;
  margin-left: 0.5em;
  font-size: 1.4em;
  color: #464D31;
    background: #B9E06C url("buttondownload_small.gif") no-repeat;
}

#boutondownload:hover {
    color: #395073;
    background-color: #c7e094;
  cursor: pointer; 
}

#boutondownload span {
    display: block;
  width: 190px;
  min-height: 55px;
  height: auto!important; /*ie hack for minheight*/
  height: 55px;
  padding-top: 15px;
  padding-left: 30px;
   vertical-align: bottom;
    background: url("buttondownload_bottom.gif") no-repeat bottom right;
}

#boutondownload span small {
  font-weight: normal;
}










.optionitem {
background: #eef;
margin-bottom: 2em;
padding: 0.5em;
padding-left: 1em;
padding-right: 1em; 
/*cursor: pointer;*/
}
.optionitem h2 {
margin-top: .7em;
width: 100%;
line-height: 120%;
}
.optionitem h2 a {
display: block;
width: 100%;
text-decoration: none;
color: #008
}
.optionitem h2 a:hover {
color: #448;
}
.optionitem:hover {
background: #f4f4ff;
cursor: pointer;
}

#optionitem2 {
background-image: url("cdrom.gif");
background-repeat: no-repeat;
background-position: top right;
}
#optionitem3 {
background-image: url("p2p.gif");
background-repeat: no-repeat;
background-position: top right;
}








