/*#leftcol {
display: none;
} */

#navcol {
  display: none;
}

#contextualinformation {
  display: none;
}

#breadcrumbs {
  display: none;
}

/*#broadcastmsg {
  display: none;
}*/

#toptabs {
  display: none;
}

/*#footer {
  display: none;
}*/
