/* Wymuszone przez strone*/

#contextualinformation {display: none;}
#navcol { display: none; }
#breadcrumbs { display: none; }
#contextualinformation.contentpart { height: 10px; }
#nonfooter { position: static;}
#content { padding: 0px; }
#footer { position: static; margin-top: 0px;}

/* NOWE STRONA G£ÓWNA */

#mainpl {
  width: 100%;
  clear: both;
  margin-top: 0px;
  text-align: left;
  border: none;
  padding-bottom: 0px;
  background: #ffffff none;
  border-collapse: collapse;
}

#plcontent {
  padding: 0px;
  width: auto;
}

#menu {
  padding: 10px;
  width: 180px;
  background: #ffffff none;
  font-size: 90%;
}

#news {
  width: 300px;
  margin: 0px;
  padding-left: 5px;
}

/* MENU START */
#menu a#pobieranie, #menu a#instalacja, #menu a#bazawiedzy, #menu a#wspolpraca, #menu a#stronaglowna {
  margin-bottom: 5px;
  display: block;
  width: 180px;
  height: 30px;
}

#menu a#stronaglowna { background: transparent url("./grafika/stronaglowna.png") no-repeat 0 0; }
#menu a#stronaglowna:hover { background: transparent url("./grafika/stronaglowna.png") no-repeat 0 -30px; }

#menu a#pobieranie { background: transparent url("./grafika/pobieranie.png") no-repeat 0 0; }
#menu a#pobieranie:hover { background: transparent url("./grafika/pobieranie.png") no-repeat 0 -30px; }

#menu a#instalacja { background: #ffffff url("./grafika/instalacja.png") no-repeat 0 0; }
#menu a#instalacja:hover { background: #ffffff url("./grafika/instalacja.png") no-repeat 0 -30px; }

#menu a#bazawiedzy { background: transparent url("./grafika/bazawiedzy.png") no-repeat 0 0; }
#menu a#bazawiedzy:hover { background: transparent url("./grafika/bazawiedzy.png") no-repeat 0 -30px; }

#menu a#wspolpraca { background: transparent url("./grafika/wspolpraca.png") no-repeat 0 0; }
#menu a#wspolpraca:hover { background: transparent url("./grafika/wspolpraca.png") no-repeat 0 -30px; }

#menu ul {
  list-style-type: square;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

#menu ul li {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left:20px;
}

/* MENU STOP */
/* CONTENTS STYLES */

#mainpl a {text-decoration:none; color: #395ecc;}
#mainpl a:hover, #mainpl a :active { color: #afcbe2;}

#mainpl h3 {font-size: 1.3em; margin-bottom: 5px;}

div.center { text-align: center; }
div.right { text-align: right; }

div.uwaga {
  color: #aaaaaa;
  font-size: 80%;
}

div.uwaga a {color: #888888;}

/* Style tabel */
#news table, #plcontent table {
  border-collapse: collapse;
  width: 100%;
}

#news thead td, #plcontent thead td {
  background: #d2e2fa url(./grafika/dt-bg.png) repeat-x scroll left bottom;
  border-bottom: 1px solid #9BC0F5;
  margin-top: 0px;
  color: #003399;
  font-size: 120%;
  font-weight: bold;
  text-indent: 5px;
}

#news tfoot td {
  background: #d2e2fa url(./grafika/du-bg.png) repeat-x scroll left top;
  margin-top: 0px;
  padding-top: 2px;
  color: #003399;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}

#news tfoot td { text-align: right; }

#news td, #plcontent td {
  background: #f4f8fe none;/**/
  margin: 0px;
  clear: none;
  padding: 4px;
  border-top: 3px #fff solid;
}

#news td {
  font-size: 90%;
  font-family: arial,helvetica,sans-serif;
  line-height: 120%;
}

#news td.headcol, #plcontent td.headcol {
  background: #eaf2fc;/**/
  color: #698ed1;
  text-align: right;
  vertical-align: top;
  width: 10%;
  padding: 4px;
  font-weight: bold;
  border-bottom: #f6f8fb;
  margin-bottom: .4em;
}

#mainpl a.pobierz {
  background: transparent url(./grafika/pobierz.png) no-repeat 0 5px;
  padding-left: 10px;
}

#mainpl a.pobierz:hover {
  background: transparent url(./grafika/pobierz.png) no-repeat scroll 0 -16px;
  color: #003399;
}