@import url(ns4_toxins.css);

body, p, div, li, td, th, dd, input, select, span, font  {
  font-family:  verdana, lucida, helvetica, arial, sans-serif;
  }
a  {
  text-decoration:  none;
  }
body, p, div, li, td, th, dd, input, select, span  {
  color:  #000;
  }
  
.alt1 {
  font-size:10px; text-align:center; vertical-align: top;
  } 
.alt3 {
  font-size:10px; font-weight:bold; background-color:#CCCCCC;
  } 
.alt4 {
  font-size:11px; font-weight:bold; background-color:#99CCFF;
} 
.alt2 {
  color:#FFFFFF; background-color:#00315A; text-align:left; vertical-align: middle;
} 
.alt5 {
  color:#333333; font-weight:bold; font-size: 12px; text-align: left; white-space: normal; padding: 3pt;
  } 
.alt6 {
  font-weight: bold; text-align: left; background-color:#F0F0F0;
  } 
.alt7 {font-weight: bold; text-align: left; background-color:#FFFFFF;
  }
.alt8 {font-weight: bold; font-size: 11px; text-align: left; vertical-align: top; background-color:#FFFFFF;
  
  }
.alt8b {font-weight: bold; font-size: 11px; text-align: left; vertical-align: top; background-color:#F0F0F0;
  }  
.alt9 {
font-size: 11px; text-align: left; vertical-align: top; background-color:#FFFFFF;
  }  
.alt9b {
  font-size: 11px; text-align: left; vertical-align: top; background-color:#F0F0F0;
  }  
.tableF0 {
  font-size: 11px; background-color:#F0F0F0;
  }  
.alt10 {
  font-size:10px; text-align:left;
  } 
.alt10large
  font-size:11px; text-align:left;
  }
.alt11 {
  font-size:10px; text-align:center; 
  } 
.alt12 {
  font-size:10px; text-align:center; font-weight: bold; color:#0000FF;
  }
.alt13 {
  font-size:11px;
  }
.alt14 {
  font-size:11px; text-align:right;
  }
.alt15 {
  font-size: 11px; text-align:center
  }
.boldcenter {
  font-weight: bold; text-align: center
  }
.fontwhite {
  color:#ffffff;
  }
  
.fontwhitesmall {
  color:#ffffff; font-size:11px; text-align:left; font-weight:bold
  }
.fontredochre {
  font-size:12px;
  color:#cc3300;
  }
.smaller {
  font-size:9px
  }
h2 {
  color:#c30;
  }
.PlainTextBold, .StatText, .StatHeader, .DevHeader, .DevName, .Header, .ProjectNameHeader, .NewsDate, .Download, .Welcome, .ProjectCategory, .ResourcesHeader, .ProjectName2, .InputHeader, .InputHeaderReversed, .ProjectHeader, .NewsHeader, .NewsDateTable, .SiteHeader, .ProjectDownloadHeader, .Asterisk, .HelpTextHeader, .HelpTextBold, .SmallHeader, .Warning, .TypewriterBold, .FooterNav, A.FooterTextLink, .HeaderText, .Crumbing, .Download  {
  font-weight:  bold;
  }
.StatHeader, .InputHeaderReversed, .footer1, .FooterNav, .FooterTextLink, .Crumbing, .SideText   {
  color:  #fff;
  }
/* .Copy, .ResourceName  {
  line-height:  14px;
  }
.StartCopy  {
  line-height:  13px;
  } */
.TableData  {
  color:  #a00;
  }
.NewsDate  {
  color:  #500;
  }
.ProjectCategory  {
  color:  #a70;
  }
.ProjectName2  {
  color:  #ff0;
  }
.NewsHeader  {
  color:  #aa0;
  }
.SiteHeader  {
  color:  #550;
  }
.SmallHeader  {
  color:  #0a0;
  }
.Warning  {
  color:  #f00;
  }
.TypewriterPlain, .TypewriterBold    {
  font-family:  courier, monospace;
  }
.FooterTextLink  {
  font-weight:  normal;
  }
.HeaderText  {
  color:  #39f;
  }
.Crumbing, .HeaderText  {
  text-transform:  uppercase;
  }
A.Crumbing  {
  font-style:  italic;
  }
A.Crumbing:hover, A.FooterNav:active, A.FooterNav:hover, A.FooterTextLink  {
  text-decoration:  underline;
  }
.BodyText  {
  color:  #9cf;
  }
.Download, .DevName  {
  color:  #666;
  }


