#content_mn {
  font-size: 12px;
}

#content_mn table{
  background-color:#fff; color:0;
  border-collapse:collapse; border-spacing:0;
  border-style: solid; border-width: 2px; border-color: #fff;
  margin-bottom:5px;
}
#content_mn table caption{
  background-image: url(/pic/rounded_corner.gif); background-repeat: no-repeat;
  background-color: #649cef;
  color:#fff;
  font-weight:bold; font-size: 100%; font-variant:small-caps;
  text-align:left; padding:4px;
  border-style: solid; border-width: 2px; border-color: #fff;
  margin-top:5px;
}
#content_mn td {
  background-color:#f5f5f5; color:0;
  padding:2px;
  border-style: solid; border-width: 1px; border-color: #fff;
}

#smaller {
  font-size: 80%;
}
