
/* Main CSS */

/* Besuchte Links immer noch unterstrichen darstellen */
a:link {
 text-decoration: underline !important;
 color: rgb( 6, 42, 140 ) !important;
}

a:visited {
 text-decoration: underline !important;
 color: rgb( 100, 100, 100 ) !important;
}

#navcol {
  display: none;
}

#breadcrumbs {
  display: none;
}

#tl {background: url("../pic/left_top.png") 0 0 no-repeat;
  margin:0;
  float: center;
  text-align: center;
}

#tr {background: url("../pic/right_top.png") 100% 0 no-repeat;
  clear: both;
}

#main-content {
  padding-top:20;
}

.title {
  padding-left: 0;
  border: solid 1px #9cbbd5;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
  font-size: 2em;
}

#ooo-modules {
  text-align: center;
  margin-top: 12px;
}

img.icon {
  border: 0;
}

table.ooomodules {
  margin: auto;
}

table.ooomodules td {
  text-align: center;
  padding: 0 8px 0 8px;
}

#download {
  font-weight: bold;
  font-size: 2em;
  margin-top: 20px;
  padding: 12px;
}

td {
  padding: 4px;
  vertical-align: top;
}

.sectMainLink {
  background: url("../pic/balk1.png") repeat-x 0% 0%;;
  padding-top: 10px; /* was 3px */
  font-size: 1.4em; /*was 1.7*/
  height: 60px;
  border-bottom: solid 1px #4573b8;
}
.sectSubLink {
  font-size: .57em;
  margin-top: 4px;
  margin-left: 4px;
}
