
#body_mn table{
  background-color:#fff; color:0;
  border-collapse:collapse; border-spacing:0;
  border-style: solid; border-width: 2px; border-color: #fff;
  margin-bottom:5px;
}
#body_mn table caption  {
  background-image: url(/branding/images/nw_maj_rond.gif); background-repeat: no-repeat;
  /* SimonAW, Mar 28 2008: Farben ans neue Layout anpassen */
  background-color: #9cc0f5; /*#06348C;*/
  color:#fff;
  font-weight:bold; font-size: 100%; font-variant:small-caps;
  text-align:left; padding:4px;
  border-style: solid; border-width: 2px; border-color: #fff;
  margin-top:5px;
}
#body_mn th  {
  background-color:#ddd;  color:0;
  padding:3px; padding-top:5px;
  border-style: solid; border-width: 2px; border-color: #fff;
}
#body_mn td {
  background-color:#efefef; color:0;
  padding:2px;
  border-style: solid; border-width: 1px; border-color: #fff;
}

/*--- Style für ungerade Tabellenzeilen (diese Klasse wird
    automatisch durch ein Javascript für <tr> gesetzt ) 
    das script beachtet nur Tabellen der Klasse "decorate"---*/
#body_mn .oddRow td{
  background-color:#ddd
}

/*-------------------------------------------------------------*/
/*--- Styles für "Sonderelemente"---*/
/*-------------------------------------------------------------*/

/*--- Klassen für FAQ's (Absätze für Fragen bzw. Antworten) ---*/
#body_mn p.question {
  font-weight:bold;
  margin-top:20px; padding-left:30px;
  background-image:url(../doc/pics/q.gif); background-repeat:no-repeat;
}
#body_mn p.answer {
  margin-top:10px; padding-left:30px;
  background-image:url(../doc/pics/arrow.gif); background-repeat:no-repeat;
}

/*--- Klassen für "Tipp"-Tabellen (häufig in den Dokus / HowTo's
  genutzt, die mit dem Writer-Styleguide erzeugt wurden
  - Abtände oben und Unten
  - Tipp-Grafik wird als <th> ausgeführt, hat weissen Hintergrund 
  - Tipp-Text wird als <td> ausgeführt, bekommt grauen Hintergrund 
    und oben / unten doppelten Rand---*/
#body_mn table.tipp {
  margin-top:20px; margin-bottom:20px;
  border-style: none; 
}
#body_mn table.tipp th {
  background-color:#ffffff;
  border-style: none;
}
#body_mn table.tipp td {
  border-width: 3px; border-color: #000;
  border-top-style: double; border-bottom-style: double; 
  border-left-style: none; border-right-style: none; 
}

/*--- Klasse, um Hintergrund auf weiss zu setzen (z.B. für 
  einzelne Tabellenzellen) Nur als Ausnahme benutzen! ---*/
#body_mn .white-background {
  background-color:#ffffff;
}

/* SimonAW, Mar 11 2008, Mar 28 2008
 * Besuchte Links immer noch unterstrichen darstellen
 */
a:link {
 text-decoration: underline !important;
 color: rgb( 6, 42, 140 ) !important;
}

a:visited {
 text-decoration: underline !important;
 color: rgb( 100, 100, 100 ) !important;
}

#navigation a:link {
 color: white !important;
 text-decoration: none !important;
}

#navigation a:visited {
 color: white !important;
 text-decoration: none !important;
}

#navigation li.th a:link {
 color: rgb( 6, 42, 140 ) !important;
 text-decoration: none !important;
}

#navcolumn a:link {
 text-decoration: none !important;
}

#navcolumn a:visited {
 text-decoration: none !important;
}

/* minitab-Links (die Box oben rechts)  */
#minitabs a:link { color: white !important; text-decoration: none !important; }
#minitabs a:visited { color: white !important; text-decoration: none !important; }

/* -- */

