#navbar_mn {
  font-size: 1.1.em;
  visibility:visible;
  position:static; float:right; 
  margin-left:5px; margin-bottom:20px;
    border: none 0px;    
    background-color: #DEE4EE;    
    background-image: url("../pic/navbar.png");    
    background-repeat: repeat-y;    
    background-position: top left;    
    color: #06348C;
}

#navbar_mn th{
  background-color: #06348C;  color: #fff;
  border-style:none;
  padding:3px;
  padding-top:5px;
}

#navbar_mn th.dev{
  background-color:#fc9; color:#000000;
}

#navbar_mn th a:link, #navbar_mn th a:visited {
  text-decoration: none;  color: #fff;
}

#navbar_mn td a:link, #navbar_mn td a:visited {
  text-decoration: none;  // color: 0;
}
*/
/*-------------------------------------------------------------*/
