
#body_mn  { 
  font-size:8pt;
  }


/*--- Seitenlayout (Schusterjungen und Hurenkinder vermeiden) ---*/

#body_mn { 
  widows:3; orphans:3;
  text-align:justify;
  }


/*--- Tabellen (weisser Hintergrund, leichte, graue Ränder)---*/

#body_mn table{
  background-color:#fff; color:0;
  border-collapse:collapse; border-spacing:0;
  border-style: solid; border-width: 2px; border-color: #efefef;
  margin-bottom:5px;
}
#body_mn table caption  {
  font-weight:bolder;  font-variant:small-caps;
  text-align:left; padding:4px;
  border-style: solid; border-width: 2px; border-color: #efefef;
  margin-top:5px;
}
#body_mn th  {
  font-weight:bold;
  padding:3px; padding-top:5px;
  border-collapse:collapse; border-spacing:0;
  border-style: solid; border-width: 2px; border-color: #efefef;
}
#body_mn td {
  padding:2px;
  border-collapse:collapse; border-spacing:0;
  border-style: solid; border-width: 1px; border-color: #efefef;
}


/*-------------------------------------------------------------*/
/*--- Elemente, die nicht gedruckt werden sollen ---*/
/*-------------------------------------------------------------*/

/*--- Navbar aus ---*/
#navbar_mn, #toptabs, .tabs {display:none;}

/*-------------------------------------------------------------*/
/*--- Styles für "Sonderelemente"---*/
/*-------------------------------------------------------------*/

/*--- Klassen für FAQ's (Absätze für Fragen bzw. Antworten) ---*/

#body_mn p.question {
  font-weight:bold;
  margin-top:20px; padding-left:30px;
  background-image:url(../doc/pics/q.gif); background-repeat:no-repeat;
}
#body_mn p.answer {
  margin-top:10px; padding-left:30px;
  background-image:url(../doc/pics/arrow.gif); background-repeat:no-repeat;
}

/*--- Klassen für "Tipp"-Tabellen (häufig in den Dokus / HowTo's
  genutzt, die mit dem Writer-Styleguide erzeugt wurden
  - Abtände oben und Unten
  - Tipp-Grafik wird als <th> ausgeführt, hat weissen Hintergrund 
  - Tipp-Text wird als <td> ausgeführt, bekommt grauen Hintergrund 
    und oben / unten doppelten Rand---*/

#body_mn table.tipp {
  margin-top:20px; margin-bottom:20px;
  border-style: none; 
}
#body_mn table.tipp th {
  background-color:#ffffff;
  border-style: none;
}
#body_mn table.tipp td {
  background-color:#ffffff;
  border-width: 3px; border-color: #000;
  border-top-style: double; border-bottom-style: double; 
  border-left-style: none; border-right-style: none; 
}
