/*
  CSS for de.openoffice.org homepage
  all derived from the main project home page DomainHome.css in the style dir
  Basicly you can find standard tags first, f ollowed by classed, and then more specific
*/

/*-------------------- Exceptions on standard css -----------------------*/
#navcol {
  display: none;
  }
#bodytd {
  padding: 0px; /* no content padding for homepage */
  width: 100%;
  margin: 0px;
}
#bodycol {
  padding: 0px!important;
  margin: 0px;
  width: 100%;
}


/*-------------------- Standard Button Design ---------------------------*/
.button {
  display: block;
  width: 193px;
  margin: 0px;
  margin-bottom: 4px;
  padding: 0px;
  color: #000000;
  background-repeat: no-repeat;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
.button:hover {
  color: #000000;
  cursor: pointer;
}
.button span {
  display: block;
  width: 163px;
  margin: 0px;
  padding-left: 30px;
  padding-top: 1em;
  height: auto!important; /* IE 'hack' for min-height */
  height: 35px;
  min-height: 35px;
  background: url("http://www.openoffice.org/style/buttonsmall_bottom.gif") no-repeat bottom right;
}
.button span small {
  font-weight: normal;
}
/*-------------------- Standard Content area design ---------------------------*/
.content {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.contentpart {
  float: left;
  width: 100%;
  padding: 1em;
  border: none 0px;
}
.contentpart img {
  float: right;
  margin: 0px;
  clear: none;
}
.contentpart .contentsubpart {
  float: right;
  display: block;
  clear: none;
  width: 30%;
}
/*----------------Standard table design------------------------------------*/
/* might move this to global styles? */
table {
  border-collapse: collapse;
  border-bottom: #f6f8fb;
  width: 98%;
}
td {
  background: #f6f8fb url("http://www.openoffice.org/branding/images/lightbluefadeout.gif") repeat-y top right;
  margin: 0px;
  clear: none;
  padding: 4px;
  width: 74%;
  border-top: 3px #fff solid;
}
thead td {
  width: 100%;
  font-size: 1.2em;
  color: #06348C;
  margin-top: 0px;
  background: #DEE4EE url("http://www.openoffice.org/branding/images/lesslightbluefadeout.gif") repeat-y top right;
  border-bottom: solid 1px #e9edf4;
  font-weight: bold;
}
td.headcol {
  background: #ecf1f5;
  color: #698ed1;
  text-align: right;
  width: 24%;
  padding: 4px;
  font-weight: bold;
  border-bottom: #f6f8fb;
  margin-bottom: .4em;
}

/*-------------------- Spotlight (for product highligh)------------------------*/
.contentpart#spotlight {
  float: left;
  width: 100%;
  margin: 0px;
  /* margin-top: 1em; */
  padding: 0px;
  background: url("http://www.openoffice.org/style/spotlight_background.gif");
}
.contentpart#spotlight #spotlightgull {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: url("http://www.openoffice.org/style/background_OOogulls.gif") no-repeat top right;
}
.contentpart#spotlight p {
  padding: 0px;
  border: 0px;
}
.contentpart#spotlight h1 {
  margin: 0px;
  margin-top: .5em;
  padding: 0px;
  font-size: 1.4em;  /* war 1.8 */
}

.contentpart#spotlight .wichtig {
  font-size: 1.0em; /* war 1.2 */
  color: #C04040;
         font-weight: bold;
}

.contentpart#spotlight .buttongroup {
  margin: 0px;
  margin-top: 1em;
  margin-right: 1em;
  padding: 0px;
  float: left;
  clear: none;
}
.contentpart#spotlight .buttongroup ul {
  float: left;
  list-style: none;
  display: block;
  margin: 0px;
  margin-bottom: .5em;
  padding: 0px;
}

.contentpart#spotlight .buttongroup #buttonneu:hover {
  background-color: rgb(69,107,204);
  background-image: url("../pics/button_neu.gif");
}
.contentpart#spotlight .buttongroup #buttonproblem:hover {
  background-color: rgb(165,89,191);
  background-image: url("../pics/button_problem.gif");
}
.contentpart#spotlight .buttongroup #buttonmithelfen:hover {
  background-color: rgb(255,170,102);
  background-image: url("../pics/button_mithelfen.gif");
}
.contentpart#spotlight .buttongroup #buttonkontakt:hover {
  background-color: rgb(255,255,102);
  background-image: url("../pics/button_kontakt.gif");
}
.contentpart#spotlight .buttongroup #buttonwo:hover {
    background-color: rgb(217,59,59);
  background-image: url("../pics/button_wo.gif");
}
.contentpart#spotlight .buttongroup #buttonnews:hover {
  background-color: rgb(255,255,40);
  background-image: url("../pics/button_news.gif");
}

.contentpart#spotlight .buttongroup #buttonneu  {
  background-color: rgb(94,132,229);
  background-image: url("../pics/button_neu.gif");
}
.contentpart#spotlight .buttongroup #buttonproblem  {
  background-color: rgb(191,115,217);
  background-image: url("../pics/button_problem.gif");
}
.contentpart#spotlight .buttongroup #buttonkontakt  {
  background-color: rgb(255,255,178);
  background-image: url("../pics/button_kontakt.gif");
}
.contentpart#spotlight .buttongroup #buttonmithelfen  {
  background-color: rgb(255,212,178);
  background-image: url("../pics/button_mithelfen.gif");
}
.contentpart#spotlight .buttongroup #buttonwo  {
  background-color: rgb(242,84,84);
  background-image: url("../pics/button_wo.gif");
}
.contentpart#spotlight .buttongroup #buttonnews  {
  background-color: rgb(255,255,178);
  background-image: url("../pics/button_news.gif");
}

.contentpart#spotlight #buttondownload {
  float:left;
  width: 240px;
  margin-top: 0.5em;
  margin-left: 4%;
  font-size: 1.4em;
  /*color: #000000;*/
  color: #464D31;
  background: #B9E06C url("../pics/buttondownload_top.gif") no-repeat;
  /*background-color: rgb(99,178,76);
  background-image: url("../pics/button_download.gif");
  background-image: url("../pics/buttondownload_bottom.gif");*/
}

.contentpart#spotlight #buttondownload:hover {
  background-color: #c7e094;
/*rgb(138,217,115);*/
  /*background-image: url("../pics/button_download.gif");*/
  /*background-image: url("../pics/buttondownload_bottom.gif");*/
}
.contentpart#spotlight #buttondownload span {
  display: block;
  width: 215px;
  min-height: 85px;
  height: auto!important; /*ie hack for minheight*/
  height: 85px;
  padding-top: 15px;
  padding-left: 35px;
   vertical-align: bottom;
  background: url("buttondownload_bottom.gif") no-repeat bottom right;
/*  background: none; temporary*/
}/*
.contentpart#spotlight #buttondownload {
  display: block;
  width: 240px;
  min-height: 85px;
  height: auto!important; /*ie hack for minheight*/
  height: 85px;
  padding-top: 15px;
  padding-left: 35px;
   vertical-align: bottom;
  background: url("../pics/buttondownload_bottom.gif") no-repeat bottom right;
  background-image: url("../pics/button_down.png") no-repeat top left;
}*/
.contentpart#spotlight #buttondownload sub {
  font-size: .6em;
  font-weight: normal;
  margin-top: .2em;
}
.contentpart#spotlight #buttondownload ul {
  list-style-type: none;
  list-style-position: inside; /* scheint nicht zu funktionieren */
  font-size: .6em;
}
.contentpart#spotlight #buttondownload p {
  font-size: .6em;
}
.contentpart#spotlight .graphicalpresentation {
  float: right;
  clear: none;
  overflow: hidden;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 32%;
  font-size: .8em;
  text-align: right;
}
.contentpart#spotlight .graphicalpresentation h2 {
  font-size: 1.2em;
}
.contentpart#spotlight .graphicalpresentation img {
  float: left;
  padding:0px;
  margin: 0px;
  margin-left: auto;
}
.contentpart#spotlight .ooocomponents {
/*  display: none; */
  float: right;
  width: 100%;
  margin: 0px;
  margin-bottom: 1px;
  padding :0px;
  background: #F6F8FB url("http://www.openoffice.org/branding/images/fadelightbluetowhitevertica.gif") repeat-x top right;
  border: none 0px;
  border-top: 1px solid #5684af;
}
.contentpart#spotlight .ooocomponents h2 {
  text-align: center;
}
.contentpart#spotlight .ooocomponentslist {
  float: right;
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}
.contentpart#spotlight .ooocomponentslist li {
  float: right;
  clear: none;
  width: 3.8em;
  margin: 0px;
  margin-left: 2px;
  margin-right: 1px;
  padding: 0px;
}
.contentpart#spotlight .ooocomponentslist a {
  width: 3.7em;
  margin: 0px;
  padding: 1px;
  padding-top: 20px;
  display: block;
  color: #06348C;
  background: no-repeat top center;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  float: right;
  clear: none;
}
.contentpart#spotlight .ooocomponentslist a:hover {
  background-color: #fff;
  color: #698ed1;
}
.contentpart#spotlight .ooocomponentslist .ooobase a {
  background-image: url("http://www.openoffice.org/branding/images/iconooobase.gif");
}
.contentpart#spotlight .ooocomponentslist .ooocalc a {
  background-image: url("http://www.openoffice.org/branding/images/iconooocalc.gif");
}
.contentpart#spotlight .ooocomponentslist .ooodraw a {
  background-image: url("http://www.openoffice.org/branding/images/iconooodraw.gif");
}
.contentpart#spotlight .ooocomponentslist .ooomath a {
  background-image: url("http://www.openoffice.org/branding/images/iconooomath.gif");
}
.contentpart#spotlight .ooocomponentslist .oooimpress a {
  background-image: url("http://www.openoffice.org/branding/images/iconooopres.gif");
}
.contentpart#spotlight .ooocomponentslist .ooowriter a {
  background-image: url("http://www.openoffice.org/branding/images/iconooowrit.gif");
}
.contentpart#spotlight .ooocomponentslist .oooprodukt a {
  background-image: url("../pics/iconooo.gif");
}

/*-------------------- Styling the news excerpts --------------------------*/
.contentpart#news {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-top: 2em;
  margin-top: -1px;
  color: #444;
  background: #fff url("http://www.openoffice.org/branding/images/shadow.gif") repeat-x;
}

.contentpart#news .item {
  width: 60%;
  padding: 1%;
  padding-top: 0%;
  padding-bottom: 1%;
}
.contentpart#news .item h1 {
  margin: 0px;
  margin-top: -4x;
  padding: 4px;
  color: #06348C;
  font-size: 1.2em;
  background: #DEE4EE url("http://www.openoffice.org/branding/images/lesslightbluefadeout.gif") repeat-y top right;
  border-bottom: solid 1px #e9edf4;
  font-weight: bold;
}


.contentpart#news .item .wichtig h1 {
  color: #C04040;
}

.contentpart#news img {
  float: right;
}

.contentpart#news #newsprimaryarticle {
  background: #f6f8fb url("http://www.openoffice.org/branding/images/lightbluefadeout.gif") repeat-y top right;
}