table {
	border: black 1px solid;
}
th,td {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
td {
	text-align: right;
}
td.name, td.path {
	text-align: left;
}
td.download {
	text-align: center;
}
td.bytes {
	text-align: ".";
}
tr.even
{
	 background-color:	#e1e1e1;
}

tr.odd {
	  background-color:	#BFD8FF;
}
