#MyContent {
  margin-left: 2px;
  margin-right: 100px;
}

#MyContent b {
  font-weight: bold;
/*  color: #06348C; */
}

#MyContent blockquote {
  font-style: italic;
  background-color: #f9f9f9;
  color: #06348C;
}

#MyContent hr {
  color: #999999;
  border-color: #999999;
}

#MyContent h1 {
  color: #999999;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none; font-size: 30px ! important;
  line-height: normal; line-height: normal;
  font-weight: normal; padding: 0px; margin: 0px;
}

#MyContent h2 {
  color: #666666; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none;
/*  font-size: 16px; */
  padding: 0px; margin: 10px 0px 10px 0px;
}

#MyContent h3 {
  color: #666666; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none; background: transparent; 
/*  font-size: 14px;
  font-weight: bold; */
  padding: 0px; margin: 5px 0px 0px 0px;
}

#MyContent h4 {
  color: #666666; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none; background: transparent; 
/*  font-size: 14px; 
  font-weight: normal; */
  padding: 0px; 
/* margin: 5px 0px 0px 0px; */
}

#MyContent ul {
  padding-left: 20px;
}

#MyContent ol {
  padding-left: 20px;
}

#MyContent li {
  margin-bottom: 5px;
}

/* Fix for Google News on Planet page (insists on using tables) */

#MyContent table {
  border-spacing: 0px;
}

/* Text Formatting */
.Grey {
  color: #999999;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 12px;
  float: right;
}
.MyTitle {
  color: #999999;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none; font-size: 30px ! important;
  line-height: normal; line-height: normal;
  font-weight: normal; padding: 0px; margin: 0px;
}
.MySubtitle {
  color: #666666; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 14px;
}
/* Container for the Pics */
.MyBox {
  width: auto;
  padding: 0px 6px 0px 5px;
  clear: both;
}

/* Content holder for the pics */
.MyPics {
  width: auto;
  line-height: auto;
  color: #06348c;
  padding: 2px 9px 2px 8px;
  border: none;
  text-align: center;
  float: left;
}
.MyPicBox {
  vertical-align: middle;
  width: 200px;
  height: 120px;
}	


/* contacts styles */
#contacts-list { }
.contacts-table { 
  margin: 0 0 15px 0; 
}
.contacts-table td {
  color: #000000; background: #f0f0f0; font-size: 0.7em; 
  width: 275px; border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;  
  vertical-align: top; padding: 0 6px 10px 6px; 
}
.contacts-table tbody tr td h3 {
  color: #999999; background: #ffffff; clear: both; 
  padding: 8px 0 4px 0; margin: 0 -6px 4px -6px; 
}
.bcard {
  color: #000000; background: transparent; 
  font: normal 12px "Arial", "Verdana", sans-serif; 
  float: left; display: block; width: 215px; margin: 0 15px 15px 0; 
}

/* press kit styles */
#pk-right 
{ 
  color: #000000; background: #dee4ee; float: right; 
  width: 200px; padding: 6px; margin: 0; 
}
#pk-right h1 {
  font-size: 1.2em; margin: 0 0 1em 0; 
}
