.dba table
{
    text-align:left;
    width: 100%;
    padding:0;
    margin:0;
}

.dba hr
{
    color:#CCCCCC;
    border:solid 1px !important;
}

.dba .with_border
{
    border:solid 1px !important;
}

.dba table ul
{
    padding-left: 0px !important;
}

.dba td
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.dba_light td
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;

	border-width:thin!important;
	border-style:none!important;
    border-color:#CCCCCC!important;
}

.dba tr.MainTableHeader
{
    background-color: #000080;
    color: white;
    font-weight:bold;
}

.dba tr.InnerTableHeader
{
    font-weight: bold;
    background-color: #99ccff;
}

.dba tr.OddTableRow
{
    background-color: #f6f6f6;
}

.dba tr.EvenTableRow
{
    background-color: #e6e6e6;
}
/*
.dba tr.EvenTableRow a:link
{
    color:#000000;
    text-decoration:none;
}

.dba a:hover
{
    //background-color:#DDDDFF;
    color:#06348C!important;
}

.dba tr.OddTableRow a:link
{
    color:#000000;
    text-decoration:none;
}

.dba tr.EvenTableRow a:visited
{
    color:#999999;
    text-decoration:none;
}

.dba tr.OddTableRow a:visited
{
    color:#999999;
    text-decoration:none;
}
*/

.dba h1 
{
	background-color: #DEE4EE;    
    
    font-size:x-large;
    color: #000000;

	padding: 5px;
	margin-bottom: 2px;
}

.dba h2
{
    background-color: #f6f6f6;
    color: #000000;

    padding: 2px;
    margin-bottom: 10px;
}

.dba h3
{
    font-size:normal;
    font-weight:bold;

    background-color: #EEEEEE;

	padding-left:    5px;
    padding-top:     1px;
    padding-bottom:  1px;
    margin-bottom:  10px;
}

.dba_light tr.MainTableHeader
{
    background-color: #EEEEEE;
    font-weight:bold;
    color: black;
}

.dba_light tr.InnerTableHeader
{
    background-color: #F8F8F8;
    font-weight:bold;
    color: black;
}

.dba a.important
{
    font-size:large;
    font-weight:bold;
}

.vertically_centerred
{
    vertical-align:middle;
}

#dba_project_menu .selected
{
    font-weight:bold!important;
    background-color: #DEE4EE;    
}

#dba_menu_bar .selected
{
    font-weight:bold!important;
}

.dba h1
{
    -moz-border-radius: 8px;
}

.dba h2
{
    -moz-border-radius: 5px;
}

.dba h3
{
    -moz-border-radius: 3px;
}

.dba .left_align
{
    text-align:left;
}

.dba .centered
{
    text-align:center;
}
