
* {
	padding: 4px;
	font-family: sans-serif;
}

#feedtitle {
	background: #cfdffe url("ooo-logo.png") no-repeat 100% 0%;
	height: 66px;
	font-size: 2em;
	font-weight: bold;
}

feed, title, subtitle, entry, link, published {
	display: block;
}

title {
	font-size: 1.5em;
}
