#if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
$l10n.setPrefix("ProjectSourceHelp")
 <div>#enterHelp('ProjectSource.html#browsesource' $l10n.BrowseProjectSourceCode)</div>
 <div>#enterHelp('ddUsingCVS_command-line.html#gettingsource' $l10n.GetACopyOfProjectSourceFiles)</div>
 <div>#enterHelp("ddCVS.html" $l10n.LearnMoreAboutCVS)</div>
 <div>#enterHelp('ProjectSource.html#cvsclients' $l10n.FindACVSClient)</div>
 <div>#enterHelp('ddUsingCVS_command-line.html#cvswatch' $l10n.GetNotificationsAboutFiles)</div>
$l10n.restorePrefix()
#end
