 #if( $acl.hasPermission("Project Issue Tracking - Configure", $currentDomain) ) 
 <div>#enterHelp("ProjectOwnerIssues#adminconfigure" $l10n.SetIssueConfigurations)</div>
#end 
 <div>#enterHelp("ddIssues_Reports" $l10n.GenerateIssueReports)</div>


