#if( $acl.hasPermission("Licenses - Administer", $currentDomain) )
 <div><a href="/project/www/docs/DomAdminLicenseAdmin.html#add">Create a new license?</a></div>
 <div><a href="/project/www/docs/DomAdminLicenseAdmin.html#edit">Edit a license?</a> </div>
 <div><a href="/project/www/docs/DomAdminLicenseAdmin.html#detail">View a license?</a></div>
 <div><a ref="/project/www/docs/DomAdminLicenseAdmin.html#delete">Delete a license?</a></div>
#end
