 #if( $acl.hasPermission("Project Issue Tracking - Query", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectIssues.html#accessissues">View issues?</a></div>
#end
 #if( $acl.hasPermission("Project Issue Tracking - Submit ", $currentDomain) ) 
 <div><a href="/project/www/docs/ddIssues_EnterModify.html">Enter an issue?</a></div>
#end
 #if( $acl.hasPermission("Project Issue Tracking - Submit ", $currentDomain) ) 
<div><a href="/project/www/docs/ProjectIssues.html#aboutIZ">Learn more about IssueZilla?</a></div>
#end
 #if( $acl.hasPermission("Project Issue Tracking - Submit ", $currentDomain) ) 
<div><a href="/project/www/docs/ProjectIssues.html#useraccounts">Set my issue tracking preferences?</a></div>
#end
#if( $acl.hasPermission("Project Issue Tracking - Submit ", $currentDomain) )
<div><a href="/project/www/docs/ProjectIssues.html#permissions">Find out about my issue tracking permissions?</a></div>
#end
 
