 #if( $acl.hasPermission("Project Page - View ", $currentDomain) ) <div><a href="/project/www/docs/ProjectNews.html#viewnews">View news items?</a></div>
#end
 #if( $acl.hasPermission("Project News - Suggest", $currentDomain) ) <div><a href="/project/www/docs/ProjectNews.html#addnews">Add news items?</a></div>
#end
