 #if( $acl.hasPermission("Role - Grant", $currentProject))
  <div><a href="/project/www/docs/ProjectOwnerMembers.html#addingmembers">Add members to a project?</a>  
  </div>
 #end
 #if( $acl.hasPermission("Role - Grant", $currentProject))
  <div><a href="/project/www/docs/ProjectOwnerMembers.html#addingmembers">Assign roles to new members?</a>  </div>
 #end
 #if( $acl.hasPermission("Role - Request", $currentProject))
  <div><a href="/project/www/docs/ProjectRoles.html">Learn more about project roles?</a> </div>
 #end


