  #if( $acl.hasPermission("Project - Edit", $currentDomain) ) 
  <div><a href="/project/www/docs/ProjectOwnerEdit.html">Edit my project?</a></div>#end
 #if( $acl.hasPermission("Mailing List - Add ", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectOwnerMailingLists.html">Configure 
 my project's mailing lists?</a></div>#end
