#if( $acl.hasPermission("Role - Grant", $currentProject) )
 <div><a href="/project/www/docs/ProjectMemberList.html">Check the members' roles?</a></div>
#end

#if( $acl.hasPermission("Project Member - List", $currentProject) )
 <div><a href="/project/www/docs/ProjectMemberList.html">View members' issues?</a></div>
#end

#if( $acl.hasPermission("Role - Grant", $currentProject) )
 <div><a href="/project/www/docs/ProjectMemberList.html">Process membership requests?</a></div>
#end
