 #if( $acl.hasPermission("Role - Edit", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#editroles">Edit a role's permissions?</a></div>
#end
 #if( $acl.hasPermission("Role - Grant", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#userroles">Edit a user's role?</a></div>
#end
 #if( $acl.hasPermission("Role - Add", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#addroles">Add new roles?</a></div>
#end
 #if( $acl.hasPermission("Role - Request", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#aboutroles">Learn more about roles?</a></div>
#end
