 #if( $acl.hasPermission("Role - Grant", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#addroles">Learn more about adding new roles?</a></div>
#end
 #if( $acl.hasPermission("Role - Grant", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#editroles">Learn more about permissions?</a></div>
#end
 #if( $acl.hasPermission("Role - Grant", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#viewaddresources.htm">Find out more about actions and resources?</a></div>
#end
