 #if( $acl.hasPermission("Start Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/StartPage.html">Use 
 this page?</a>
</div>
#end
 #if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/Learning.html">Learn 
 about a project?</a>
</div>
#end
 #if( $acl.hasPermission("Project - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMembershipRequest.html">Join 
 a project?</a>
</div>
#end
 #if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectSource.html">Download 
 code?</a>
</div>
#end
 #if( $acl.hasPermission("Project - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectAdd.html">Start 
 a new project?</a>
</div>
#end
 #if( $acl.hasPermission("User - Edit - Self", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMembershipRequest.html">Change my role in a project?</a></div>
#end
 #if( $acl.hasPermission("User - Edit - Self", $currentDomain) ) 
 <div><a href="/project/www/docs/UserEdit.html">Edit my profile?</a></div>
#end
 #if( $acl.hasPermission("User - Edit - Self", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectOwnerEdit.html">Edit my project?</a></div>
#end
 #if( $acl.hasPermission("User - Edit - Self", $currentDomain) ) 
 <div><a href="/project/www/docs/UserEditPassword.html">Change my password?</a></div>
#end
 
