 #if( $acl.hasPermission("User - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminAddUsers.html#editusers">Edit 
 user accounts?</a>
</div>
#end
 #if( $acl.hasPermission("Project - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMembershipRequest.html">Change 
 my role in a project?</a>
</div>
#end
 #if( $acl.hasPermission("User - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#userroles">Assign 
 roles to added users?</a>
</div>
#end
 #if( $acl.hasPermission("UserGroup - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminUserGroups.html#createusergroup">Create 
 user groups?</a>
</div>
#end
