 #if( $acl.hasPermission("UserGroup - List", $currentDomain) )
 <div><a href="/project/www/docs/DomAdminUserGroups.html#whatis">Learn 
 more about the purpose of user groups?</a>
</div>
#end
 #if( $acl.hasPermission("UserGroup - Add", $currentDomain) ) 
<div><a href="/project/www/docs/DomAdminUserGroups.html#createusergroup">Create 
 user groups?</a>
</div>
#end
 #if( $acl.hasPermission("UserGroup - Edit", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminUserGroups.html#editusergroup">Edit 
 user groups?</a>
</div>
#end
 #if( $acl.hasPermission("UserGroup - Edit", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#manageroles">Grant 
 roles to users in this group?</a>
</div>
#end
 #if( $acl.hasPermission("ProjectGroup - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#manageroles">Assign 
 user groups to projects or project groups?</a>
</div>
#end
