/*
  CSS for sr.openoffice.org homepage
*/

p.welcomenote {
 font: 1em Liberation Sans, Helvetica, Arial, sans-serif;
 color: #333;
 margin-top: 40px;
}

/*--------------------------- Campaign ---------------------------*/
div.campaign { width: 240px; float: right; padding: 0px; background: none; }
#bodycol div.campaign h2, #blocks div.block h2 { margin-top: 50px; padding: 0 10px 0 0; font: 
1.1em Liberation Sans, Helvetica, Arial, sans-serif;; font-weight: bold; border: none; background: none;}
div.campaign p { line-height: 140%; font-size: .85em; padding: 6px 0px; }

/*--------------------------- Action statements ------------------*/
/*-------------------- Action statements style -----------------------*/
#actionstatements { margin: 0px; width: 590px; margin-top: 50px;}
#actionstatements a { text-decoration: none; width: 530px; display: block; outline: none; }
#bodycol #actionstatements h2 { font: 1.6em Liberation Sans, Helvetica, Arial, sans-serif; color: #666; margin: 0; padding: 0; border: none; }
#actionstatements h2 a { color: #444; padding: 0 0 0 60px; }
#actionstatements p { margin: 0; padding: 0; line-height: 150%; color: #999; font-size: .75em; }
#actionstatements p a { color: #666; padding: 0 0 8px 60px; }

#actionstatements ul { margin: 0; padding: 0; }
#actionstatements li { margin: 0; padding: 0; list-style: none; background: url(/branding/images/action-bg.png) no-repeat; }
#actionstatements li:hover { background: url(/branding/images/action-bg.png) #E8F0FD repeat-x; }
#actionstatements li:hover div.action-text:hover h2 a { color: #009; }
#actionstatements li:hover div.action-text:hover p a, #actionstatements li:hover div.action-text:hover p a:hover, #actionstatements div.action-download:hover #downloadbutton p.options a:hover { color:#03C; }
#actionstatements hr { display: block; width: 100%; border: none; border-top: 1px solid white; border-bottom: 1px solid #CCC; margin: 0 0 15px 0; padding: 0; background: #FFF; }

#actionstatements div.action-link:hover { background: url(/branding/images/action-link.png) top right no-repeat; margin: 0 5px 0 0; }
#actionstatements div.action-expand:hover { background: url(/branding/images/action-expand.png) top right no-repeat; margin: 0 5px 0 0; }
#actionstatements div.action-contract:hover { background: url(/branding/images/action-contract.png) top right no-repeat; margin: 0 5px 0 0; }

#actionstatements div.action-info { background: url(/branding/images/action-info.png) no-repeat; }
#actionstatements div.action-info:hover { background: url(/branding/images/action-info.png) 0 -250px no-repeat; }
#actionstatements div.action-download { background: url(/branding/images/action-download.png) no-repeat; }
#actionstatements div.action-download:hover { background: url(/branding/images/action-download.png) 0 -250px no-repeat; }
#actionstatements div.action-download #action-download-extra a { display: inline; margin: 0; padding: 0; text-decoration: underline; }
#actionstatements div.action-help { background: url(/branding/images/action-help.png) no-repeat; }
#actionstatements div.action-help:hover { background: url(/branding/images/action-help.png) 0 -250px no-repeat; }
#actionstatements div.action-extend { background: url(/branding/images/action-extend.png) no-repeat; }
#actionstatements div.action-extend:hover { background: url(/branding/images/action-extend.png) 0 -250px no-repeat; }
#actionstatements div.action-participate { background: url(/branding/images/action-participate.png) no-repeat; }
#actionstatements div.action-participate:hover { background: url(/branding/images/action-participate.png) 0 -250px no-repeat; }

#actionstatements div.action-download #buttonwrap { padding: 15px 0 20px 60px; }
#actionstatements div.action-download #downloadbutton { display: block; width: 550px; background: #C7E094 url(/branding/images/download-bg.png) right top no-repeat; }
#actionstatements div.action-download:hover #downloadbutton { background: #CCE891 url(/branding/images/download-bg.png) right -200px no-repeat; }
#actionstatements div.action-download:hover #downloadbutton:hover { background: #CCE891 url(/branding/images/download-bg.png) right -400px no-repeat; cursor: pointer; }
#actionstatements div.action-download #downloadbutton h3 { margin: 0; padding: 25px 0 7px 30px; font-size: 1.6em; }
#actionstatements div.action-download #downloadbutton h3 a { color: #718D36; }
#actionstatements div.action-download #downloadbutton:hover h3 a { color: #546828; }
#actionstatements div.action-download #downloadbutton p { display: block; width: 500px; margin: 0; padding: 2px 0 20px 30px; color: #333; }
#actionstatements div.action-download p.options { cursor: default; padding: 5px 0 5px 30px; width: 520px; color: #333; background-color: #DCEEB2; border-bottom: 1px solid #BCE172; }
#actionstatements div.action-download p.options a { color: #546828; }
#actionstatements div.action-download p.options:hover a:hover { color: #2E3816; }


