/*
  CSS for sr.openoffice.org page
*/


/*-------------------- Exceptions on standard css -----------------------*/
#footer ul { display: none; }
#smallprint { text-align: left; padding-top: 15px; }
#smallprint p { width: 650px; !important; }
#footer p { font-size: .8em; margin: 0px; padding: 0px; padding-left: 10px; color: #888; }
#footer { height: 55px; margin: 0px; padding-top: 15px;  }
#oraclelogo { float: left; padding: 0px; padding-right: 10px; }
#kenailogo { float: left; padding: 0px; padding-right: 10px; }
#matflogo { float: right; padding: 0px; padding-right: 10px; }
#mtidlogo { float: right; padding: 0px; padding-right: 10px; }

#bodycol h2 { margin-top: 65px;  }
#pageContent div.contentPadding { margin-left: 0px; margin-right: 0px; }
#libo { background: #18A303; color: white; padding: 5px; }
#libo a { color: white; text-decoration: underline; }

