
table.infotable
{
    background-color: #ffffff ;

    width: 100% ;
    border-spacing: 1px ;
    padding: 4px ;
}


/* Unfortunately, Internet Explorer doesn't know attribute dependent CSS rules,
so to color the table tops appropriatly, we can't use the following rule:

  table.infotable th[colspan]

Instead, I decided to use 'td' inside 'thead' as a marker for this kind of
formatting.
*/

table.infotable thead td
{
    color: #ffffff ;
    background-color: #00315a ;

    text-align: center ;
    padding: 4px ;

    font-family: arial, helvetica ;
    font-weight: bold ;
    font-size: smaller ;
}

table.infotable th[colspan]
{
    color: #ffffff ;
    background-color: #00315a ;

    /* others inherited from "table.infotable th" below */
}

table.infotable th
{
    color: #00315a ;
    background-color: #99ccff ;

    text-align: center ;
    padding: 4px ;

    font-family: arial, helvetica ;
    font-weight: bold ;
    font-size: smaller ;
}

table.infotable td
{
    background-color: #f0f0f0 ;
    vertical-align: top ;
    padding: 4px ;
}

p
{
    text-align: justify;
}

dt
{
    font-weight: bold
}