/*
  CSS for openoffice.org homepage
  Basicly you can find standard tags first, f ollowed by classed, and then more specific
*/

/*-------------------- Exceptions on standard css -----------------------*/
#leftcol {
  display: none;
  }
#bodytd {
  padding: 0px; /* no content padding for homepage */
  width: 100%;
  margin: 0px;
}
#bodycol {
  padding: 0px!important;
  margin: 0px;
  width: 100%;
}
/*-------------------- Standard Button Design ---------------------------*/
.button {
  display: block;
  width: 193px;
  margin: 0px;
  margin-bottom: .5em;
  padding: 0px;
  color: #505256;
  background: #C4DAE9 no-repeat;   
  font-size: 1.3em; 
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
.button:hover {
  color: #395073;
  background-color: #E1ECF4;
  cursor: pointer; 
}
.button span {
  display: block;
  width: 163px;
  margin: 0px;  
  padding-left: 30px;
  padding-top: 1em;  
  height: auto!important; /* IE 'hack' for min-height */
  height: 70px;
  min-height: 70px;
  background: url("../images/buttonsmall_bottom.gif") no-repeat bottom right;
}
.button span small {
  font-weight: normal;
}
/*-------------------- Standard Content area design ---------------------------*/
.content {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.contentpart {
  float: left;
  width: 100%;
  padding: 1em;
  border: none 0px;
}
.contentpart img {
  float: right;
  margin: 0px;
  clear: none;
}
.contentpart .contentsubpart {
  float: right;
  display: block;
  clear: none;
  width: 30%;
}
