
@import url(ns4_toxins.css); 
body, p, div, li, td, tr, th, dd, input, select, span, font  {
  font-family:  verdana, lucida, helvetica, arial, sans-serif;
  }
a  {
  text-decoration:  none;
  }
body, p, div, li, td, th, dd, input, select, span  {
  color:  #000;
  }
  
 a:link { color: #0033CC } 
 a:visited { color: #660066} 
 /* a:hover { color: #FF0000}  */
 a:hover { text-decoration:underline; color: #FF0000 }

/* Note: many of the styles below are being phased out, either because they are no longer with purpose or because other methods have been used. When possible, I have created meaningfully named versions below the enigmatically named ones.   */
 
  /* Page Definitions */

@page Acta1
  {
  margin:1.0in 1.25in 1.0in 1.25in;
  }

div.Acta1
  {
  page:Acta1;
  }


@page Section1
  {
  margin:1.0in 1.25in 1.0in 1.25in;
  }

div.Section1
  {
  page:Section1;
  }
 
.superscript
  {vertical-align:super;
  font-size:75%;
  }
 
 p.indent, span.indent, li.indent, div.indent 
  {margin-top:6.0pt;
  margin-right:0in;
  margin-bottom:0in;
  margin-left:.25in;
  margin-bottom:.0001pt;
  line-height:100%;
  }

 
 .alt1 {
   text-align:center; vertical-align: top;
  } 
  
.alt3 {
  font-weight:bold; background-color:#CCCCCC;
  } 

.graybold {
  font-weight:bold; background-color:#CCCCCC;
  } 

.alt4 {
   font-weight:bold; background-color:#99CCFF;
} 


.alt2 {
  color:#FFFFFF; background-color:#00315A; text-align:left; vertical-align: middle;
} 

.darkblueleftmiddle {
  color:#FFFFFF; background-color:#00315A; text-align:left; vertical-align: middle;
} 

alt5 {
  color:#333333; font-weight:bold;  text-align: left; white-space: normal; padding: 3pt;
  } 
  
  
.alt6 {
  font-weight: bold; text-align: left; background-color:#F0F0F0;
  } 
  
  
.alt7 {
font-weight: bold; text-align: left; background-color:#FFFFFF;
  }
  
  
.alt8 {
font-weight: bold;  text-align: left; vertical-align: top; background-color:#FFFFFF;
  
  }
.alt8b {
font-weight: bold; text-align: left; vertical-align: top; background-color:#F0F0F0;
  }  
  
  
  .bigboldleft {
font-weight: bold; text-align: left; vertical-align: top;
  }  

.alt9 {
 text-align: left; vertical-align: top; background-color:#FFFFFF;
  }  
  
  
.alt9b {
  text-align: left; vertical-align: top; background-color:#F0F0F0;
  }  
  
  
.tableF0 {
   background-color:#F0F0F0;
  }  
  
  
.alt10 {
  font-size:85%; text-align:left;
  } 
  
.alt12 {
   text-align:center; font-weight: bold; color:#0000FF;
  }
  
.blueboldcenter {
  text-align:center; font-weight: bold; color:#0000FF;
  }
  
.alt14 {
   text-align:right;
  }

.textcenter {
   text-align:center;
  }
.alt15 {
   text-align:center;
  }
.boldcenter {
  font-weight: bold; text-align: center;
  }
.fontwhite {
  color:#FFFFFF;
  }
.fontwhite {  
   color:#FFFFFF;
  }
.fontwhitesmall {
  color:#FFFFFF;  text-align:left; font-weight:bold;
  }
.fontredochre {
  
  color:#cc3300;
  }
.smaller {
  font-size: x-small;
  }
h2 {
  color:#c30;
  }
  
.subp1em {
  text-indent: 1em;
  }
.subp2em {
  text-indent: 2em;
  }
.subp3em {
  text-indent: 3em;
  }
.subp4em {
  text-indent: 4em;
  }
  
.it_nav {
  color:#ffffff; background-color:#000080; font-weight: bold;
}
.liteblue {
  color:#99CCFF; font-weight: bold;
}

.liteblue-back {
  background-color:#99CCFF;
  }

.PlainTextBold, .StatText, .StatHeader, .DevHeader, .DevName, .Header, .ProjectNameHeader, .NewsDate, .Download, .Welcome, .ProjectCategory, .ResourcesHeader, .ProjectName2, .InputHeader, .InputHeaderReversed, .ProjectHeader, .NewsHeader, .NewsDateTable, .SiteHeader, .ProjectDownloadHeader, .Asterisk, .HelpTextHeader, .HelpTextBold, .SmallHeader, .Warning, .TypewriterBold, .FooterNav, A.FooterTextLink, .HeaderText, .Crumbing, .Download  {
  font-weight:  bold;
  }
.StatHeader, .InputHeaderReversed, .footer1, .FooterNav, .FooterTextLink, .Crumbing, .SideText   {
  color:  #fff;
  }
/* .Copy, .ResourceName  {
  line-height:  14px;
  }
.StartCopy  {
  line-height:  13px;
  } */
.TableData  {
  color:  #a00;
  }
.NewsDate  {
  color:  #500;
  }
.ProjectCategory  {
  color:  #a70;
  }
.ProjectName2  {
  color:  #ff0;
  }
.NewsHeader  {
  color:  #aa0;
  }
.SiteHeader  {
  color:  #550;
  }
.SmallHeader  {
  color:  #0a0;
  }
.Warning  {
  color:  #f00;
  }
.TypewriterPlain, .TypewriterBold    {
  font-family:  courier, monospace;
  }
.FooterTextLink  {
  font-weight:  normal;
  }
.HeaderText  {
  color:  #39f;
  }
.Crumbing, .HeaderText  {
  text-transform:  uppercase;
  }
A.Crumbing  {
  font-style:  italic;
  }
A.Crumbing:hover, A.FooterNav:active, A.FooterNav:hover, A.FooterTextLink  {
  text-decoration:  underline;
  }
.BodyText  {
  color:  #9cf;
  }
.Download, .DevName  {
  color:  #666;
  }


.spaced {
  font-style: normal;
  line-height: 14pt;
}

