ul.nobullets {
        list-style: none;
        margin-left: 10px;
        padding-left: 0px;
}
                                                                                
a:visited {
        color: #48468f;
}
                                                                                
a:hover {
        color: #1f1d8e;
        background: #e0fffd;
}

#banner {
        background:#3dccff;
        height:71px;
/*  margin-right: 10px; */
        border-top:1px solid #FFFFFF;
        border-right:1px solid #3dccff;
        border-left:1px solid #FFFFFF;
        voice-family: "\"}\"";
        voice-family: inherit;
        height:71px;
}

#banner h1 {
        font-size: medium;
        padding:10px 10px 0px 10px;
        margin:0px;
        text-align: right;
}

body {
  margin:0px 0px 0px 0px;
}
  
#centercontent {
  float:left;
  width: 65%;
  color: #06348c;
  background: #ffffff;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}

#centercontent h1 {
        font-size: x-large;
        font-weight: bolder;
        color: #06348c;
        border-bottom: 5px solid #3dccff;
}
                                                                                
#centercontent h2 {
        font-size: large;
        font-weight: bolder;
        color: #06348c;
        border-bottom: 2px solid #3dccff;
}
                                                                                
#centercontent h3 {
        font-size: large;
        font-weight: bolder;
        color: #06348c;
        border-bottom: 1px solid #3dccff;
}

#centercontent pre {
        font-weight: bold;
  padding: 15px;
        color: #000000;
        background: #e0e0e0;
}
                                                                                
#centercontent a:hover {
        color: #1f1d8e;
        background: #e0fffd;
}
                                                                                
#centercontent a:visited {
        color: #48468f;
}

#centercontent p {
  color: #06348c;
}

#menu {
  float: left;
  width: 25%;
  padding-left: 5px;
        font-size: small;
  border-left: 1px solid #3dccff;
  border-bottom: 1px solid #3dccff;
}

#menu h1 {
        font-size: small;
        font-weight: bolder;
        color: #06348c;
        border-bottom: 1px solid #000000;
}
