/*
 * Default Style
 */

h2 {
	color: #505050;
	font-weight: bold;
	border: none;
}

#mainscreen {
	/*border: 1px solid gray;*/
	margin: 40px auto 10px auto;

	width: 80%;

	padding-top: 100px;
	background: url("ora-oo-logo.png") no-repeat 0 0;
}

#maincontent {
	margin-left: 60px;
}

p {
	text-align: justify;
}

#maincontent ul {
	list-style-type: none;
	margin-top: 40px;
}

#maincontent ul li {
	border-top: 1px solid #a0a0a0;
	padding-top: 8px;
	margin-bottom: 50px;
}

#maincontent ul li img {
	margin-right: 8px;
}

#maincontent ul li strong {
	color: #909090;
	font-weight: bold;
	font-size: 1.8em;
	letter-spacing: .1em;
}

#downloadbox {
	text-align: center;
	font-size: 2em;
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: bold;
	letter-spacing: 1pt;
	font-style: italic;
}
