<HTML>
<head>
<TITLE>view Testing</TITLE>

<meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">
</head>

<body BGCOLOR=#ffffff>
<H1 align=center>view</H1>
<H1 align=center>Table of Contents</H1>
<CENTER>
<TABLE BORDER=1>
<TR>
<TH WIDTH=20%>Test Assertion</TH>
<TH WIDTH=80%>Test Aim</TH>
</TR>
<TR>
<TD VALIGN=top>vew_bars04</TD>
<TD VALIGN=top><p>Verify OpenOffice.org can toggle each toolbar on and off</TD>
</TR>
<TR>
<TD VALIGN=top>vew_boun04</TD>
<TD VALIGN=top><P>Verify OpenOffice.org can toggle selected view options on/off </P></TD>
</TR>
<TR>
<TD VALIGN=top>vew_data04</TD>
<TD VALIGN=top><P>Verify OpenOffice.org can view the data source bibliography data source </P></TD>
</TR>
<TR>
<TD VALIGN=top>vew_fscr04</TD>
<TD VALIGN=top><P>Verify OpenOffice.org text document can be viewed in full screen layout. </P></TD>
</TR>
<TR>
<TD VALIGN=top>vew_zoom04</TD>
<TD VALIGN=top><P>Verify OpenOffice.org text document can be zoomed to 200% </P></TD>
</TR>
</TABLE></CENTER>
<P>
</body>
</HTML>
