#banner, #header, #headertools, #subheader, #breadcrumbs, #contextualinformation, #toptabs   { 
  display: none ! important;
}

html, body {
  font-size: 0.9em;
}

#contextualinformation { 
  display: none ! important;
}
#toptabs { 
  display: none ! important;
}
#navcol { 
  display: none !important;
}
table#main { 
  display: none !important;
}
#container { 
	width:10px;
  /*margin-left-value:0px;*/
}
#footer { 
  display: none ! important;
}
div#bodycol {
  padding:0px;
  width:10px;
}
html>body #bodycol {
	width:10px;
}
h1 {
  margin:5px;
  border-bottom: 0 none;
  border-top: 0 none;
  background: #fff;
}

#content {
  padding: 0px;
}
#midcol td {
  width:5px;
}

