/* Seiteninhalt und Absätze */
body, p
	{
	font-size: 1.1em;
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	}

P.beispiellink
	{
	font-size: 1.0em;
	color: #0000AA;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	}

P.beispiel
	{
	font-size: 1.0em;
	color: #404040;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0px;
	}

P.bildunterschrift
	{
	font-size: 1.0em;
	color: #000000;
	}

P.punkteliste
	{
	margin-bottom: 5px;
	}

P.abschnitt 
	{
	font-weight: bold;
	color: #808080;
	margin-top: 20px;
	margin-bottom: 10px;
	}


/* Formatierungen für die Site */
.menue
	{
	font-weight: bold;
	}

a.menue:hover
	{
	color: #0000AA;
	font-weight: bold;
	text-decoration: none;
	}


/* Formatierungen für das Inhaltsverzeichnis im Lexikon */
P.lexikoninhalt
	{
	font-size: 1.0em;
	color: #000000;
	}


/* Formatierungen für das Inhaltsverzeichnis im Report */
P.reportinhalt
	{
	font-size: 1.0em;
	color: #000000;
	}


/* Formatierungen für aufklappbares Menü im Report */
td p.reportinhalt
	{
	font-size: 1.0em;
	}


/* Formatierungen für Code */
CODE
	{
	font-size: 1.1em;
	color: #008080;
	}

CODE.rahmen
	{
	font-size: 1.1em;
	color: #008080;
	}


/* Formatierungen für Farben und Typografie von HuT */
.hutrot
	{
	color: #BD4542;
	}

.hutblau
	{
	color: #0080C0;
	}

.hutgelb
	{
	color: #FFCF18;
	}

.hutgrau
	{
	color: #404040;
	}

.klein
	{
	font-size: 0.8em;
	}

.gross
	{
	font-size: 1.5em;
	}


/* Tabelle */
/* margin-top: 0px; Für den Seitenanfang mit Tabelle ohne Abstand.*/
td, td p
	{
	font-size: 1.0em;
	color: #000000;
	margin-top: 0px; 
	}

th, th p
	{
	font-size: 1.0em;
	color: #000000;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	}


/* Formatierungen für farbige Flächen */
div.aufgabe
	{
	font-size: 1.1em;
	color: #000000;
	background-color: #E6F2FF;
	border-style: none;
	border-width: thin;
	margin-left: 20px;
	}

div.beispielcode
	{
	font-size: 1.1em;
	color: #000000;
	background-color: #e6e6e6;
	border-style: none;
	border-width: thin;
	margin-left: 20px;
	}


/* Überschrift 1 */
h1
	{
	font-size:1.5em;
	color: #b3b3b3;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	page-break-before: always
	}


/* Überschrift 2 */
h2
	{
	font-size:1.3em;
	color: #999999;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	}


/* Überschrift 3 */
h3
	{
	font-size:1.2em;
	color: #0080C0;
	text-align: center;
	margin-top: 10px;
	}


/* Überschrift 4 */
h4
	{
	font-size:1.2em;
	color: #0080C0;
	text-align: center;
	margin-top: 0px; /* Für den Seitenanfang mit Überschrift ohne Abstand.*/
	}

/* Hyperlink */
a
	{
	color: #2323C8;
	text-decoration: none;
	}


/* besuchter Hyperlink */
a:visited
	{
	color: #0000FF;
	text-decoration: none;
	}


/* aktiver Hyperlink */
a:active	
	{
	color: #FF0000;
	text-decoration: none;
	}


/* Hyperlink bei Mausberührung */
a:hover
	{
	color: #BD4542;
	text-decoration: underline;
	}
