/* Estilo de la pagina principal */

.head_menu {
  font-size: 0.9em !important;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: #DEE4EE;
    background-image: url("http://www.openoffice.org/branding/images/lesslightbluefadeout.gif");
    background-repeat: repeat-y;
    background-position: top right;
    color: #06348C;
    border-bottom: 0px none;
}
#head {
text-align: center;
}
a {
  text-decoration: none;
  color: #09388F;
}

/* Menus horizontales */

.hmenu1{
float:left;margin-right:3px;width:250px; font-size: 11px;
}
.hmenu2{
float:left;margin-right:3px;width:268px; font-size: 11px;
}
.hmenu3{
float:left;margin-right:3px;width:230px; font-size: 11px;
}

/* Menus Anchos */ 
.lmenu {
  /*float: right;  margin-top: 0px;  padding-top: 0px;  top: 0px; */
  position:relative;width:100%;height:125px;
}
.lmenu ul {
list-style: none;
}
.lmenu li {font-size: 12px;}



.vmenu a:hover {
  color: #FF0000;
}
/*.lmenu ul {
  margin-top: 0px;
  padding-top: 0px;
}*/
#box {
float:left !important; clear: none;
  height: 165px;
  width: 147px;
  left: 0px;
  top: 125px;
  bottom:300px;
  background-color: #FFFFFF;
  padding-top: 0px;
}
#box li {
font-size: 10px;}
#box ul{list-style: none;
margin-left: 0px;
padding-left:0px;}
#box2 {
float:left !important; clear:none;
  height: 21px;
  width: 147px;
  left: 0px;
  top: 290px;
  background-color: #FFFFFF;
}
#box2 ul{list-style: none;
margin-left: 0px;
padding-left:0px;}
#box2 li {
font-size: 10px;}


/*************************************** 


Estilo para el menu de pestaas



*****************************************/
ul. {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 80%;
}
ul. li {
  position: relative;
  float: left;
  width: 6em;
  margin: 0;
  padding: 0 4px 0 0;
}
ul. a {
  display: block;
  width: 5em;
  padding: .5em;
  border: 1px solid #00F;
  border-bottom: none;
  border-top-width: 2px;
  text-decoration: none;
}
ul. a, ul. a:link, ul. a:visited {
  background: #EEF;
  color: #00F;
}
ul. a.active, ul. a:link.active, ul. a:visited.active {
  background: #FFF;
  color: #00F;
  font-weight: bold;
}
ul. a.active {
  position: relative;
  top: 1px;
}

/* panels */
div. {
  padding: .5em;
}
div. div. {
  padding: 0;
}
div. div. div {
  clear: left;
  padding: .5em;
  border: 1px solid #00F;
}

a {
font-weight:normal;}
.contenido p {
  font-family: Helvetica, Arial, sans;
  font-size: 11px;
  color: #000000;
  word-spacing: 2px;
  margin-right: 10px;
  margin-left: 10px;
}
.titulo h1 {
  color: #000099;
  text-align: center;
  border-top-width: thin;
  border-bottom-width: thin;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #000099;
  border-bottom-color: #000099;
  width: 430px;
  margin-top: 5px;
  padding-top: 8px;
  padding-bottom: 5px;
}
.contenido li {
  font-size: 11px;
  word-spacing: 2px;
  line-height: 16px;
  font-family: Helvetica, Verdana, sans;
}
.contenido a:hover {
  color: #0000FF;
  text-decoration: none;
}
.contenido a {
  text-decoration: none;
  font-family: Helvetica, Verdana, sans;
}

#opt img {
  padding-bottom:1em;
  border: 0px;
  }

.hmenu3 {
  border-width:1px;
  border-color: red;
  background-color: #e0e9fa;
}

#leftcol {
display: none !important;
}
