/* $Id: print.css,v 1.1 2006/09/18 23:15:37 bobe Exp $ */

#banner, #collabnet, #toptabs, #footer, #navcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #topmodule {  
  display: none;
}

body.docs div.docs {
  margin: 0 !important;
  border: none !important
}
