
<!--#include virtual="/doctype.html" -->
<html>
  <head>
    
    
  <title>QA</title>

<meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">

    <link href="/css/ooo.css" rel="stylesheet" type="text/css">
    
    <!--#include virtual="/scripts/google-analytics.js" --> 
    <!--#include virtual="/scripts/entourage.js" -->
  </head>
  <body>
    <!--#include virtual="/fr/brand.html" -->
    <div id="topbara">
      <!--#include virtual="/fr/topnav.html" -->
      <div id="breadcrumbsa"><a href="/">home</a>&nbsp;&raquo;&nbsp;<a href="/fr/">fr</a>&nbsp;&raquo;&nbsp;<a href="/fr/QA-fr/">QA-fr</a>&nbsp;&raquo;&nbsp;<a href="/fr/QA-fr/view/">view</a></div>
    </div>
    <div id="clear"></div>
      
      
    <div id="content">
      
      
                             
<table width="100%" border="0" cellpadding="4">
                   <tbody>
                   <tr>
                    <td width="100%" align="left" valign="top">      <!-- Content --> 
                                                                         
                                           
      <h2></h2>
                                                                        
                                      
      <h3><font face="Arial, sans-serif"><font size="3"><b></b></font></font></h3>
                                                                        
                             
      <h3><font face="Arial, sans-serif"><font size="3"><b></b></font></font></h3>
                                                                        
              
      <h3><font face="Arial, sans-serif"><font size="3"><b></b></font></font></h3>
                                                                         
     
      <h3><b></b></h3>
                                                               
      <p> </p>
                                                               
      <p> </p>
                                       
      <h3><font face="Arial, sans-serif"><b></b></font></h3>
                                      
      <h1 align="center"><u></u></h1>
        
      <center> 
      <h1 style="text-decoration: none;"> <font color="#000000">Cas Test
: view_data04</font></h1>
      </center>
  
      <h2 style="text-decoration: none;"> <font color="#000000">Zone de Test
: Solaris&nbsp; - Linux - Windows</font></h2>
 
      <p><b>But du test&nbsp;</b></p>
 <font color="#0000ff">V&eacute;rifier qu'OpenOffice.org peut afficher la
source de donn&eacute;es bibliographique dans l'affichage de sources de donn&eacute;es</font><br>
 
      <p> </p>
 <br>
  
      <hr>  
      <p style="text-decoration: none;"><b><font color="#000000">Description:</font></b> 
      </p>
      <ol>
        <div style="margin-bottom: 0in;">
        <blockquote>
          <ol>
            <li>A partir de la barre des menus, s&eacute;lectionnez Affichage
- Source de donn&eacute;es</li>
            <li>Deux nouveaux cadres doivent appara&icirc;tre dans la fen&ecirc;tre</li>
            <li>Dans le cadre de gauche, doit appara&icirc;tre la source
de donn&eacute;es Bibliographique</li>
            <li>A partir de l'arborisation, s&eacute;lectionnez Tables -
Biblio</li>
            <li>Une liste d'identifiants, Type, Adresses, etc. doit appara&icirc;tre
dans le cadre de droite</li>
            <li>A partir de la barre des menus, s&eacute;lectionnez Affichage
- Source de donn&eacute;es</li>
            <li>Les deux nouveaux cadre ne doivent plus s'afficher maintenant<br>
            </li>
          </ol>
        </blockquote>
 </div>
      </ol>
  
      <div style="text-decoration: none;"><b><font color="#000000">R&eacute;sultat
attendu :</font></b></div>
  
      <div style="text-decoration: none;"><font color="#000000">Toutes les
op&eacute;rations doivent se compl&eacute;ter avec succ&egrave;s</font></div>
  
      <p><br>
 </p>
      <hr>  
      <p style="text-decoration: none;"><font color="#000000">Fin du cas
test</font> </p>
      <br>
         <br>
          <!-- /Table Navigation Bar -->     <br>
                    </td>
                   </tr>
                    <tr>
                    <td align="right" valign="bottom">                  
                                                                        
                   
      <p>&nbsp;</p>
                     <!-- Copyrights -->                                
                                                                         
     
      <p><small>OpenOffice.org native tongue concept and francophone project 
       are built for you with pride by Guy Capra (Alomphega).<br>
                This fr project is also led and maintained with pride too 
by  Blaise    Drayer   (Nimag Networks S&agrave;rl) &amp; Sophie Gautier.</small></p>
                     <!-- /Copyrights -->     </td>
                   </tr>
                                                               
  </tbody>               
</table>
                   <br>
                <br>
             <br>
            <br>
           <br>
          <br>
         <br>
        <br>
       <br>
      <br>
     <br>
    <br>
   <br>
  <br>
 <br>

      
    </div>
    <!--#include virtual="/footer.html" -->
  </body>
</html>
