.sect3 { margin-left: 30px; }
.sect2 h3 { font-weight: normal; font-size: 200%; color:red; }
.sect3 p { color: green; }
.variablelist dl dd p { margin-top: 20px; }
.toc dl dd { margin-bottom: 10px; border-left: 2px solid blue ; padding-left:2em}
.navheader table tr th { display: none }
.navheader hr { display: none }
.navheader table { left-margin: 3em }
