* {margin: 0; padding: 0;}
#contextualinformation, #navcol, #toptabs, #banner, #header, #subheader, #breadcrumbs {display: none;}
#contextualinformation.contentpart { display:none; height:0px }
#contextualinformation.contentpart #breadcrumbs { display: none; }
#footer { border-top: none; }
#login, #loginbox { display: none;}
#poweredby {margin-bottom: 30px;}


body {
  margin-top: 20px;
  margin-left: 220px;

  padding-left: 20px;
  padding-right: 20px;

  font-family: verdana, arial, sans-serif;
  background-color: #ffffff;
}

#bodycol {padding-left:14px;}

h1 {
  font-family: verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 120%;
  padding: 4px;
  margin-left: -13px;

  color: #444444;
  background-color: #eeeeee;
  border: #aaaaaa 1px solid;
}

h2 {
  font-family: verdana, arial, sans-serif;
  font-weight: normal;
  color: #444444;
  border-bottom: 1px #aaaaaa solid;

  margin-left: -10px;
  padding-left: 5px;
}

h3 {
  font-family: verdana, arial, sans-serif;
  font-weight: bold;

  color: #444444;
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;

  padding: 4px;
}

h3 a {
  text-decoration: none;
  color: inherit;
}

h4 {
  font-family: verdana, arial, sans-serif;
  font-weight: bold;
  color: #666666;
}

h4 a {
  text-decoration: none;
  color: inherit;
}

img.face {
  float: right;
  margin-top: -3em;
}

pre {
  border: 1px solid #eeeeee;
  color: #444444;
  background-color: #f8f8f8;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
}

.entry {
  margin-bottom: 2em;
  color: #666666;
  font-size: small;
}

.entry .date {
  font-family: verdana, arial, sans-serif;
  color: grey;
}

.entry .date a {
  text-decoration: none;
  color: inherit;
}

.entry .date a:hover {
  text-decoration: underline;
  color: #990000;
}

.sidebar {
  position: absolute;
  top: 33px;
  left: 15px;
  width: 205px;
  margin-left: -220px;
  margin-top:-16px;
  margin-right: 0px;
  padding-right: 0px;

  padding-top: 0px;
  padding-left: 0px;

  font-family: verdana, arial, sans-serif;
  font-size: x-small;

  border: #aaaaaa 1px solid;
  color: #444444;
}

.sidebar h2 {
  font-size: 110%;
  font-weight: bold;
  background-color: #eeeeee;
  color: #444444;

  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 0px;
  margin-top: 0px;
  border: none;
}

.sidebar ul {
  padding-left: 2ex;
  margin-left: 0px;
  margin-right: 5px;

  list-style-type: none;

}

.sidebar ul li:hover {
  color: grey;
}

.sidebar p {
  /* border-top: 1px solid #eeeeee; */
  /* margin-top: 30px; */
  padding-top: 10px;

  padding-left: 5px;
  padding-right: 5px;
}

.sidebar a {
  color: #444444;
font-size:12px;
}

.sidebar a:hover {
  color: #444444;
}

a {
  color: #990000;
  text-decoration: none;
}

a:hover {
  color: #990000;
  text-decoration: underline;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 30px;
} 

#headertools {
display:none}
