/*-------------------------------------------------------------
	lokal stylesheet for porting - project - fr pages only
	$Id: macsite_2.fr.css,v 1.2 2006/12/12 15:05:54 smsm1 Exp $
-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*--- common Styles---*/
/*-------------------------------------------------------------*/

#body_port h1{
	color: #cc6600;
	font-family: "Courier New", "Courier", monospace; font-size: 15pt;
	text-align: left;
}
#body_port h2{
	color: #ffffff;
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: center;
}
#body_port h3{
	color: #cc6600;
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: left;
}
#body_port h4{
	color: #cc6600;
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: center;
}
#body_port h5{
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: center;
}


/*--- tables  ---*/

#body_port table{
	background-color:#fff; color:#000;
	border-collapse:collapse; border-spacing:0;
	border-style: solid; border-width: 2px; border-color: #fff;
	margin-bottom:5px;
}

#body_port table caption	{
	background-repeat: no-repeat;
	background-color:#06348C; color:#fff;
	font-weight:bold; font-size: 100%; font-variant:small-caps;
	text-align:left; padding:4px;
	border-style: solid; border-width: 2px; border-color: #fff;
	margin-top:5px;
}

#body_port th	{
	background-color:#00315a; color:#000;
	padding:3px;
	padding-top:5px;
	color:#ffffff;
	border-style: solid; border-width: 2px; border-color: #fff;
}

#body_port td {
	background-color:#f0f0f0; color:#000;
	padding:2px;
	margin-top:20px;
	vertical-align:top;
	color:#ffffff;
	font-size: 10pt;
	border-style: solid; border-width: 1px; border-color: #fff;
}

#body_port .oddRow td{
	background-color:#ddd
}


/*--- News Stuff ---*/

  h3 {
    color: #06348c;
    background-color: #DEE4EE;
  }

  p {
    text-align: justify;
    margin-left: 1em;
  }

  .news .date {
     margin: 1em 1em 0.5em 1em;
     font-weight: bold;
     color: #06348c;
  }

  p.news {
     margin: 0.5em 1em 0.5em 2em;
  }

/*--- Current Developers Stuff --*/

img.currdevelopersimg  {
	margin-right:0.5em;
	margin-bottom:0.5em;
	float:left;
}
div.currdevel  {
	margin:1em;
	clear:both;
}

/*--- class, to set background to white  ---*/

#body_port .white-background {
	background-color:#ffffff;
}

/*--- Stuff, former macsite.css  ---*/

html1{
	text-align:center;
}

body1{
	width:740px;
	margin-left:0px;
	margin-right:auto;
	font-family:sans-serif;
	font-size:16px;
	text-align:left;
}

#hlavicka{
	height:60px;
/* 	border-bottom:1px solid silver;  */
}

#dev_button1 {
	width:200px;
	position:relative;
	top:30px;
	background:url('../images/db_r.png') no-repeat 100% 0 #efedee;
	height:24px;
}

#dev_button1 a{
		background:url('../images/db_l.png') no-repeat 0 0;
		padding-left:14px;
		height:24px;
		height:20px;
		display:block;
		padding-top:2px;
		text-decoration:none;
		color:#676767 !important;
		font-weight:bold;
}

#logo11{
	float:right;
	width:134px;height:56px;
	overflow:hidden;
	margin:0px;
	padding:0px;
	position:relative;
}


#logo11 span {
	display:block;
	position:absolute; left:0; top:0; z-index:1;
	width:134px; height:56px;
	margin:0; padding:0;
	background:url("../images/macosx-logo_n.png") top left no-repeat;
}

#menu1 {
	height:200px;
	background:url("../images/banner01.fr.jpg") top left no-repeat;
	clear:both;
}

#menu1 span {
	display:none;
}

#menu1 ul {
	position:relative;
	left:560px;
	margin:0;
	padding:0;
	padding-top:4px;
	background:#ccc url("../images/ml.png") top right no-repeat;
	width:180px;
	height:196px;
}

#menu1 ul li {
	list-style:none;
	display:block;
	border-bottom:1px solid white;
	padding:6px;
	padding-left:8px;
}

#menu1 ul li.last {
	border-bottom:none;
/* 	padding-top:10px; */
}

#menu1 ul li a {
	text-decoration:none;
	font-weight:bold;
	color:white !important;
}

#content1 {
	background:#e6e6e6 url("../images/ctop.png") top left no-repeat;
	margin-top:5px;
	padding:8px;
	padding-bottom:0px;
	width:724px !important;
}

#text1 {
	width:500px;
	float:left;
	padding:5px;
	z-index:2;
	padding-bottom:0px;
	background:white url("../images/ttop.png") top left no-repeat;
}

#text1 #bcorner1 {
	position:relative;
	background:url("../images/tbottom.png") bottom left no-repeat;
	width:14px;height:14px;
	bottom:0px;
	left:-5px;
}

#news1 {
	width:200px;
	float:right;
}

#foot1{
	clear:both;
	height:16px;
	position:relative;
	left:-8px;
	z-index:0;
	bottom:0;
	width:740px;
	background:url("../images/cbottom.png") bottom left no-repeat;
}

#iefoot1 {
/*
	_position:relative;
	_height:16px;
	_left:724px;
	_width:16px;
	_background:url('../images/cbottom.png') bottom right no-repeat;
*/
}

p.date {
	font-weight:bold;
}

div.news {
	background-color:#fff;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}

p.news {
	text-align:left;
}

/*--- Current Developers Stuff --*/

img.currdevelopersimg  {
	margin-right:0.5em;
	margin-bottom:0.5em;
	float:left;
}
div.currdevel  {
	margin:1em;
	clear:both;	
}
