/* Abstracts */

.abstract {
    margin-top: 2em;
    margin-bottom: 2em;
}

.abstract .header .title {
    font-size: large;
    font-weight: bolder;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.abstract .header .by {
    font-size: smaller;
    font-style: italic;
    padding-top: 0em;
    margin-top: 0em;
}

.abstract .content {
    margin-left: 3em;
    text-align: justify;
}

.abstract .bio {
    margin-top: 1em;
    margin-left: 3em;
    text-align: justify;
    border-top: thin solid grey;
}

/* timetables */

.timetable { 
  border: 1px solid rgb(0, 62, 161); 
  border-collapse: collapse; 
  width: 100%;
}

.sessionbox, .breakbox, .travelbox {
  border: 1px dotted rgb(0, 62, 161);
  text-align: left;
  vertical-align: center;
  padding: 0.5em;
}

.redbox, .bluebox, .greenbox, .yellowbox, .purplebox, .orangebox, .odftcbox {
  border: 1px dotted rgb(0, 62, 161);
  text-align: center;
  vertical-align: center;
  padding: 0.5em;
}

.redbox .links, .bluebox .links, .greenbox .links, .yellowbox .links, .purplebox .links, .orangebox .links, .odftcbox .links {
  display: block;
}

.redbox {
    background-color: #ff8080;
}

.greenbox {
    background-color: #cccc00;
}

.yellowbox {
    background-color: #ffff66;
}

.bluebox {
    background-color: #00ffff;
}

.purplebox {
    background-color: #9999ff;
}

.orangebox {
    background-color: #ff950e;
}

.odftcbox {
    color: white;
    background-color: #993366;
}

.breakbox, .travelbox, .titlebox {
   text-align: center;
   border: 1px solid rgb(0, 62, 161);
}

.breakbox {
   font-weight: bolder;
}

.timebox, .titlebox {
   font-weight: bolder;
 	 border: 1px dotted rgb(0, 62, 161);
 	 background-color: #f0f0f0;
 	 padding: 0.5em;
}

.timebox {
  text-align: left;
}
 	
a img {
    border: 0px;
}
