<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head 
profile="http://www.w3.org/2005/10/profile">


																	

 
 
 
<title>        de:        OpenOffice.org herunterladen
   </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="OpenOffice.org, Open Office, OpenOffice,
 openoffice, StarOffice, Star Office, OOo, ooo, xml, open source, 
developer, UNO">
	<meta name="description" content="OpenOffice.org: The Free, Open Source
 Office Suite">
	<link rel="stylesheet" type="text/css" href="download_files/style.css" 
media="screen">
	<link rel="stylesheet" type="text/css" href="download_files/print.css" 
media="print">
	<link rel="stylesheet" type="text/css" href="download_files/de.css" 
media="screen">
	<link rel="icon" type="image/x-icon" 
href="http://de.openoffice.org/branding/images/favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" 
href="http://de.openoffice.org/branding/images/favicon.ico">

		
		<meta http-equiv="Content-Style-Type" content="text/css">
		

		<link rel="stylesheet" type="text/css" 
href="download_files/download.css" media="screen">
		<link rel="stylesheet" type="text/css" href="download_files/de.css" 
media="screen">

		<script type="text/javascript" src="download_files/download.js"></script>


		<link rel="stylesheet" type="text/css" href="other.css">
	
</head><body>
<p class="nonscreen"><a href="#content">Skip to content</a></p>

<div id="nonfooter"><!-- closed in footer -->

 
 
  
 
 



 
 

<div id="header">
	<div id="positioner">
		<a id="header-logo" href="http://de.openoffice.org/" accesskey="1" 
title="Zur Homepage"></a>
		<h1 id="positioner-text">Ihre Open Source Office Suite</h1>
	</div>
</div>

	<div id="headertools">
		<div id="tools-main">
			<div id="language-projects">
				<a id="language-projects-link" 
href="http://projects.openoffice.org/native-lang.html" title="Language 
Projects - Icon by Tango Desktop Project" accesskey="2">Sprach-Projekte</a>
			</div>

			<a class="user-icon" 
href="http://www.openoffice.org/servlets/StartPage" title="Log In"></a><span
 id="user-nologin">Sie sind nicht eingeloggt. <a id="register-link" 
class="register-link" href="http://www.openoffice.org/servlets/Join" 
accesskey="3">Register</a> oder<a 
href="http://www.openoffice.org/servlets/StartPage" id="login-link" 
class="expand" onclick="toggleLogin(); if(SHOWLOGIN) { 
this.className='contract'; } else { this.className='expand'; } return 
false;" accesskey="4">Log In</a></span>
		</div>
		
		<form name="login" 
action="/servlets/TLogin;jsessionid=031513CA429202F7505DF414B0BC9E30" 
method="post">	
			<div id="login-expand">
				<input name="detour" 
value="http://de.openoffice.org/downloads/download.html?version=3.2.0" 
type="hidden">
				<div>
					<label for="loginID">benutzername</label>
					<input id="loginID" name="loginID" onfocus="this.select();">
				</div>
				<div>
					<label for="password">passwort</label>
					<input onfocus="this.select();" name="password" id="password" 
type="password">
				</div>
				<input name="Button" class="submit" value="Login" type="submit">
			</div>
		</form>
		
		<script type="text/javascript">
			<!--
			var SHOWLOGIN = false;

			function toggleLogin() {
				if (!SHOWLOGIN) {
					SHOWLOGIN = true;
					document.getElementById('login-expand').style.visibility = 'visible';
					if(document.login.loginID.value.length > 0 && document.login.password.value.length > 0) {
						document.login.Button.focus();
					} else {
						document.login.loginID.focus();
					}
				} else {
					SHOWLOGIN = false;
					document.getElementById('login-expand').style.visibility = 'hidden';
				}
			}
			-->
		</script>

		
		<form 
action="http://de.openoffice.org/servlets/Search;jsessionid=031513CA429202F7505DF414B0BC9E30"
 method="get">

				
			<div id="search">
				<input name="resultsPerPage" value="40" type="hidden">
				<a href="http://www.openoffice.org/search/" title="Erweiterte Suche"></a><input
 name="query" id="searchfield" class="searchfield" alt="Suche" 
accesskey="5" type="text"><input class="submit" value="Suche" 
type="submit">
			</div>
		</form>
	</div>


<div id="subheader">
	<div id="navigation" class="navigation">
		 
 
 <ul>



<li id="maintabhome" class="plain"><a 
href="http://www.openoffice.org/index.html" title="Go to the Homepage"><span>Home</span></a></li>

<li id="maintabnews" class="plain"><a 
href="http://www.openoffice.org/news/" title="What is going on? Get up 
to date!" accesskey="6"><span>News</span></a></li>

<li id="maintabdownload" class="plain"><a 
href="http://download.openoffice.org/index.html" title="Get 
OpenOffice.org or browse for extensions" accesskey="7"><span>Download</span></a></li>

<li id="maintabsupport" class="plain"><a 
href="http://support.openoffice.org/index.html" title="Support for 
OpenOffice.org" accesskey="8"><span>Support</span></a></li>



<li id="maintabprojects" class="th"><a 
href="http://projects.openoffice.org/index.html" title="Browse the 
projects and get in touch with the project leads" accesskey="9"><span>Projects</span></a></li>

<li id="maintabmypages" class="plain"><a 
href="http://www.openoffice.org/servlets/StartPage"><span>My Pages</span></a></li>

<li id="maintababout" class="plain"><a 
href="http://about.openoffice.org/index.html" title="Learn more about 
the open source-project OpenOffice.org" accesskey="0"><span>About</span></a></li>



</ul> 
 
	</div>
</div>

  
 
 <div id="breadcrumbs">
   <a href="http://www.openoffice.org/servlets/ProjectList">Projects</a>
    &gt;
     

   <strong>   <a href="http://de.openoffice.org/">de</a>
   </strong>  </div> 
 
 
 

<div id="content">

	<table id="main" summary="body">
	<tbody><tr>
				<td id="navcol">
	
 
 
 <div id="navcolumn">



  
             
 
  
 
                                                        <dl 
id="projecttools" class="navgroup">
       <dd>
    <div class="label"> <a 
href="http://de.openoffice.org/servlets/ProjectHome"><strong>Projekt 
Werkzeuge</strong></a> </div>
<div class="body">
<div> <a href="http://de.openoffice.org/servlets/ProjectHome">Projekt 
Startseite</a> </div>
<div> <a href="http://de.openoffice.org/servlets/ProjectMemberList">Mitgliederliste</a>
 </div>
</div>
<div class="body">
<div> <a href="http://de.openoffice.org/servlets/ProjectNewsList">Ankündigungen</a>
 </div>
<div> <a href="http://de.openoffice.org/servlets/ProjectMailingListList">Mailing-Listen</a>
 </div>
</div>
<div class="body">
<div> <a href="http://de.openoffice.org/servlets/ProjectDocumentList">Dokumente
 &amp; Dateien</a> </div>
<div><a href="http://de.openoffice.org/source/browse/de">Versions-Kontrolle</a>
 </div>
</div>
<div class="body">
<div> <a href="http://de.openoffice.org/servlets/ProjectIssues">Issue 
tracker</a> </div>
</div>
<div class="label"><a href="http://de.openoffice.org/index.html"><b>Bereiche</b></a></div>
<div class="body">
<div><a href="http://de.openoffice.org/dev/">Mitarbeiter</a></div>
<div><a href="http://de.openoffice.org/marketing/index.html">Marketing</a></div>
<div><a href="http://de.openoffice.org/doc/">Dokumentation</a></div>
<div><a href="http://de.openoffice.org/dev/qa/">QA</a></div>
<div><a href="http://de.openoffice.org/about-ooo/about-features.html">Über
 OpenOffice.org</a></div>
</div>
<div class="label"><strong>International</strong>...</div>
<div class="body">
<div><a href="http://marketing.openoffice.org/">Marketing Project</a></div>
<div><a href="http://development.openoffice.org/">Development</a></div>
<div><a href="http://www.openoffice.org/index.html">The community</a></div>
<div><a href="http://projects.openoffice.org/native-lang.html">Native-Language
 Confederation</a></div>
</div>

    </dd> 
        </dl>
   




<form 
action="http://de.openoffice.org/servlets/Search;jsessionid=031513CA429202F7505DF414B0BC9E30"
 method="get">
 <dl id="searchbox" class="navgroup">
  
      <dt>Search</dt>
  <dd>
   <div>
       <select name="scope">
           <option value="project" selected="selected">This project</option>
               <option value="domain">All projects</option>
    </select>
      </div>
   <div>
    <input name="resultsPerPage" value="40" type="hidden"> 
    <input name="query" size="10" maxlength="99" alt="search" 
type="text"> 
    <input name="Button" value="Go" type="submit">
   </div>
   <div>
       <a 
href="http://de.openoffice.org/servlets/Search;jsessionid=031513CA429202F7505DF414B0BC9E30?mode=advanced">Advanced
 search</a>   </div>
   <div><a href="http://support.openoffice.org/search.html">Google 
search</a></div>
  </dd>

 </dl>
</form>


<dl id="helptext" class="navgroup">
 <dt>How do I...</dt>
 <dd>
  <ul>
     
   <li><a href="http://www.openoffice.org/sitemap.html" class="helplink">Sitemap</a></li>
   <li><a href="http://www.openoffice.org/faq.html" class="helplink">FAQ</a></li>
   <li><a href="http://de.openoffice.org/nonav/servlets/HelpTOC" 
onclick="return launch(this.href, 1)" title="Note: link may open in new 
window" class="helplink">Get help?</a></li>
  </ul>
 </dd>
</dl>


</div> 
 

		</td>
<td id="midcol">

	

<div id="bodycol">

 
 
 
        
                 
                 
           
    
  

 
 


<p class="nonscreen"><a name="content">start:</a></p>


		<!-- CONTENT GOES HERE -->





		<h1>Alle OpenOffice.org-Versionen</h1>

		<table id="download-matrix" summary="Alle Versionen">
			<tr> 
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>

				<th>Windows</th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>MacOS <span class="arch">Intel</span></th>
				<th>MacOS <span class="arch">PPC</span></th>
				<th>Solaris <span class="arch">x86</span></th>
				<th>Solaris <span class="arch">Sparc</span></th>
			</tr>

		[% FOREACH k IN keys_sorted %]
			[% url = "$baseurl/$k/${records.$k.latest}" %]
			<tr>
				<td>[% k %]</td>
				<td>[% records.$k.lang %]</td>
				<td>[% records.$k.latest %]</td>

				<td>
					[% IF records.$k.versions.windows.defined %]
					<a href="[% url %]/[% records.$k.versions.windows %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]

					[% IF records.$k.versions.windowsj.defined %]
					<a href="[% url %]/[% records.$k.versions.windowsj %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin32rpm.defined %]
					<a href="[% url %]/[% records.$k.versions.lin32rpm %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]

					[% IF records.$k.versions.lin32rpmj.defined %]
					<a href="[% url %]/[% records.$k.versions.lin32rpmj %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin32deb.defined %]
					<a href="[% url %]/[% records.$k.versions.lin32deb %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin64rpm.defined %]
					<a href="[% url %]/[% records.$k.versions.lin64rpm %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]
					
					[% IF records.$k.versions.lin64rpmj.defined %]
					<a href="[% url %]/[% records.$k.versions.lin64rpmj %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin64deb.defined %]
					<a href="[% url %]/[% records.$k.versions.lin64deb %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.macosint.defined %]
					<a href="[% url %]/[% records.$k.versions.macosint %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.macosppc.defined %]
					<a href="[% url %]/[% records.$k.versions.macosppc %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.solx86.defined %]
					<a href="[% url %]/[% records.$k.versions.solx86 %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.solsparc.defined %]
					<a href="[% url %]/[% records.$k.versions.solsparc %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"></a>
					[% END %]
				</td>
			</tr>
		[% END %]

		</table>

		<h1>Alle verf&uuml;gbaren Sprachpakete</h1>

		<table id="langpack-matrix" summary="Alle Versionen">
			<tr> 
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>

				<th>Windows</th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>MacOS <span class="arch">Intel</span></th>
				<th>MacOS <span class="arch">PPC</span></th>
				<th>Solaris <span class="arch">x86</span></th>
				<th>Solaris <span class="arch">Sparc</span></th>
			</tr>

		[% FOREACH k IN records.keys %]
			[% url = "$baseurl/$k/${records.$k.latest}" %]
			<tr>
				<td>[% k %]</td>
				<td>[% records.$k.lang %]</td>
				<td>[% records.$k.latest %]</td>

				<td>
					[% IF records.$k.langpacks.windows.defined %]
					<a href="[% url %]/[% records.$k.langpacks.windows %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin32rpm.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32rpm %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin32deb.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32deb %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin64rpm.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32rpm %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin64deb.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32deb %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.macosint.defined %]
					<a href="[% url %]/[% records.$k.langpacks.macosint %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.macosppc.defined %]
					<a href="[% url %]/[% records.$k.langpacks.macosppc %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.solx86.defined %]
					<a href="[% url %]/[% records.$k.langpacks.solx86 %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.solsparc.defined %]
					<a href="[% url %]/[% records.$k.langpacks.solsparc %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen"></a>
					[% END %]
				</td>

			</tr>

		[% END %]

		</table>











	<!-- END OF CONTENT -->

		<script type="text/javascript">add_init();</script>
		  <p>
    <a href="http://validator.w3.org/check?uri=referer"><img 
src="download_files/valid-xhtml10-blue.png" alt="Valid XHTML 1.0 
Transitional" height="31" width="88"></a>
  </p>
  
	


</div>

</td>
		</tr>
	</tbody></table>
	 
 
 </div><!-- closing div with id=content -->
</div><!-- closing div with id=nonfooter -->
<div id="footer">
	<div id="sunlogo">
		<a href="http://www.sun.com/software/star/openoffice/index.html"><img 
src="download_files/oracle-logo.gif" title="Sponsored by Oracle" 
alt="Oracle Logo"></a>
	</div>
	
<!--
	<div id="collabnetlogo">
		<a href="http://www.collab.net/special/clickpbc0502.html"><img src="/branding/images/collabnet-logo.png" title="Powered by Collabnet" alt="CollabNet Logo" /></a>
	</div>
-->
	
	<ul>
		<li><a title="Give feedback, or ask for assistance" 
href="http://www.openoffice.org/project/www/contact.html">Contact Us</a></li>
		<li><a title="Sitemap" 
href="http://www.openoffice.org/project/www/sitemap.html">Sitemap</a></li>
		<li><a title="What should happen on the matter listed on this page..."
 href="http://wiki.services.openoffice.org/wiki/To-Dos">To-Dos</a></li>
		<li><a href="http://www.openoffice.org/nonav/servlets/HelpTOC">Site 
Help</a></li>
		<li><a href="http://marketing.openoffice.org/press_kit.html">Press 
Room</a></li>
	</ul>
	
	<div id="smallprint">
		<p>By any use of this Website, you agree to be bound by these 
		<a href="http://www.sunsource.net/TUPPCP.html">Policies and Terms of 
Use</a></p>
		
		<p>
		Oracle and Java are registered trademarks of Oracle and/or its
		affiliates. Other names may be trademarks of their respective owners.
		</p>
	</div>
</div>

<script type="text/javascript">
<!--
var s_prop23="main";
//--></script>

<script type="text/javascript" src="download_files/s_code_remote.js"></script><script type="text/javascript" src="download_files/metrics_group1.js"></script>
 
 
 
</body></html>
