
#download-matrix, #langpack-matrix {
	margin: 30px 0 30px 0;
}

#download-matrix th, #download-matrix td, #langpack-matrix th, #langpack-matrix td {
	padding: 2px 8px 2px 8px;
}

#download-matrix td, #langpack-matrix td {
	padding-top: 12px;
}

.empty-cell {
	background: white;
}

#download-matrix th, #langpack-matrix th {
	font-size: .8em;
	font-weight: bold;
}

span.arch {
	font-size: .8em;
}

#download-matrix tr:hover, #langpack-matrix tr:hover {
	background: #efefef;
}

