<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>OpenOffice.org herunterladen</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="other.css" />
	</head>

	<body>

		<h1>Alle OpenOffice.org-Versionen</h1>

		<h2>Versionen mit und ohne JRE</h2>

		<p>
		
		Die JRE wird f&uuml;r die Base (Datenbank)-Komponente, f&uuml;r
		Assistenten sowie f&uuml;r einige weitere Features
		ben&ouml;tigt. Die Downloadgr&ouml;&szlig;e erh&ouml;ht sich
		dadurch um etwa 15 - 40 MB, abh&auml;ngig von der gew&auml;hlten
		Plattform. F&uuml;r weitere Informationen besuchen Sie bitte:
		<a href="http://download.openoffice.org/common/java.html">Java &amp; OpenOffice.org</a>.

		</p>

		<p>
		
		Eine L&uuml;cke bedeutet, dass das Paket noch nicht ver&ouml;ffentlicht
		wurde und ggf.  als <a
			href="http://download.openoffice.org/all_rc.html#untested-full">ungetesteter
			Release Candidate vorliegt</a>.
		
		</p>

		<table id="download-matrix">
			[% BLOCK theader %]
			<tr> 
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>

				<th>Windows</th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>MacOS <span class="arch">Intel</span></th>
				<th>MacOS <span class="arch">PPC</span></th>
				<th>Solaris <span class="arch">x86</span></th>
				<th>Solaris <span class="arch">Sparc</span></th>
			</tr>
			[% END %]

			[% PROCESS theader %]


		[% n=0 %]
		[% FOREACH k IN keys_sorted %]
			[% url = "$baseurl/$k/${records.$k.latest}" %]

			[% n = n + 1 %]
			[% IF n == 10 %]
			[% n=0 %]
			[% PROCESS theader %]
			[% END %]

			<tr>
				<td>[% k %]</td>
				<td>[% records.$k.lang %]</td>
				<td>[% records.$k.latest %]</td>

				<td>
					[% IF records.$k.versions.windows.defined %]
					<a href="[% url %]/[% records.$k.versions.windows %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]

					[% IF records.$k.versions.windowsj.defined %]
					<a href="[% url %]/[% records.$k.versions.windowsj %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen"/></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin32rpm.defined %]
					<a href="[% url %]/[% records.$k.versions.lin32rpm %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen"/></a>
					[% END %]

					[% IF records.$k.versions.lin32rpmj.defined %]
					<a href="[% url %]/[% records.$k.versions.lin32rpmj %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin32deb.defined %]
					<a href="[% url %]/[% records.$k.versions.lin32deb %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin64rpm.defined %]
					<a href="[% url %]/[% records.$k.versions.lin64rpm %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]
					
					[% IF records.$k.versions.lin64rpmj.defined %]
					<a href="[% url %]/[% records.$k.versions.lin64rpmj %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.lin64deb.defined %]
					<a href="[% url %]/[% records.$k.versions.lin64deb %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.macosint.defined %]
					<a href="[% url %]/[% records.$k.versions.macosint %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.macosppc.defined %]
					<a href="[% url %]/[% records.$k.versions.macosppc %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.solx86.defined %]
					<a href="[% url %]/[% records.$k.versions.solx86 %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]
					[% IF records.$k.versions.solx86j.defined %]
					<a href="[% url %]/[% records.$k.versions.solx86j %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.versions.solsparc.defined %]
					<a href="[% url %]/[% records.$k.versions.solsparc %]"><img src="download.png" alt="Download" title="Version ohne JRE herunterladen" /></a>
					[% END %]
					[% IF records.$k.versions.solsparcj.defined %]
					<a href="[% url %]/[% records.$k.versions.solsparcj %]"><img src="download-wjre.png" alt="Download mit JRE" title="Version mit JRE herunterladen" /></a>
					[% END %]
				</td>
			</tr>
		[% END %]

		</table>

		<h2>Alle verf&uuml;gbaren Sprachpakete</h2>

		<p>
		
		<a href="http://wiki.services.openoffice.org/wiki/Languagepack"
			title="What is a language pack">Sprachpakete</a> werden
		nicht unabh&auml;ngig von der Hauptversion ver&ouml;ffentlicht und d&uuml;rfen
		nur &uuml;ber eine stabile Version der gleichen Plattform und
		Versionsnummer installiert werden. Sie beinhalten
		Ressource-Dateien spezifischer Sprachen, um z. B. Men&uuml;s,
		Dialoge, Fehlermeldungen u. a. in dieser Sprache anzuzeigen. Sie
		k&ouml;nnen auch &uuml;bersetzte Hilfe-Inhalte enthalten. Sprachpakete
		werden erstellt, wenn mindestens 80% der Benutzeroberfl&auml;che (UI)
		&uuml;bersetzt sind. In den F&auml;llen, in denen die Lokalisierung noch
		nicht vollst&auml;ndig ist, erscheinen die entsprechenden Eintr&auml;ge in
		Englisch.

		</p>

		<table id="langpack-matrix">
			<tr> 
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>
				<th class="empty-cell"></th>

				<th>Windows</th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;32&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(RPM)</span></th>
				<th>Linux&nbsp;64&nbsp;bit <span class="arch">(DEB)</span></th>
				<th>MacOS <span class="arch">Intel</span></th>
				<th>MacOS <span class="arch">PPC</span></th>
				<th>Solaris <span class="arch">x86</span></th>
				<th>Solaris <span class="arch">Sparc</span></th>
			</tr>

		[% n=0 %]
		[% FOREACH k IN keys_sorted %]
			[% url = "$baseurl/$k/${records.$k.latest}" %]

			[% n = n + 1 %]
			[% IF n == 10 %]
			[% n=0 %]
			[% PROCESS theader %]
			[% END %]

			<tr>
				<td>[% k %]</td>
				<td>[% records.$k.lang %]</td>
				<td>[% records.$k.latest %]</td>

				<td>
					[% IF records.$k.langpacks.windows.defined %]
					<a href="[% url %]/[% records.$k.langpacks.windows %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin32rpm.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32rpm %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin32deb.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32deb %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin64rpm.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32rpm %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.lin64deb.defined %]
					<a href="[% url %]/[% records.$k.langpacks.lin32deb %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.macosint.defined %]
					<a href="[% url %]/[% records.$k.langpacks.macosint %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.macosppc.defined %]
					<a href="[% url %]/[% records.$k.langpacks.macosppc %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.solx86.defined %]
					<a href="[% url %]/[% records.$k.langpacks.solx86 %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>
				<td>
					[% IF records.$k.langpacks.solsparc.defined %]
					<a href="[% url %]/[% records.$k.langpacks.solsparc %]"><img src="download-lang.png" alt="Download Langpack" title="Language Pack herunterladen" /></a>
					[% END %]
				</td>

			</tr>

		[% END %]

		</table>


		<h2>Release Candidates</h2>

		<p><b>Wichtig!:</b> <a
			href="http://download.openoffice.org/all_rc.html"
			title="Download Release Candidates">Release Candidates</a>
		basieren auf dem finalen Release -  aber die abschlie&szlig;enden
		Tests wurden noch nicht beendet. Deshalb gelten sie nicht als
		ver&ouml;ffentlichte Version und der Einsatz innerhalb produktiver
		Umgebungen wird nicht empfohlen. Sie sind jedoch dazu
		eingeladen, diese Pakete zu testen. Bitte <a
			href="http://qa.openoffice.org/issue_handling/pre_submission.html">melden
			Sie</a> m&ouml;gliche Fehler. F&uuml;r weitere Informationen besuchen
		Sie bitte die Homepage der einzelnen <a
			href="http://native-lang.openoffice.org">Lokalisierungs
			Teams</a>.</p>

		<h2>Developer Snapshots</h2>

		<p>Bitte testen Sie auch unsere letzte <a
			href="http://download.openoffice.org/next/index.html"
			title="Download Developer Snapshot
			Builds">Entwicklerversion</a>.  <b>Wichtig:</b> Die Version
		repr&auml;sentiert den aktuellen Status der
		OpenOffice.org-Entwicklung. Diese Entwicklerversionen werden
		normalerweise w&ouml;chentlich ver&ouml;ffentlicht. Bitte <a
			href="http://wiki.services.openoffice.org/wiki/Product_Release/Builds_FAQ">lesen
			Sie im entsprechenden Wiki-Artikel</a>, was dies im Detaill
		bedeutet. <b>Diese Software wurde nicht getestet und der Einsatz
			innerhalb produktiver Umgebungen wird nicht empfohlen. Diese
			Versionen sind im Entwicklungsstadium und deshalb ggf.
			instabil.</b> Zum produktiven Einsatz nutzen Sie bitte
		unsere <a href="http://download.openoffice.org/">aktuelle
			stabile Version</a>.</p>


		<h2>OpenOffice.org auf CD-ROM bestellen</h2>

		<p>Beziehen Sie <a href="cd.html" title="OpenOffice.org auf
			CD">OpenOffice.org auf CD</a> mit Cliparts, Dokumentationen
		und mehr.</p>

		<h2>Download OpenOffice.org via P2P</h2>

		<p>OpenOffice.org Download <a
			href="http://distribution.openoffice.org/p2p/"
			title="OpenOffice.org via P2P network">via P2P network</a>
		wie BitTorrent, eMule oder <a
			href="http://downloads.openoffice.org/common/downloadtools.html"
			title="Links to download manger">andere Tools</a>.</p>


		<h2>Fehlerhafte Links melden</h2>

		<p>Bitte melden Sie fehlerhafte Links zur Korrektur mit einer
		E-Mail an: <a
			href="mailto:dev@de.openoffice.org?subject=Fehler%20in%20other.html:%20"
			title="Nachricht an 'dev@de.openoffice.org'
			senden">dev@de.openoffice.org</a>.</p>

	</body>
</html>
