/*-------------------------------------------------------------

	lokal stylesheet für porting - project



	$Id: porting.css,v 1.00 2006/08/28 markomlm  Exp $

-------------------------------------------------------------*/



/*-------------------------------------------------------------*/

/*--- common Styles---*/

/*-------------------------------------------------------------*/

#body_port h1{
	color: #cc6600;
	font-family: "Courier New", "Courier", monospace; font-size: 15pt;
	text-align: left;
}
#body_port h2{
	color: #ffffff;
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: center;
}
#body_port h3{
	color: #cc6600;
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: left;
}
#body_port h4{
	color: #cc6600;
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: center;
}
#body_port h5{
	font-family:"Arial", "Helvetica" ;
	font-size: 10pt;
	text-align: center;
}


/*--- tables  ---*/

#body_port table{

	background-color:#fff; color:#000;

	border-collapse:collapse; border-spacing:0;

	border-style: solid; border-width: 2px; border-color: #fff;

	margin-bottom:5px;

}

#body_port table caption	{

	background-repeat: no-repeat;

	background-color:#06348C; color:#fff;

	font-weight:bold; font-size: 100%; font-variant:small-caps;

	text-align:left; padding:4px;

	border-style: solid; border-width: 2px; border-color: #fff;

	margin-top:5px;

}

#body_port th	{

	background-color:#00315a; color:#000;

	padding:3px;

	padding-top:5px;
	/* font-color is not a valid attribute, please fix */
	font-color:#ffffff;

	border-style: solid; border-width: 2px; border-color: #fff;


}

#body_port td {

	background-color:#f0f0f0; color:#000;

	padding:2px;
	margin-top:20px;
	vertical-align:top;
	font-color:#ffffff;
		/* font-color is not a valid attribute, please fix */
	font-size: 10pt;

	border-style: solid; border-width: 1px; border-color: #fff;

}





#body_port .oddRow td{

	background-color:#ddd

}


/*--- News Stuff ---*/

  h3 {
    color: #06348c;
    background-color: #DEE4EE;
  }
    
  p {
	text-align: justify;
	margin-left: 1em;
  }
  
  .news .date {
     margin: 1em 1em 0.5em 1em;
     font-weight: bold;
     color: #06348c;
  }
  
  p.news {
     margin: 0.5em 1em 0.5em 2em;
  }

/*--- Current Developers Stuff --*/

img.currdevelopersimg  {
	margin-right:0.5em;
	margin-bottom:0.5em;
	float:left;
}
div.currdevel  {
	margin:1em;
	clear:both;	
}

/*--- class, to set background to white  ---*/

#body_port .white-background {

	background-color:#ffffff;

}
