/*-- Styles für Einführung in Draw */
/* Änderungen an HTML-Elementen */



li {
	margin-bottom: 1%;
}

dl {
	margin: 1em 1em 1em 1em;
}

dt {
	font-weight: bold;
}


/* Beschreibung für Menüelemente*/
.Menue {
	font-style: normal;
	font-family: serif;
	font-weight: bold;
}

.Symbol {
	font-style: italic;
	font-family: serif;
}

.Info {
	font-style: italic;
}

/* Tastatur */

.Taste {
	border: thin solid Black;
	background-color: Silver;
	display: inline;
	font-size: small;
}


/* Allgemeine Formate */

.kursiv {
        font-style: italic;
}

.fett {
        font-weight: bold;
}

.unterstrichen {
	text-decoration: underline;
}


.abbild {
	display: block;
	font-family: monospace;
	font-size: smaller;
	font-style: italic;
	margin: 0em 0em 1em 0em;
}

/* Blockelemente */

.schwebend_links {
	float: left;
	margin: 1em 1em 1em 0em;
}

.nicht_schwebend {
	clear: both;
}
