.ui-tabs-hide {
display:none;
}
.ui-tabs-nav {
display:block;
}
.ui-tabs-nav, .ui-tabs-panel {
font-family:"Trebuchet MS",Trebuchet,Verdana,Helvetica,Arial,sans-serif;
font-size:12px;
}
.ui-tabs-nav {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:0pt 0pt 0pt 4px;
}
.ui-tabs-nav:after {
clear:both;
content:" ";
display:block;
}
.ui-tabs-nav li {
float:left;
margin:0pt 0pt 0pt 1px;
min-width:84px;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
background:transparent url(tab.png) no-repeat scroll 0% 0%;
display:block;
padding:0pt 10px;
}
.ui-tabs-nav a {
color:#27537A;
font-weight:bold;
line-height:1.2;
margin:1px 0pt 0pt;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:0pt;
padding-left:0pt;
text-align:center;
text-decoration:none;
white-space:nowrap;
}
.ui-tabs-nav .ui-tabs-selected a {
color:#000000;
margin-top:0pt;
position:relative;
top:1px;
z-index:2;
}
.ui-tabs-nav a span {
height:18px;
min-height:18px;
min-width:64px;
padding-right:0pt;
padding-top:6px;
width:64px;
}
* > .ui-tabs-nav a span {
height:auto;
width:auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
padding-bottom:1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
background-position:100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
background-position:100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
background-position:0pt -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
background-position:0pt 0pt;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
cursor:text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active {
cursor:pointer;
}
.ui-tabs-disabled {
opacity:0.4;
}
.ui-tabs-panel {
background:#FFFFFF none repeat scroll 0% 0%;
border-top:1px solid #97A5B0;
padding:1em 8px;
}
.ui-tabs-loading em {
background:transparent url(../imagini/loading.gif) no-repeat scroll 0pt 50%;
padding:0pt 0pt 0pt 20px;
}
* html .ui-tabs-nav {
display:inline-block;
}
:first-child + html .ui-tabs-nav {
display:inline-block;
}