  <div id="{{ headers.divid }}">
    <div id="asfbanner">
      <p><a href="https://www.apache.org/events/current-event.html"><img src="https://www.apache.org/events/current-event-234x60.png" alt="Apache Events" height="60" width="234" /></a></p>
    </div>
    <div id="poweredbya">
      <p>
        <a href="https://www.apache.org/">
		<img src="/images/asf_logo_small.png" alt="Apache Software Foundation" height="76" width="188"/>
        </a>
      </p>
    </div>
    <div id="copyrighta">
      <p style="text-align:center;">
        <a href="/license.html">Copyright &amp; License</a> |
        <a href="/privacy.html">Privacy</a> |
        <a href="/contact_us.html">Contact Us</a> |
        <a href="/donations.html">Donate</a> |
        <a href="https://www.apache.org/foundation/thanks.html">Thanks</a>
      </p>
      <p>
        Apache and the Apache feather logo are trademarks of The Apache Software Foundation.
        OpenOffice, OpenOffice.org and the seagull logo are registered trademarks of The Apache Software Foundation.
        Other names appearing on the site may be trademarks of their respective owners.
      </p>
    </div>
  </div>
