@charset "euc-jp";

/* トップページ用のスタイル */

img {
  border:none
}

/* テーブルタグ内での行間設定 */
table {  line-height: 150%}

/* タイトルのバックにある模様 */
.title {  background-image: url(../images/logo_back.png); background-repeat: repeat-x}

/* イントロ部分は，heading以外はmenu-〜で代用 */
.intro-heading {  font-size: medium; font-weight: bold; color: #0000FF; border: #99CCFF solid; border-width: thin thin thin 0px;}

/* 日付表示装飾用 */
.date {  font-size: small; font-weight: bold; color: #339900}

/* newsのみtitleあり */
.news {  border: #CCFF99; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.news-heading {  font-size: medium; font-weight: bold; color: #339900; border: #CCFF99 solid; padding-top: 0.3em; padding-bottom: 0.3em; border-width: thin thin thin 0px}
.news-title {  font-size: 110%; font-weight: bold; padding-left: 0.5em}
.news-item {  padding-left: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em}

/* メニュー一般用スタイル。青いやつ。 */
.menu {  border: #6666CC; border-style: solid; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin}
.menu-heading {  color: #FFFFFF; border: thin #6666CC solid; font-size: medium; font-weight: bold; background-color: #6666CC; padding: 0.3em 0.3em}
.menu-item {  padding-left: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em}

/* bbs表示部用スタイル。黄色いやつ。 */
.bbs {  border: #FFFF99; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: thin}
.bbs-heading { color: #996600; border: #FFFF99 solid; font-size: medium; font-weight: bold; border-width: thin thin thin 0px; padding-top: 0.3em; padding-bottom: 0.3em}
.bbs-item { padding-left: 1.5em ; padding-top: 0.5em; padding-bottom: 0.5em}
#twitter_div ul{
margin:0px 0px 0px 0px
}
#twitter_div li {
font-size: small;
padding-left: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em;
}
