 #if( $acl.hasPermission("ProjectGroup - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#whatis">Learn 
 more about project groups?</a> 
</div> #end
#if( $acl.hasPermission("ProjectGroup - Add ", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#manageroles">Assign 
 user groups to this project group?</a>
 </div>
 #end
