/* Print CSS */

.nonscreen {
  display:none;
}

#minilinks {
  display: none;
}

#minitabs { 
  display: none;
}

#subheader , #navigation {
  display: none;
}

#navcol {
  display: none;
}

#footer, #leftcol {
  display: none;

}

div.printbreak { 
page-break-after: always;
} 

