/*--------------------------- Standard HTML Elements ---------------------------*/
/* $Revision: 1.38 $ */

html, body { height: 100%; margin: 0; padding: 0; }
body { font-family: verdana, arial, helvetica, sans-serif; font-size: .9em; background: #FFF; }

p { line-height: 150%; margin: 0; padding: 10px 0 15px 0; }
a { color: #06C; margin: 0; padding: 0; }
ul { margin: 15px 15px 30px 15px; padding: 0; }
li { line-height: 120%; }
h1, h2, h3 { font-family: Liberation Sans, Helvetica, Arial, sans-serif; font-weight: normal; }
h1 { font-size: 2em; padding: 10px 5px 10px 5px; margin: 0; background: #ECF2FD; border-top: 1px solid #CBDEFA; border-bottom: 1px solid #CBDEFA; color: #036; }
h2 { font-size: 1.6em; color: #333; margin: 0 0 10px 0; border-bottom: 1px solid #CCC; }
h2 a { text-decoration: none; color: #008; }
h3 { font-size: 1.3em; color: #444; margin: 10px 0 5px 0; font-weight: bold; }

img { border: 0; }
form { margin: 0; padding: 0; }
th, td { margin: 0; padding: 0; text-align: left; vertical-align: top; }
dt { font-weight: bold; }
hr { display: none; }
del { text-decoration: line-through; }
label { display: block; float: left; }
fieldset { border: 1px solid #ccc; border-color: #ccc #999 #999 #ccc; margin-bottom: 3px; width: 100%; }
th { background: #EEE; color: #000; }

.nonscreen { width: 0; height: 0; margin: 0; padding: 0; display: block; overflow: hidden; }
/* hr { border: none; border-top: 3px double #9BC0F5; margin: 15px 0 15px 1px; } */

/*--------------------------- Header ---------------------------*/

#nonfooter { min-height: 100%; position: relative; }
#header { width: 100%; min-width: 750px; height: 140px; background: url(/branding/images/wave-top.png) no-repeat #9BC0F5; }
#positioner { float: left; width: 60%; }
#positioner img { margin: 0; padding: 0; float: left; }
#positioner h1 { margin: 26px 0 0 195px; padding: 16px 0 16px 20px; border: none; border-left: 1px solid #EDF4FD; color: white; font: 1.5em arial, helvetica, sans-serif; text-shadow: #AAC4EA 2px 2px; text-transform: lowercase; background: none; }

#minitabs { position: absolute; top: 1.25em; right: 1.25em; color: white; z-index: 100; font-size: 0.75em; text-align: center; }
#minitabs a { text-decoration: underline; color: white; }
#minitabs p { margin: 0; padding: 0; line-height: 130%; }
#minitabs label { width: 74px; padding: 3px 0 0 0; text-align: left; }
#minitabs input { margin: 0 0 5px 0; padding: 3px; color: white; border: 1px solid white; background-color: #9BC0F5; font: 1.1em verdana, arial, helvetica, sans-serif; line-height: 100%; }
#minitabs a.tab { margin: 0; padding: 5px; line-height: 1.1em; height: 1.1em; }
#minitabs ul.minitabs { margin: 0; padding: 0; position: relative; }
#minitabs ul.minitabs li.minitab { padding: 0 0 0 10px; float: left; display: block; }
#minitabs ul.minitabs li.first_in_list { margin: 0 0 0 -22px; padding: 0; }
#minitabs ul.minitabs li.minitab a.tab { display: block; border: 1px solid #CBDEFA; border-bottom: none; background-color: #9BC0F5; text-decoration: none; color: #CBDEFA; }
#minitabs ul.minitabs li.search a.tab { position: relative; z-index: 20; }
#minitabs ul.minitabs li.search input.inputtext { width: 150px; }
#minitabs ul.minitabs li.minitab .tabcontent { padding: 10px; display: none; position: absolute; background: url(/branding/images/minitab-bg.png) repeat-x #9BC0F5; width: 100%; top: 2em; right: 0; border: 1px solid #CBDEFA; z-index: 10; }
#minitabs ul.minitabs li:hover a.tab { position: relative; z-index: 30; color: white; border: 1px solid white; border-bottom: none; }
#minitabs ul.minitabs li.search .tabcontent { display: block; z-index: 11; }
#minitabs ul.minitabs li:hover .tabcontent { display: block; z-index: 21; border: 1px solid white; }
#minitabs #loginbox input { width: 120px; }
#minitabs #loginbox { min-height: 45px; padding: 0; }
#minitabs #loginbox #joina a { float: left; }
#minitabs input.searchbutton { margin: 0 0 5px 0; padding: 2px; }
#minitabs #loginbox input.loginbutton { float: right; margin: 0 5px -2px 0; width: 50px; line-height: 1.1em;  }
/*#minitabs #loginbox #logouta a {float: right; }*/
#minitabs li.search * { color: #CBDEFA; }
#minitabs li.search:hover * { color: white; }
#minitabs li.search input { border: 1px solid #CBDEFA; }
#minitabs li.search:hover input { border: 1px solid white; }

#minilinks { float: right; margin: 0px; padding: 0px; display: none; }

/*--------------------------- Top Menu / Navigation ---------------------------*/

#subheader { margin: 0 0 15px 0; width: 100%; min-width: 750px; height: 25px; background: url(/branding/images/wave-bottom.png) no-repeat left #CBDEFA; }
#navigation { height: 25px; float: right; font-size: .75em; }
#navigation ul { margin: 0 8px 0 0; padding: 0; }
#navigation li { margin: 0; padding: 0; list-style: none; display: inline; }
#navigation a { margin: 0 7px 0 0; padding: 0 0 0 5px; float: left; background: url(/branding/images/tab-left.png) no-repeat left top #F0F5FE; cursor: pointer; text-decoration:none; }
#navigation span { float: left; display: block; background: url(/branding/images/tab-right.png) no-repeat right top #F0F5FE; padding: 6px 8px 6px 2px; color: #333; }
#navigation a:hover { background: url(/branding/images/tab-left.png) no-repeat 0 -50px #FAFCFF; }
#navigation a:hover span { background: url(/branding/images/tab-right.png) right -50px #FAFCFF; }
#navigation li.th a { float: left; background: url(/branding/images/tab-left.png) no-repeat left -100px #FFF; }
#navigation li.th a span { background: url(/branding/images/tab-right.png) no-repeat right -100px #FFF; }

/*--------------------------- Breadcrumbs ---------------------------*/

#breadcrumbs { margin: 0 0 0 5px; font-size: .9em; color: #AAA; }
#breadcrumbs a { color: #AAB; }

/*--------------------------- Content (informational body) Layout ---------------------------*/

#content { width: 100%; padding: 0 0 160px 0; clear: both; display: block; font-size: 1em; background:#FFF; }
#main { width: 100%; margin: 15px 0 0 0; }
#bodycol { margin: 0; padding: 0 13px 0 0; height: auto; }
#bodycol li { margin: 10px 0 10px 30px; }
#bodycol dd { line-height: 150%; margin: 20px 0 20px 30px; }

/*--------------------------- NavColumn Layout ---------------------------*/

#navcol { width: 185px; }
#navcolumn { width: 185px; margin: 0 15px 0 0; font-size: .8em; }
dl.navgroup { margin: 0; padding: 0 0 12px 0; background-color: #F8F8F8; }
.navgroup ul li { line-height: 150%; }
.navgroup, .navgroup dt, .navgroup dd, .navgroup ul, .navgroup li { margin: 0; padding: 0; }
.navgroup dd { border: none; }
.navgroup li { display: block; list-style-type: none; margin: 0; padding-left: 10px; }
.navgroup dd li,.navgroup dd div { padding-bottom: .3em; padding-left: 15px; }
.navgroup dt { color: #333; font-weight: bold; padding: 5px 5px 5px 10px; }
.navgroup dt, .navgroup div.label { background-color: #DCE9FC; border-bottom: 1px solid #9BC0F5; color: #039; padding: 4px 0 4px 6px; margin: 0 0 15px 0; font-size: 1.2em; }
.navgroup a { color: #039; text-decoration: none; }
.navgroup div.body { margin: 0; padding: 0; }
.navgroup div.body div { margin: 0 0 6px 15px; padding: 0; }

/*---------------------------  CommunityCol --------------------------- */

#communitycol { font-size: .8em; width: 185px; padding: 0; margin: 0 15px 0 0; }
#communitycol h3 { background-color: #DCE9FC; border-bottom: 1px solid #9BC0F5; color: #039; padding: 4px 0 4px 6px; margin: 0; font-size: 1.2em; font-family: verdana, arial, helvetica, sans-serif; }
#communitycol h3 a { text-decoration: none; color: #039; }
#rightcol { margin: 0 13px 0 0; }

/*--------------------------- IssueZilla & Filebrowser Specific Styling ---------------------------*/

div.application { font-size: .9em; }
div.application th { padding: 5px; }
div.application th a { color: #333; } 
div.application td a { color: #06C; }
div.application td { padding: 2px 4px 2px 4px; }
div.application pre, #helpbox pre { font-size: 1.2em; }

#topmodule div { position: absolute; right: 40px; margin-top: 15px; }
#topmodule table { margin-top: -4px; }
#issuezilla select { font-size: .8em; }
#issuezilla table { font-size: .9em; }
#issuezilla h2 { display: none; }
#issuezilla .h2 { margin: 0; }
/* #issuezilla input { width: 100%; }
#issuezilla .h3 input, #issuezilla .functnbar3 input, #issuezilla #thisform input { width: 7em; } */

div.h2 div p, p.blue { margin: 10px 0 10px 1px; padding: 2px 4px 3px 4px; background: #F3F8FE; border-top: 1px solid #CBDEFA; border-bottom: 1px solid #CBDEFA; }
#projectmailinglistlist p { margin: 10px 0 10px 1px; padding: 2px 4px 3px 4px; background: #F2F2F2; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; }
#projectmailinglistlist form p { border: none; background: none; }
div.h2 form div p { margin: 10px 0 10px 1px; padding: 2px 4px 3px 4px; background: none; border: none; }
div.h2 div p a, p.blue a, #projectmailinglistlist p a, div.h2 form div p a, p.green a { color: #333; }
p.yellow { margin: 10px 0 10px 1px; padding: 2px 4px 3px 4px; background: #FF9; border-top: 1px solid #FC0; border-bottom: 1px solid #FC0; }

.filebrowse h2 { margin-top: 0; }
.filebrowse ul, .filebrowse-alt ul { list-style-type: none; margin: 0 0 0 -30px; padding: 0; }
.filebrowse li, .filebrowse-alt li { margin: 0; padding: 0; }
.filebrowse ul ul, .filebrowse-alt ul ul { margin: 0 0 0 -10px; padding: 0; }
.filebrowse .leaf,.filebrowse-alt .leaf { background: url(../images/icon_doc_sml.gif) no-repeat; padding: 0 0 0 20px; }
.filebrowse .leafnode,.filebrowse-alt .leafnode { background: url(../images/icon_folder_sml.gif) no-repeat; padding: 0 0 0 20px; }
.filebrowse-alt .expanded,.filebrowse-alt .collapsed,.filebrowse-alt .leaf,.filebrowse-alt .leafnode,.sortup,.sortdown { display: inline; float: left; height: 15px; padding: 0; width: 18px; }
.filebrowse-alt .leaf,.filebrowse-alt .leafnode,.sortup,.sortdown { width: 20px; }

/*--------------------------- Custom Stylings ---------------------------*/

.bigboldleft { font-weight: bold; text-align: left; vertical-align: top; }
.blue { background: #369; color: #FFF; padding: 2px; text-align: center; }
.blueboldcenter { color: #00F; font-weight: bold; text-align: center; }
.boldcenter { font-weight: bold; text-align: center; }
.darkbluebold,.darkblueleft { background: #00315A; color: #FFF; font-weight: bold; text-align: left; }
.darkblueleftmiddle { background: #00315A; color: #FFF; text-align: left; vertical-align: middle; }
.fontredochre { color: #C30; text-align: left; }
.fontwhite { color: #FFF; }
.fontwhitesmall { color: #FFF; font-weight: bold; text-align: left; }
.green { color: #060; }
.liteblue { background: #9CF; font-weight: bold; }
.liteblue-back { background: #ECF2FD; padding: 5px; text-align: center; }
.purple { color: #339; }
.red { color: #F00; }
.helplink { cursor: help; }
.indent { margin-left: .25in; }
.indenttable th .strut { width: 16em; }
.infomark { background:url(../images/icon_info_sml.gif); }
.infomessage { background: url(../images/icon_info_lrg.gif) left center no-repeat; border-color: #369; padding: 20px 0 20px 50px; }
.infomessage p { line-height: 100%; margin-bottom: 0; padding-bottom: 0; }
.inline { display: inline; }
.it_nav { background: #009; color: #FFF; font-weight: bold; }
.leftpadding-medium,.additembox-expanded { padding-left: 14px; }
.legend th,.bars th { background: #FFF; padding-left: 1em; text-align: right; }
.messagechild { padding-left: 34px; }
.metricchart { margin: 6px auto; text-align: center; }
.metricchart img { border: 1px solid #ddd; }

.alt1 { text-align: center; vertical-align: top; }
.alt2 { background: #00315A; color:#FFF; text-align:left; }
.alt3, .graybold { background: #CCC; font-weight: bold; }
.alt4 { background: #9CF; font-weight: bold; }
.alt5 { color: #333; font-weight: bold; padding: 3pt; text-align: left; white-space: normal; }
.alt6 { background: #F0F0F0; font-weight: bold; text-align:left; }
.alt7 { background: #FFF; font-weight: bold; text-align: left; }
.alt8 { background: #FFF; font-weight: bold; text-align: left; vertical-align: top; }
.alt8b { background: #F0F0F0; font-weight: bold; text-align: left; vertical-align: top; }
.alt9 { background: #FFF; text-align: left; vertical-align: top; }
.alt9b { background: #F0F0F0; text-align: left; vertical-align: top; }
.alt10 { font-size: 85%; text-align: left; }
.alt12 { color: #00F; font-weight: bold; text-align: center; }

.band1 { background: #663; color: #FFF; }
.band10 { background: #699; color: #fff; }
.band11 { background: #CC9; }
.band12 { background: #CCF; }
.band13 { background: #366; color: #FFF; }
.band14 { background: #996; color: #FFF; }
.band15 { background: #99C; }
.band16 { background: #FCC; }
.band2 { background: #66C; color: #FFF; }
.band3 { background: #C99; }
.band4 { background: #CFF; }
.band5 { background: #336; color:#FFF; }
.band6 { background:#966; color: #FFF; }
.band7 { background: #9CC; }
.band8 { background: #FFC; }
.band9 { background: #633; color:#FFF; }
.bars th { width: 12em; }
.btntop { vertical-align: top; }

/*--------------------------- Campaign ---------------------------*/

div.campaign { width: 146px; min-height: 165px; float: right; padding: 45px 70px 15px 30px; background: url(/branding/images/campaign-bg.png) right top no-repeat #FFF; }
div.campaign h2 { margin: 0; padding: 10px 10px 0 0; font: 1.1em Verdana, Arial, Helvetica, sans-serif; font-weight: normal; border: none; }
div.campaign p { line-height: 140%; font-size: .75em; }

/*--------------------------- Footer ---------------------------*/

#footer { width: 100%; min-width: 750px; height: 125px; margin: -130px 0 0 0; padding: 5px 0 0 0; background: url(/branding/images/footer-bg.png) 0 top repeat-x #F2F2F2; text-align: center; position: relative; clear: both; display: block; font-size: .75em; }
#footer img { border: none; }
#sunlogo { float: left; padding: 10px 0 40px 15px; }
#collabnetlogo { float: right; padding: 10px 15px 40px 15px; }
#footer a { color: #999; }
#footer a:hover { color: #069; }
#footer ul { padding: 0 0 10px 0; margin: 15px 0 7px 0; font-size: 12px; }
#footer li { list-style: none; display: inline; margin: 0 10px 0 10px; padding: 0; }
#smallprint { margin: auto; width: 70%; display: inline; }
#smallprint p { margin: 0 0 10px 0; padding: 0; }

/*--------------------------- Formerly tigris.css ---------------------------*/

#banner { background: #234; } 
#broadcastmsg { background: 3px 6px #ecf4fe; border: 1px solid #aaa; border-left: 1px solid #999; border-right: 1px solid #999; margin: .75em 0; } 
#helpbox { margin-bottom: 1em; padding: 6px 11px 1em 6px; } 
#helpbox p { padding: 4px 0 4px 0; } 
#issuezilla.application .blue { color: #036; text-align: left; } 
#ownermessage { background: url(../images/icon_info_lrg.gif) no-repeat 5px 5px #e7f3fe; border: 1px solid #369; border-top: 5px solid #369; margin: .67em 0 1.5em; min-height: 32px; padding: .33em 0 .67em 42px; } 
#projectperformance { padding: 10px; } 
#report-export { float: right; margin-left: 3em; } 
#report-links { float: right; margin: 0 5px 2px; } 
#report-sequence { margin-bottom: 1em; } 
#report-sequence table { background: #ccc; border-spacing: 0; width: 100%; } 
#report-sequence table td,#report-sequence table th { width: 33%; } 
#report-sequence table th { background: #cef; font-weight: 700; } 
#report-sequence td,#report-sequence th { border: 1px solid #ccc; border-bottom: 1px solid #666; border-right: 1px solid #666; padding: 4px 5px; } 
.\3031centmidd { background: #00315A; color: #FFF; text-align: center; } 
.a td, .a { background: #f9f9f9; } 
.a:hover td, .a:hover, .b:hover td, .b:hover, .hilight { background: #E0E9F9; } 
.additembox { background: #efefef; padding: 5px 3px; } 
.hide { display: none; } 
.axial td th { text-align: left; } 
.b td, .b { background: #ededef; } 
.calendarbody { margin: 17px; } 
.calendarday { background: #fff; } 
.calendardays,calendarperiod { border: 1px solid #999; } 
.calendarmonths { background: #9bf; border: 1px solid #ccf; border-color: #ccf #69c #69c #ccf; } 
.calendartoday { background: #ee9; border: 1px solid #999; border-color: #999 #777 #69c #aaa; } 
.calendartoday, .calendarmonths { padding: 0 2px 0 3px; } 
.calendarweeklabel { background: #aaa; padding-bottom: 7px; text-align: center; } 
.center, .textcenter, .alt15 { text-align: center; } 
.colbar { background: #eee; border: 1px solid #999; border-color: #aaa #eee #eee #aaa; margin: 1px 2px 2px; padding: 2px; } 
.courtesylinks { margin-top: 1em; padding-top: 1em; } 
.currentperiod,#today { background: #ee9; } 
.cvsdiffadd { background: #bfffbf; } 
.cvsdiffchanges1, .cvsdiffchanges2 { background: #ff7; } 
.cvsdiffremove { background: #ffbaaa; } 
.dashboardchart { background: #ddd; margin: 2px 2px 0; padding: 5px; text-align: center; } 
.expandwidget a { background: url(../images/button-open.gif) no-repeat left top; padding-left: 14px; } 
.expandwidget a:hover { background: url(../images/button-open-over.gif) no-repeat left top; } 
.expandwidget,#additemlink { margin-top: 2px; padding-left: 3px; padding-top: 2px; } 
.dirinfo { background: url(../images/icon_folder_lrg.gif) no-repeat; } 
.docinfo { background: url(../images/icon_doc_lrg.gif) no-repeat; } 
.docinfo, .dirinfo { margin: .67em 0; min-height: 32px; padding: .33em 0 .67em 42px; } 
.collapsewidget { background: #efefef; } 
.collapsewidget a { background: url(../images/button-close.gif) no-repeat left top; padding-left: 14px; } 
.collapsewidget a:hover { background: url(../images/button-close-over.gif) no-repeat left top; } 
.effort { margin-left: 50px; } 
.effortbar1 { background: #79f; } 
.effortbar1, .effortbar2 { position: absolute; } 
.errormark, .warningmark, .donemark, .infomark { background: url(../images/icon_error_sml.gif) left center no-repeat; min-height: 15px; padding-left: 20px; } 
.errormessage { background: #fff5f1; } 
.errormessage, .warningmessage, .donemessage { background: url(../images/icon_error_lrg.gif) no-repeat 5px 1.33em; border-left: 1px solid #900; border-top: 5px solid #900; margin: .67em 0; min-height: 32px; padding: .33em 0 .67em 42px; } 
.donemark { background: url(../images/icon_success_sml.gif); } 
.donemessage { background: url(../images/icon_success_lrg.gif) #f8fff4; border-color: #090; } 
.fieldset, .tabset, .tabset .tabset { padding: .67em; } 
.floatleft, .reportlet-a { float: left; } 
.floatright { float: right; } 
.othermonthday, .othermonthday a { background: #ddd; color: #888; } 
.periodax { background: #9cc; } 
.periodax, .periodbx, .currentperiod { border-bottom: 1px solid #eee; } 
.periodax, .periodbx, .currentperiod, .othermonthday, .othermonthday a, .calendarday { padding-bottom: 7px; } 
.periodbx { background: #ac9; } 
.printbreak { border-top: 2px #000 solid; margin-top: 20px; } 
.removedbox { float: left; margin-right: 10px; } 
.report-title, .reportlet-title { background: #ccccc1; font-weight: 700; text-align: center; } 
.reportlet { clear: both; min-width: 615px; width: 100%; } 
.reportlet-a, .reportlet-b { border: 1px solid #998; min-width: 300px; width: 49%; } 
.reportlet-b { float: right; position: relative; } 
.reportlet-footer { margin: 0; padding-bottom: 3px; text-align: center; } 
.reportlet-single { border: 1px solid #998; min-width: 600px; width: 100%; } 
.reportletchart { margin: 3px auto; text-align: center; } 
.right, .axial th, .axial th .strut, .periodax, .periodbx, .currentperiod, .calendarday, .alt14 { text-align: right; } 
.rollupactivity td { background: #ddd; } 
.select-medium { margin: 3px 0; min-width: 13em; } 
.selectiongroup { padding-left: 1.5em; } 
.small { font-size: 85%; } 
.smaller { font-size: 75%; } 
.sortdown { background: url(../images/icon_sortdown.gif) no-repeat; } 
.sortup { background: url(../images/icon_sortup.gif) no-repeat; } 
.spaced { line-height: 160%; } 
.spaced13 { line-height: 140%; } 
.statusnotstarted, .statusontrack, .statuscaution, .statusslip, .statusended { height: 10px; white-space: nowrap; width: 50px; } 
.strut15 { width: 15em; } 
.subp1em { text-indent: 1em; } 
.subp2em { text-indent: 2em; } 
.subp3em { text-indent: 3em; } 
.subp4em { text-indent: 4em; } 
.superscript { font-size: 75%; line-height: 110%; vertical-align: super; } 
.tablef0 { background: #F0F0F0; } 
.tasknav { margin-bottom: 1.33em; } 
.th-heading { padding: 2px 2px 7px; } 
.tier2 { margin-left: 1.5em; } 
.tier3 { margin-left: 3em; } 
.tier4 { margin-left: 4.5em; } 
.tier5 { margin-left: 6em; } 
.tier6 { margin-left: 7.5em; } 
.tier7 { margin-left: 9em; } 
.tier8 { margin-left: 10.5em; } 
.tier9 { margin-left: 12em; } 
.tier10 { margin-left: 13.5em; } 
.tip { color: #333; font-size: smaller; font-style: italic; font-weight: 400; margin-bottom: 4px; margin-top: 3px; } 
.tiptexttoggle { background: #C0CFDB; border: none; border-bottom: 1px solid #89C; border-right: 1px solid #89C; color: #444; margin: -3px 1px 0; padding: 2px 5px; } 
.warningmark { background: url(../images/icon_warning_sml.gif) left center no-repeat; } 
.warningmessage { background: url(../images/icon_warning_lrg.gif) #fdf7f1 no-repeat; border-color: #c60; } 
body .grid td { border-left: 1px solid #ccc; border-top: 1px solid #ccc; } 
body .mtb { margin-top: 2em; text-indent: 0; } 
body .stb { margin-top: 1em; text-indent: 0; } 
div.a,div.b { margin: 2px 0; padding: 3px; } 
div.strut13,table.axial th,table.axial th .strut { width: 13em; } 
div.strut14 { width: 14em; } 
div.strut7 { width: 7em; } 
div.strut8 { width: 8em; } 
p.attrdesc, .tier1 { margin-left: 0; } 
table td.statusalert, .statusalert { background: #f30; } 
table td.statuscaution, .statuscaution { background: #fc6; } 
table td.statusended, .statusended { background: #ccc; } 
table td.statusnotstarted, .statusnotstarted { background: #cca; } 
table td.statusontrack, .statusontrack { background: #6c6; } 
td.sequence-known,td.sequence-previous { background: #ace; color: #333; } 
td.sequence-unknown,td.sequence-next { background: inherit; color: #333; } 
.functnbar { background: url(../images/nw_maj_rond.gif) no-repeat; } 
.functnbar, .functnbar2, .effortbar2 { background: #aaa; } 
.functnbar, .functnbar2, .functnbar3, .functnbar4 { margin: .4em 2px .5em; padding: 4px 1em 5px; } 
.functnbar2 { background: url(../images/sw_maj_rond.gif) no-repeat bottom left; } 
.functnbar3 { background: url(../images/sw_maj_rond.gif) no-repeat bottom left #ddd; margin-top: 0; padding: 2px 1em 3px; } 
.functnbar4 { background: #888; margin: 1px 2px 0; white-space: nowrap; } 
.functnbar4 a { padding-left: .5em; padding-right: .5em; } 
.functnbar4 a, .functnbar4 a:link, .functnbar4 a:visited, .blue a, .app h3 a:hover, .application h2 a:hover { color: #fff; } 
.functnbar5 { margin: .4em 2px 0 0; padding: 4px 1em 2px 0; } 
.cumulative td, .subtotal,table td.c, .c { background: #bbb; } 