/* $Id: print.css,v 1.1 2005/06/09 10:58:50 losselli Exp $ */

#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks	{
	display: none;
	}
body.docs div.docs	{
	margin: 0 !important;
	border: none !important
	}
