.digest H1 { text-align: center }
.cat-title { text-align: center ; 
  padding-top:10px; 
  border-top-width: medium; 
  border-style: solid; 
  border-color: black;
  border-right-width : 0px;
  border-left-width : 0px;
  border-bottom-width : 0px;
  }
.modified {
  margin:20px;
  padding-left: 5px;
  border-left-width: 5px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-color:orange;
  border-style:solid
  }
.added {
  margin:20px;
  padding-left: 5px;
  border-left-width: 5px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-color:purple;
  border-style:solid
  }
.removed {
  margin:20px;
  padding-left: 5px;
  border-left-width: 5px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-color:red;
  border-style:solid
  }
.integrated {
  margin:20px;
  padding-left: 5px;
  border-left-width: 5px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-color:green;
  border-style:solid
  }

.digest A:link  { color:blue; background-color:white;  text-decoration: none; }
.digest A:active { color:white; background-color:blue; text-decoration: none; }
.digest A:visited { color: red; background-color:white; text-decoration: none;  }

.group_col { width: 1px }
.branch_col { width: 90% }
#bodycol th { background-color: lightgrey; text-align: left  }
#bodycol td, #bodycol th, #bodycol table { padding:0; border-collapse: separate; border : 1px solid black }
.branch_names { word-spacing: 2em; }

.index_branch { margin:10px; font-weight : bold; }
.index_mergedbranch { margin:10px; font-weight : bold; color:green; background-color: white }

.project { text-align: center }

.mergedbranch { margin:10px; font-weight : bold; background-color:green; color: white }
.mergedbranch A:link { background-color:green; color: lightgreen }
.branch { margin:10px; font-weight : bold; background-color:lightgrey ;  }
.quote { margin:20px; font-weight : bold; color:#880000 ;  }
.author { color:#880000 ;  text-transform: capitalize}
.change { margin-left: 22px;  }

.comment { font-weight:bold }
.file-list { text-indent: 30px }
.digest H2 { color:green }
