/* Abstracts */

.abstract {
    margin-top: 2em;
    margin-bottom: 2em;
}

.abstract .header .title {
    font-size: large;
    font-weight: bolder;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.abstract .header .by {
    font-size: smaller;
    font-style: italic;
    padding-top: 0em;
    margin-top: 0em;
}

.abstract .content {
    margin-left: 3em;
    text-align: justify;
}

.abstract .bio {
    margin-top: 1em;
    margin-left: 3em;
    text-align: justify;
    border-top: thin solid grey;
}

/* timetables */

.timetable { 
  border: 1px solid rgb(0, 62, 161); 
  border-collapse: collapse; 
  width: "100%";
}

.sessionbox, .communitybox, .devbox, .generalbox, .odfbox, .breakbox, .partybox, .keynotebox {
  border: 1px dotted rgb(0, 62, 161);
  text-align: left;
  vertical-align: top;
  padding: 0.5em;
}

.sessionbox, .timebox, .partybox, .keynotebox {
  border: 1px dotted rgb(0, 62, 161);
  background-color: #f0f0f0;
  padding: 0.5em;
}

.sessionbox, .timebox, .keynotebox {
    font-size: smaller;
    text-align: left;
}

.timebox {
    font-weight: bolder;
    text-align: left;
}

.breakbox {
    text-align: center;
    border: 1px solid rgb(0, 62, 161);
}

.communitybox {
    background-color: rgb(182, 198, 224);
}

.devbox {
    background-color: rgb(252, 179, 190);
}

.generalbox {
    background-color: rgb(255, 240, 181);
}

.odfbox {
    background-color: rgb(200, 231, 190);
}

.partybox, .keynotebox {
    text-align: center;
}

.sessionbox .links, .keynotebox .links {
    display: block;
}

a img {
    border: 0px;
}
