/* @override http://it.openoffice.org/ */
body {
	color: #000000;
	font: 12px Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
#main, #midcol, #navcol, #bodycol, #navcol, #navcolumn, #projecttools {
	background-color: #fafafa !important;
}

/* @group Corpo */
#main {
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
}

#bodycol {
	color: #444444;
	margin: 10px 0px 0px 0px;
}

#bodycol h2 {
	border-bottom: 2px solid #003388;
	color: #000000;
	font-size: 160%;
	margin: 1em 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}
#bodycol h3 {
	border-bottom: 2px solid #dddddd;
	color: #003388;
	font-size: 140%;
	margin: 1em 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}
#bodycol h4 {
	font-size: 120%;
	margin: 1em 0px 5px 0px;
}
#bodycol p {
	line-height: 150%;
	margin-left: 1em;
	font-size: 90%;
}
#bodycol ul {
	list-style: url('../graphics/list.png');
}
#bodycol li {
	line-height: 180%;
	font-size: 90%;
}
#bodycol a {
	color: #003388;
}
#bodycol a:hover {
	color: #ddddff;
}
/* @end */

/* @group Menu laterale */
#navcol {
	width: 180px;
	padding: 0px;
	font-size: 110%;
}
#navcol ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#navcol a {
	display: block;
	margin: 2px 0px;
}
#projecttools {
	margin: 10px 0px 0px 0px;
}
#projecttools dd {
	padding: 0px;
}
#projecttools li {
	padding: 0px;
}
.menu a {
	background-color: #dee4ee;
	border-left: 4px solid #003388;
	font-weight: bold;
	padding: 3px 3px;
	text-decoration: none;
	width: 160px;
}
.menu a:hover {
	color: #ffffff !important;
	text-decoration: none;
}
.submenu a {
	background-color: #eeeeff;
	background-image: none;
	border-left: 4px solid white;
	font-weight: normal;
	width: 155px;
}
.submenu a:hover {
	color: #cc3300 !important;
	text-decoration: none;
}
/* @end */


/* footer */
#footer {
	background: #ffffff url('../graphics/hshadow.png') repeat-x;
	border-width: 0px;
	font-size: 90%;
	margin-top: 0px;
	padding: 0.5em 0 1em 0;
	text-align: center;
}

/* Rimozione della barra orizzontale. */
#toptabs, #contextualinformation.contentpart, div#navigation {
        display:none;
}

.hide {
	display: none;
}
