img {
border: 0px;
}
h1 {
padding-left: 0.5em;
}
#leftcol {
display: none;
}
#bodytd {
padding: 0px; /* no content padding for homepage */
width: 100%;
margin: 0px;
}
#navcol {
display: none;
}
.warning {
border: solid 3px #f00;
background: #fdd;
padding: 1em;
}
.optionset {
padding-top: 5px;
float: right;
width: 100%;
}
.optionitem {
background: #eef;
padding: 0.5em;
padding-left: 1em;
padding-right: 1em;
}
.optionitem h2 {
margin-top: .7em;
margin-bottom: 0;
width: 100%;
line-height: 120%;
}
.optionset p {
padding-top: 0;
font-size: .9em;
}
.optionitem h2 a {
display: block;
width: 100%;
text-decoration: none;
color: #008
}
.optionitem h2 a:hover {
color: #448;
}
.optionitem:hover {
background: #f4f4ff;
}
.additionalinformation {
background: none;
width: 250px;
clear: none;
}

.additionalinformation ul li {
margin-left: 30px;
}

.additionalinformation h2 {
border-bottom: 1px solid #CCC;
margin-bottom: 20px;
margin-top: 0;
}
.additionalinformation h3 {
margin-left: 15px;
}
.additionalinformation #nativelang {
background-image: url("../imagini/nativelang.gif");
background-repeat: no-repeat;
background-position: top left;
}
.promotionalmessage {
float: left;
width: 67%;
padding: 0px;
padding-left: 1em;
}
#optionitemother {
background-color: #dceeb2;
background-repeat: no-repeat;
background-position: top right;
margin-bottom: 2em;
}
#optionitem1 {
background-color: #b9e06c;
background-image: url("../imagini/download.gif");
background-repeat: no-repeat;
background-position: top right;
margin-bottom: 0em;
}
#optionitem2 {
background-image: url("../imagini/cdrom.gif");
background-repeat: no-repeat;
background-position: top right;
margin-bottom: 2em;
}
#optionitem3 {
background-image: url("../imagini/p2p.gif");
background-repeat: no-repeat;
background-position: top right;
margin-bottom: 2em;
}
#optionitem4 {
background-color: #fcc084;
background-image: url("../imagini/snapshot.gif");
background-repeat: no-repeat;
background-position: top right;
margin-bottom: 2em;
}

#optionitem1:hover {
background-color: #c7e094;
}
#optionitem4:hover {
background-color: #ffcb99;
}
#optionitemother:hover {
background-color: #edf9d1;
}
#downloadextendedtext ul {
background: none;
font-weight: bold;
list-style: none;
margin: 0px;
padding: 0px;
font-size: 2em;
width: 100%;
float: left;
color: #333;
padding-left: 20px;
}
#downloadextendedtext ul a {
color: #333;
text-decoration: none;
background: none;
}
#downloadextendedtext p {
background: none;
}
#downloadextendedtext ul a:hover {
color: #666;
text-decoration: none; }
#downloadextendedtext ul li {
float: left;
margin: 0px;
padding: 4px;
margin-right: .5em;
border: 1px #D7EFA4 solid;
margin-bottom: .5em;
width: 7em;
height: 1.7em;
}
hr {
visibility:hidden;
}
#downloadextendedtext ul.nonqabuilds li {
width: auto;
}
#downloadextendedtext ul.nonqabuilds {
font-size: 1.4em;
}
#downloadextendedtext ul li:hover {
background: #D7EFA4;
}
#downloadextendedtext ul li ul {
font-weight: normal;
width: auto;
margin: 0px;
padding: 0px;
font-size: .4em;
color: #555;
}
/* .4em is a little bit too small for nonqa */
#downloadextendedtext ul.nonqabuilds li ul {
font-size: .5em;
}
/*Overrides some of the special settings for the parent li*/
#downloadextendedtext ul li ul li {
border: 0px none;
margin: 0px;
padding: 0px;
width: auto;
margin-right: .4em;
}
#downloadextendedtext ul li ul li:hover {
background: none;
}

#largetable table tr.even td {
    background: none;
}

#largetable table tr.odd td {
    background: lightgrey;
}
