body {
	font-family: sans-serif;
}
#breadcrumbs {
	float: right;
}
.nonscreen, #minilinks, #minitabs, #subheader, #navigation, #navcol, #footer, #leftcol, #header, #subheader, #headertools {
	display:none;
}
div.printbreak { 
	page-break-after: always;
} 