#navbar_mn {
  visibility:visible;
  position:static; float:right; 
  margin-left:5px; margin-bottom:20px;
  border-spacing:0px; padding:0px;
  font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
  background-color: #efefef;
}

#navbar_mn th{
  background-color: #06348C;  color: #fff;
  border-style:none;
  padding:3px;
  padding-top:5px;
}

#navbar_mn th.dev{
  background-color:#fc9; color:#000000;
}

#navbar_mn th a:link, #navbar_mn th a:visited {
  text-decoration: none !important;  color: #fff;
}

#navbar_mn td {
  background-color: #efefef; color: 0;
  border-style:none;
  padding:1px;
  padding-left:6px;
  text-indent:-3px;
  }

#navbar_mn td a:link, #navbar_mn td a:visited {
  text-decoration: none !important;  color: 0;
}


/* Folgendes von Andreas */
ul#navbar_mn, ul#navbar_mn ul{
list-style: none;
background: #fff;
}

ul#navbar_mn{
width: 16em;
margin: 0px;
padding: 0;
color: #555;
background: #fff;
}

ul#navbar_mn li {
  font-size: .9em;
  background-color: #fff;
  background-image: url("../pic/navbar.png");
  background-repeat: repeat-y;
  background-position: top left;

  color: #06348C;
  border-bottom: 0px none;
  border-right: 0px none;

  padding: 6px; /* war: 2px */

  padding-left: 6px;

  margin: 0 0 0 1em !important;

  font-weight: bold; 
  text-align:left;
}

ul#navbar_mn li a:link {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}
ul#navbar_mn li a:hover {
text-decoration: none !important;
color: #698ed1;
}
ul#navbar_mn li a:visited {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}

ul#navbar_mn li ul {
display: block;
width: 100%;
margin: 0;
padding: 2px;
padding-left: 0.5em;
margin-left: -5px;
margin-top: 2px;
margin-bottom: -2px;
border: 0;
}

ul#navbar_mn li ul li{
background-repeat: no-repeat;
background-position: 0em 0em;
font-weight: bold; 
display: block;
width: 100%;
margin: 0;
border: 0;
text-align:left;
background-color: #fff;
color: #06348C;

}

ul#navbar_mn li ul li a:link {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}
ul#navbar_mn li ul li a:visited {
text-decoration: none !important;
font-weight: normal; 
color: #06348C;
}
ul#navbar_mn li ul li a:hover {
text-decoration: none !important;
font-weight: normal; 
color: #698ed1;
}


/*-------------------------------------------------------------*/
