/**************************************************************
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 *************************************************************/

/*
Unfortunatelly didn't find a way to add ids to UL element with MarkDown

ul.test {
    list-style: none;
    margin: 10px;
    padding: 10px;
}
*/

li.product-writer {
    background-image: url(/product/icons/writer.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 15px;
    list-style: none;
    margin: .4em 0;
    padding: 10px 10px 3px 50px;
}

li.product-calc {
    background-image: url(/product/icons/calc.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 15px;
    list-style: none;
    margin: .4em 0;
    padding: 10px 10px 3px 50px;
}

li.product-impress {
    background-image: url(/product/icons/impress.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 15px;
    list-style: none;
    margin: .4em 0;
    padding: 10px 10px 3px 50px;
}

li.product-draw {
    background-image: url(/product/icons/draw.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 15px;
    list-style: none;
    margin: .4em 0;
    padding: 10px 10px 3px 50px;
}

li.product-base {
    background-image: url(/product/icons/base.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 15px;
    list-style: none;
    margin: .4em 0;
    padding: 10px 10px 3px 50px;
}

li.product-math {
    background-image: url(/product/icons/math.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 15px;
    list-style: none;
    margin: .4em 0;
    padding: 10px 10px 3px 50px;
}
