body			{ font-family: helvetica; font-size: 10pt }

font.heading	{ font-size: medium; text-align: center; color: white; font-family: helvetica  }
font.blue		{ color: #003399  }
font.white		{ color: #FFFFFF; font-weight: 800; font-size: 110%  }
font.bold		{ color: #003399; font-weight: 800 }
font.sml		{ color: #003399; font-size: 70% }
font.lrg		{ color: #003399; font-size: 110% }
h1				{ color: #003399; font-weight: 700 }
h2				{ color: #003399; font-weight: 500 }
h3              { color: #003399; text-align: center }

a:link			{ color: #009933; text-decoration: none  }
a:visited		{ color: #009933; text-decoration: none  }
a:link.bar		{ color: white; text-decoration: none }
a:visited.bar	{ color: white; text-decoration: none }
a:hover.bar		{ color: white; background: #3366CC }

table.navbar	{ background: #003399; border-collapse: collapse }
table.clear		{ border-collapse: collapse }
td				{ font-family: helvetica; font-weight: 500; font-size: 90% }
td.navlink		{ font-family: helvetica; font-weight: 800; font-size: 90% }
td.navsel		{ color: #3399FF; font-family: helvetica; font-weight: 800; font-size: 90%; background: #003399 }
td.blank		{ background: white }
td.subnavlink	{ font-family: helvetica; font-weight: 600; font-size: 80%; background: #003399 }
td.subnavsel	{ color: #66CCFF; font-family: helvetica; font-weight: 600; font-size: 80%; background: #2255BB }
<!-- styles for testing page -->
tr.desc         { background: #F0F0F0; font-size: large; text-align: center }
td.desc         { background: #F0F0F0; font-size: large; text-align: center }
td.module       { background: #2255BB; color: #66CCFF; font-weight: bold; text-align: center }
td.fade1        { background: #4477DD }
td.fade2        { background: #6699FF }
tr.pass         { background: #33FF99 }
td.pass         { background: #33FF99 }
tr.part         { background: #FF8800 }
td.part         { background: #FF8800 }
tr.fail         { background: #EB1047 }
td.fail         { background: #EB1047 }
tr.bad          { background: #C0C0C0 }
td.bad          { background: #C0C0C0 }
tr.pend         { background: #ACBBF9 }
td.pend         { background: #ACBBF9 }


hr              { width: 75% }
div.blue		{ background: #2255BB; width: 50% }
img				{ vertical-align: top }

li				{ list-style-type: circle }

dt				{ color: #003399; font-weight: 800; font-size: 120% }
