 #if( $acl.hasPermission("Mailing List - Add", $currentDomain) )
 <div><a href="/project/www/docs/ProjectOwnerMailingLists.html#mailadmin">Learn 
 the difference between the list types?</a></div>
 #end 
 #if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectDocuments.html#aboutdocs">Learn 
 more about project documents?</a>
 </div>
 #end
 #if( $acl.hasPermission("Project Document - Suggest", $currentDomain) )
 <div><a href="/project/www/docs/ProjectDocuments.html#contributedocs">Add documents?</a>
</div>
 #end
