 #if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectSource.html#browsesource">Browse project source code?</a></div>
#end
 #if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ddUsingCVS_command-line.html#gettingsource">Get a copy of project source files?</a></div>
#end
 #if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ddCVS.html">Learn more about CVS?</a></div>
#end
 #if( $acl.hasPermission("Project Page - View", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectSource.html#cvsclients">Find a CVS client?</a></div>
#end
