 #if( $acl.hasPermission("Project Page - View ", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMail.html#aboutmail">Learn about project mailing lists?</a></div>
#end
 #if( $acl.hasPermission("Project Page - View ", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMail.html#mailsubscribe">Join a mailing list?</a></div>
#end
 #if( $acl.hasPermission("Project Page - View ", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMail.html#mailfeatures">Use mailing lists?</a></div>
#end
 #if( $acl.hasPermission("Project Page - View ", $currentDomain) ) 
 <div><a href="/project/www/docs/ProjectMail.html#mailarchives">View older messages in lists?</a></div>
#end
 
