 #if( $acl.hasPermission("Project News - Suggest", $currentDomain) ) <div><a href="/project/www/docs/ProjectOwnerNews.html">Know what kind of news to add?</a></div>
#end
 #if( $acl.hasPermission("Project News - Suggest", $currentDomain) ) <div><a href="/project/www/docs/ProjectOwnerNews.html#situating">Learn more about publishing project news?</a></div>
#end
