 #if( $acl.hasPermission("ProjectGroup - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#editprojgroup">Add 
 other projects to this group?</a> </div>
 #end
 #if( $acl.hasPermission("ProjectGroup - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#addtoprojgroup">Add 
 user groups to this project group?</a></div>
#end
 #if( $acl.hasPermission("ProjectGroup - Add", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminProjectGroups.html#manageroles">Grant 
 roles to users in this group?</a> </div>
 #end
