 #if( $acl.hasPermission("Role - Edit", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#aboutroles">Learn more about roles?</a></div>
#end
 #if( $acl.hasPermission("Role - Edit", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#editroles">Add or remove permissions?</a></div>
#end
 #if( $acl.hasPermission("Role - Edit", $currentProject) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#viewaddresources.htm">Find out more about resources?</a></div>
#end
