 #if( $acl.hasPermission("Role - Edit", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#editroles">Learn more about actions?</a></div>
#end
 #if( $acl.hasPermission("Resource - Edit", $currentDomain) ) 
 <div><a href="/project/www/docs/DomAdminRoles.html#viewaddresources">Find out more about resources?</a></div>
#end
