img.inline { margin: 0; margin-bottom: 1px; vertical-align: bottom; }
a          { text-decoration: none; color: blue; }
a:hover    { text-decoration: underline; color: blue; }
ul         { list-style-type: square; }
ul, ol     { margin: 0; padding: 0 0 0 1.3em; }


body.linkbar { padding-top: 15px; }
div.linkbar { 
  position: fixed; 
  top: 0px; 
  left: 0px;
  margin: 0px; 
  background-color: #efebe7; 
  border-bottom: 1px gray solid; 
  width: 100%;
  padding: 2px 5px;
  font-weight: bold;
}
div.linkbar ul { background-color: inherit; display: inline; 
     padding-left: 0.7em; 
}
div.linkbar ul li { 
     display: inline;
     border-left: 1px gray solid; 
     padding-left: 0.7em; 
     padding-right:  0.71em; 
   } 
div.linkbar ul li.gray a { color: gray; }
div.linkbar ul li.red a { color: red; }
