.qa tr.MainTableHeader
{
    background-color: #003399;
    color: #ffffff;
    font-weight:bold;
    font-family:Helvetica;
    text-align:center;
    font-size:large;
}

.qa tr.InnerTableHeader
{
    background-color: #BBBBBB;
    color: #000000;
    font-weight:bold;
    font-family:Helvetica;
}

.qa tr.TableRow
{
    background-color: #f0f0f0;
    font-family:Helvetica;
}

.qa td.RowHeader
{
    font-weight:bold;
}

.with_border
{
    border:solid 1px !important;
}

