

/** OOo *************************************************************
    OpenOffice.org Japanese Native-Language Project
                                             web page style sheet

    * This is a style sheet for screen medias.
    * This file is for all projects in ja.oo.o.
    * These styles were defined by WhiteApple in Jan.9.2003
*********************************************************************/

/* Tag based style */

body {
  background:#ffffff none ;
  font-size:medium ; color:#333333 ; line-height:150%
}

h2 {
  background:#ffffff url("/stylesheets/bgimages/h2_back.gif") repeat-x ;
  color:#333333 ;
  margin-top:2em ;
  height:27px
}

h4 {
  margin-top:0em
}

dt {
  font-weight:bold
}

dd {
  margin-bottom:1em
}

th {
  font-weight:normal
}

a {
  text-decoration:none
}

a:hover {
  text-decoration:underline
}

h2 a:hover {
  text-decoration:none
}


/* Classified elements */

a.in-writers-and-designers {
  text-decoration:underline
}

.obj-at-left {
  margin:0em 1em 1em 0em ;
  float:left
}

.clear-left {
  clear:left
}

.obj-at-right {
  margin:0em 0em 1em 1em ;
  float:right
}

.clear-right {
  clear:right
}

.notice {
  margin:1em 4em ;
  border:#003399 medium solid
}

.notice-title {
  background:#003399 none ; color:#ffffff ;
  font-size:medium ; font-weight:bold ;
  margin:0em ; padding:0em 1em
}

.notice-sentence {
  margin:1em
}

.cell-of-title {
  background:#003399 none ;
  color:#ffffff
}

.row-of-even-numbered {
  background:#ccffff none
}

img.as-title-icon {
  vertical-align:middle;
  margin-right:0.5em
}

strong.loud {
  color:#ff0000
}


/* Identified elements */

#main-content {
  margin:0em 2em
}

#writers-and-designers {
  margin:1em 0em ;
  text-decoration:underline ;
  text-align:right
}

#html-page-id {
  text-align:right
}


/***** EOF *****/
