/** OOo *************************************************************
    OpenOffice.org Japanese Native-Language Project
                                             web page style sheet

    * This is a style sheet for screen medias.
    * This file is for Document Project only!
    * These styles were defined by WhiteApple in Jan.9.2003
*********************************************************************/

/* Tag based style */

blockquote {
  background:#ffffdd none ;
  padding:1em
}


/* Classified elements */

.docs-more-info {
  background:#ffffdd none ; 
  border:medium #003399 double ;
  padding:1em ; margin:1em 4em
}

.docs-cli {
  color:#ffffff ; background:#000000 none ;
  padding:0.5em ;
  font-family:monospace ; line-height:130%
}

.docs-starbasic-code {
  font-family:monospace ; line-height:130%
}


/* Identified elements */


/***** EOF *****/
